{{define "title"}}账户余额 {{end}}
{{define "seo"}}<meta name="keywords" content="{{.setting.SeoKeywords}}">
<meta name="description" content="{{.setting.SeoDescription}}">{{end}}
{{define "content"}}
<div class="row">
    <div class="col-md-9 col-sm-6">
        <div class="sep20"></div>
        
        <div style="border-bottom: 1px solid #e2e2e2;">
            <div class="pull-right" style="margin-top: 8px;">
                <a href="/top/rich" class="tab">社区财富排行榜</a>
                <a href="/gift" class="tab">物品兑换</a>
                <a href="/balance/add" class="tab">充值</a>
            </div>
            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">账户余额</li>
            </ol>
        </div>

        <div class="page box_white">
            <div class="cell">
                <p class="c9">当前账户余额</p>
                <div class="balance_area" style="font-size: 24px; line-height: 24px;">
                    {{if .me.Gold}}
                    {{.me.Gold}} <img src="/static/img/gold_48.png" alt="" width="16px">
                    {{end}}
                    {{if .me.Silver}}
                    {{.me.Silver}} <img src="/static/img/silver_48.png" alt="" width="16px">
                    {{end}}
                    {{.me.Copper}} <img src="/static/img/copper_48.png" alt="" width="16px">
                </div>
            </div>
            <div>
                <table cellpadding="5" cellspacing="0" border="0" width="100%" class="data table-hover">
                    <tr>
                        <th width="130" class="h">时间</th>
                        <th width="100" class="h">类型</th>
                        <th width="60" class="h">数额</th>
                        <th width="60" class="h">余额</th>
                        <th width="auto" class="h" style="border-right: none;">描述</th>
                    </tr>
                    {{range .details}}
                    <tr>
                        <td class="d"><small class="c9">{{.CreatedAt}}</small></td>
                        <td class="d">{{.TypeShow}}</td>
                        <td class="d" style="text-align: right;">
                            <span class="{{if gt .Num 0}}positive{{else}}negative{{end}}"><strong>{{.Num}}</strong></span>
                        </td>
                        <td class="d" style="text-align: right;">{{.Balance}}</td>
                        <td class="d" style="border-right: none;"><span class="c9">{{noescape .Desc}}</span></td>
                    </tr>
                    {{end}}
                </table>
            </div>
        </div>

        <div class="page box_white" style="margin-top: 20px;">
            <div class="cell">
                发布主题前，请仔细阅读 <a class="btn btn-default btn-sm" href="/markdown">Markdown 教程</a>，能让你的帖子有更加清晰的排版！
            </div>
        </div>

        {{if not .details}}
        <div class="page box_white" style="margin-top: 20px;">
            <div class="cell">
                <div class="header">可完成的任务</div>
                <div class="inner_content">
                    <h2>获得初始资本</h2>
                    欢迎来到 {{.setting.Name}}，这是一个关于分享、探索和学习成长的社区。你在进入这里时，你会获得 2000 铜币。接下来你在社区内的一切行为，包括创建主题和回复等，都将会消耗铜币。而当你完成了一些有意义的事情时，你就会收获铜币，以及，好心情。<strong>请优先发布内容在 <font color="red">主题</font> 中</strong>，发布自己的原创文章可以选择发布在文章中，否则可能会被<font color="red">扣除铜币</font>！
                    <div class="sep20"></div>
                    <strong>任务奖励</strong>
                    <div class="sep10"></div>
                    <div class="balance_area" style="">20 <img src="/static/img/silver_48.png" alt="" width="16px"> </div>
                    <div class="sep20"></div>
                    <a class="btn btn-default btn-sm" href="/mission/complete/1">完成任务</a>
                </div>
            </div>
        </div>
        {{end}}
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="sep20"></div>
        
        {{include "common/my_info.html" .}}
    </div>
</div>
{{end}}
{{define "css"}}
<link rel="stylesheet" type="text/css" href="{{.static_domain}}/static/dist/css/table_data.min.css">
<style type="text/css">
.positive { color: #0aa31c; }
.negative { color: #ff3c00; }
</style>
{{end}}
{{define "js"}}
{{end}}
