{{define "title"}}账户余额 {{end}}
{{define "seo"}}<meta name="keywords" content="{{.setting.SeoKeywords}}">
<meta name="description" content="{{.setting.SeoDescription}}">{{end}}
{{define "content"}}

<div class="row">
    <div class="col-md-9 col-sm-6">
        <div class="sep20"></div>
        
     
        {{if not .details}}
        <div class="page box_white" style="margin-top: 20px;">
            <div class="cell">
                <div class="header">可完成的任务</div>
                <div class="inner_content">
                    <h2>获得初始资本</h2>
                    欢迎来到 {{.setting.Name}}，这是一个关于分享和探索的社区。你在进入这里时，你会获得 2000 铜币。接下来你在社区内的一切行为，包括创建主题和回复等，都将会消耗铜币。而当你完成了一些有意义的事情时，你就会收获铜币，以及，好心情。
                    <div class="sep20"></div>
                    <strong>任务奖励</strong>
                    <div class="sep10"></div>
                    <div class="balance_area" style="">20 <img src="/static/img/silver_48.png" alt="" width="16px"> </div>
                    <div class="sep20"></div>
                    <a class="btn btn-default btn-sm" href="/mission/complete/1">完成任务</a>
                </div>
            </div>
        </div>
        {{end}}
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="sep20"></div>
        
        {{include "common/my_info.html" .}}
    </div>
</div>
{{end}}
{{define "css"}}
<link rel="stylesheet" type="text/css" href="/static/css/table_data.css">
<style type="text/css">
.positive { color: #0aa31c; }
.negative { color: #ff3c00; }
</style>
{{end}}
{{define "js"}}
{{end}}
