{{define "title"}}账户余额 {{end}}
{{define "seo"}}<meta name="keywords" content="{{.setting.SeoKeywords}}">
<meta name="description" content="{{.setting.SeoDescription}}">{{end}}
{{define "content"}}


                                                    
    <div class="widget__subnav mb30">

    <div class="row">
        <div class="panel panel-default mb0">
            <div class="panel-heading clearfix" style="line-height: 24px">
                <a class="avatar pull-left" href="/u/liberxue" style="background-image: url('https://sfault-avatar.b0.upaiyun.com/261/346/261346744-56cef4608a250_big64')"></a>
                <span class="score pull-left ml10 mr10">587</span>
                <div class=""><span class="badge badge--o badge--sf badge--gold"><i class="badge__icon"></i></span><span class="profile__sidebar--award-badge-count">1</span><span class="badge badge--o badge--sf badge--silver"><i class="badge__icon"></i></span><span class="profile__sidebar--award-badge-count">1</span><span class="badge badge--o badge--sf badge--bronze"><i class="badge__icon"></i></span><span class="profile__sidebar--award-badge-count">13</span></div>            </div>
            <div class="panel-body pt0 pb0 pl0 pr0">
                                    <a class="report" href="https://segmentfault.com/g/1570000009280187"><small> 领取今日的登录奖</small></a>
                                <a class="widget__subnav-item borderRight borderBottom " href="/user/draft">
                    <span class="icon">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </span>
                    <span class="text">草稿</span>
                </a>
                <a class="widget__subnav-item borderRight borderBottom " href="/user/note">
                    <span class="icon">
                        <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                    </span>
                    <span class="text">笔记</span>
                </a>
                <a class="widget__subnav-item borderRight borderBottom " href="/user/bookmarks">
                    <span class="icon">
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                    </span>
                    <span class="text">收藏</span>
                </a>
                <a class="widget__subnav-item borderBottom " href="/u/liberxue/questions/following">
                    <span class="icon">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </span>
                    <span class="text">关注</span>
                </a>
                <a class="widget__subnav-item borderRight borderBottom " href="/user/invited">
                    <span class="icon">
                        <i class="fa fa-smile-o" aria-hidden="true"></i>
                                            </span>
                    <span class="text">受邀回答</span>
                </a>
                <a class="widget__subnav-item borderRight borderBottom" href="/users">
                    <span class="icon">
                        <i class="fa fa-list-ol" aria-hidden="true"></i>
                    </span>
                    <span class="text">排行榜</span>
                </a>
                <a class="widget__subnav-item borderRight borderBottom" href="/badges">
                    <span class="icon">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                    </span>
                    <span class="text">徽章</span>
                </a>
                <a class="widget__subnav-item borderBottom " href="/review">
                    <span class="icon">
                        <i class="fa fa-anchor" aria-hidden="true"></i>
                                            </span>
                    <span class="text">众审中心</span>
                </a>
                <a class="widget__subnav-item borderRight " href="/user/invitation">
                    <span class="icon">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                    </span>
                    <span class="text">邀请朋友</span>
                </a>
                <a class="widget__subnav-item borderRight " href="/community">
                    <span class="icon">
                        <i class="fa fa-life-ring" aria-hidden="true"></i>
                    </span>
                    <span class="text">社区服务</span>
                </a>
                <a class="widget__subnav-item borderRight" href="/experts">
                    <span class="icon">
                        <i class="fa fa-money" aria-hidden="true"></i>
                                            </span>
                    <span class="text">付费问答</span>
                </a>
                            </div>
        </div>

    </div>
    </div>

                
                                <div id="mm_124884735_33830642_122598415" class="mb10"></div>
                <div id="mm_124884735_33830642_122600360" class="mb25"></div>
                                
                                    <div data-api="/api/live/recommend">
        <script type="text/template">
            <div class="widget-box widget_lives">
                <h2 class="widget-box__title">
                    讲堂推荐
                    <i class="fa fa-youtube-play fa-sm" aria-hidden="true"></i>
                    <a href="/lives" class="pull-right more">更多</a>
                </h2>
     

                <div style="padding-left:4px;">
                    <div class="line">
                        <% _.each(data,function(d){ %>
                        <div class="item">
                            <span class="thePoint"></span>
                            <p class="startWord"><%- d.startWord %></p>
                            <div>
                                <a href="<%-d.user.url%>" target="_blank" class="pull-left"><img src="<%- d.user.avatarUrl %>" class="lecturer_avater"> 
                                </a>
                                <div class="message">
                                    <a href="<%- d.url%>" target="_blank" class="lecturer_title">
                                        <div class="titlebox"><%- d.title %></div>
                                    </a>
                                    <p class="">
                                        <a href="<%-d.user.url%>" target="_blank" class="lecturer_name"><%-d.user.name %></a><span class="split"></span><span class="joinedUsers"><%- d.joinedUsers %> 人参与</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </script>
    
            <div class="widget-box widget_lives">
                <h2 class="widget-box__title">
                    讲堂推荐
                    <i class="fa fa-youtube-play fa-sm" aria-hidden="true"></i>
                    <a href="/lives" class="pull-right more">更多</a>
                </h2>
     

                <div style="padding-left:4px;">
                    <div class="line">
                        
                        <div class="item">
                            <span class="thePoint"></span>
                            <p class="startWord">2017-08-16 周三</p>
                            <div>
                                <a href="/u/mercyblitz" target="_blank" class="pull-left"><img src="https://sfault-avatar.b0.upaiyun.com/119/055/1190556508-5923c3e3428ee_big64" class="lecturer_avater"> 
                                </a>
                                <div class="message">
                                    <a href="/l/1500000009971764" target="_blank" class="lecturer_title">
                                        <div class="titlebox">Java 微服务实践 - Spring Boot 系列（十三）WebSocket</div>
                                    </a>
                                    <p class="">
                                        <a href="/u/mercyblitz" target="_blank" class="lecturer_name">mercyblitz</a><span class="split"></span><span class="joinedUsers">97 人参与</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="item">
                            <span class="thePoint"></span>
                            <p class="startWord">2017-08-19 周六</p>
                            <div>
                                <a href="/u/mercyblitz" target="_blank" class="pull-left"><img src="https://sfault-avatar.b0.upaiyun.com/119/055/1190556508-5923c3e3428ee_big64" class="lecturer_avater"> 
                                </a>
                                <div class="message">
                                    <a href="/l/1500000009978309" target="_blank" class="lecturer_title">
                                        <div class="titlebox">Java 微服务实践- Spring Boot 系列（十四）WebService</div>
                                    </a>
                                    <p class="">
                                        <a href="/u/mercyblitz" target="_blank" class="lecturer_name">mercyblitz</a><span class="split"></span><span class="joinedUsers">89 人参与</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="item">
                            <span class="thePoint"></span>
                            <p class="startWord">2017-08-22 周二</p>
                            <div>
                                <a href="/u/joyqi" target="_blank" class="pull-left"><img src="https://sfault-avatar.b0.upaiyun.com/261/898/2618981758-1030000000091293_big64" class="lecturer_avater"> 
                                </a>
                                <div class="message">
                                    <a href="/l/1500000010496163" target="_blank" class="lecturer_title">
                                        <div class="titlebox">Typecho 那些事（上）</div>
                                    </a>
                                    <p class="">
                                        <a href="/u/joyqi" target="_blank" class="lecturer_name">joyqi</a><span class="split"></span><span class="joinedUsers">6 人参与</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="item">
                            <span class="thePoint"></span>
                            <p class="startWord">2017-08-24 周四</p>
                            <div>
                                <a href="/u/kingmario" target="_blank" class="pull-left"><img src="https://sfault-avatar.b0.upaiyun.com/168/908/168908076-58dc9c679473b_big64" class="lecturer_avater"> 
                                </a>
                                <div class="message">
                                    <a href="/l/1500000010227865" target="_blank" class="lecturer_title">
                                        <div class="titlebox">让事件流起来——RxJS一小时入门</div>
                                    </a>
                                    <p class="">
                                        <a href="/u/kingmario" target="_blank" class="lecturer_name">KingMario</a><span class="split"></span><span class="joinedUsers">61 人参与</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="item">
                            <span class="thePoint"></span>
                            <p class="startWord">2017-09-10 周日</p>
                            <div>
                                <a href="/u/kailuntalk" target="_blank" class="pull-left"><img src="https://sfault-avatar.b0.upaiyun.com/281/148/2811484464-596dac02ef825_big64" class="lecturer_avater"> 
                                </a>
                                <div class="message">
                                    <a href="/l/1500000010322132" target="_blank" class="lecturer_title">
                                        <div class="titlebox">从0到1解析Mybatis源码(一)</div>
                                    </a>
                                    <p class="">
                                        <a href="/u/kailuntalk" target="_blank" class="lecturer_name">凯伦说</a><span class="split"></span><span class="joinedUsers">5 人参与</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>


                    <div data-type="widget" data-api="/api/user/ranking">
        <script type="text/template">

            <div class="widget-box">
                <h2 class="widget-box__title">
                    排行榜
                    <span class="userstab text-muted pull-right ">
                            <a href="javascript:void(0);" data-tab="Daily" class="active">今天</a>
                        &middot;
                        <a href="javascript:void(0);" data-tab="Weekly">本周</a>
                        &middot;
                        <a href="/users">更多</a>
                        </span>
                </h2>
                <ol id="usersDaily" class="widget-top10">
                    <% _.each(daily,function(d){ %>
                    <li class="text-muted">
                        <img class="avatar-24" src="<%- d.avatarUrl %>"/>
                        <a href="<%- d.url %>" class="ellipsis">
                            <%= d.name %>
                        </a>
                        <span class="text-muted pull-right">+<%- d.incr %></span>
                    </li>
                    <% }) %>
                </ol>
                <ol id="usersWeekly" class="widget-top10  hidden">
                    <% _.each(weekly,function(d){ %>
                    <li class="text-muted">
                        <img class="avatar-24" src="<%- d.avatarUrl %>"/>
                        <a href="<%- d.url %>" class="ellipsis">
                            <%= d.name %>
                        </a>
                        <span class="text-muted pull-right">+<%- d.incr %></span>
                    </li>
                    <% }) %>
                </ol>
            </div>

        </script>
    

            <div class="widget-box">
                <h2 class="widget-box__title">
                    排行榜
                    <span class="userstab text-muted pull-right ">
                            <a href="javascript:void(0);" data-tab="Daily" class="active">今天</a>
                        ·
                        <a href="javascript:void(0);" data-tab="Weekly">本周</a>
                        ·
                        <a href="/users">更多</a>
                        </span>
                </h2>
                <ol id="usersDaily" class="widget-top10">
                    
                    <li class="text-muted">
                        <img class="avatar-24" src="https://sfault-avatar.b0.upaiyun.com/226/160/2261608449-597ea430d4b53_big64">
                        <a href="/u/yszou" class="ellipsis">
                            yszou
                        </a>
                        <span class="text-muted pull-right">+128</span>
                    </li>
                    
                    <li class="text-muted">
                        <img class="avatar-24" src="https://sfault-avatar.b0.upaiyun.com/105/641/105641976-597194db4d235_big64">
                        <a href="/u/xuchaobei" class="ellipsis">
                            xuchaobei
                        </a>
                        <span class="text-muted pull-right">+77</span>
                    </li>
                    
                    <li class="text-muted">
                        <img class="avatar-24" src="https://sfault-avatar.b0.upaiyun.com/166/070/1660701561-58cb718a7a415_big64">
                        <a href="/u/tcyprobe" class="ellipsis">
                            好好地
                        </a>
                        <span class="text-muted pull-right">+72</span>
                    </li>
                    
                    <li class="text-muted">
                        <img class="avatar-24" src="https://sfault-avatar.b0.upaiyun.com/343/026/3430268367-55b1c18b74dde_big64">
                        <a href="/u/marsgt" class="ellipsis">
                            熊猫桑
                        </a>
                        <span class="text-muted pull-right">+63</span>
                    </li>
                    
                    <li class="text-muted">
                        <img class="avatar-24" src="https://static.segmentfault.com/v-59883fff/global/img/user-64.png">
                        <a href="/u/could123" class="ellipsis">
                            could
                        </a>
                        <span class="text-muted pull-right">+59</span>
                    </li>
                    
                    <li class="text-muted">
                        <img class="avatar-24" src="https://sfault-avatar.b0.upaiyun.com/309/084/3090842990-57a17d46de584_big64">
                        <a href="/u/mongoing" class="ellipsis">
                            Mongoing中文社区
                        </a>
                        <span class="text-muted pull-right">+56</span>
                    </li>
                    
                    <li class="text-muted">
                        <img class="avatar-24" src="https://sfault-avatar.b0.upaiyun.com/124/603/124603685-58b90f003e406_big64">
                        <a href="/u/qzuser_57fb1d5db527e" class="ellipsis">
                            Tony_Zby
                        </a>
                        <span class="text-muted pull-right">+55</span>
                    </li>
                    
                    <li class="text-muted">
                        <img class="avatar-24" src="https://sfault-avatar.b0.upaiyun.com/135/648/1356480562-593619acb2750_big64">
                        <a href="/u/lin_r" class="ellipsis">
                            Lin_R
                        </a>
                        <span class="text-muted pull-right">+51</span>
                    </li>
                    
                    <li class="text-muted">
                        <img class="avatar-24" src="https://sfault-avatar.b0.upaiyun.com/219/282/2192820553-593febf9e2341_big64">
                        <a href="/u/chen93" class="ellipsis">
                            守候你
                        </a>
                        <span class="text-muted pull-right">+49</span>
                    </li>
                    
                    <li class="text-muted">
                        <img class="avatar-24" src="https://static.segmentfault.com/v-59883fff/global/img/user-64.png">
                        <a href="/u/spencerht" class="ellipsis">
                            spencerht
                        </a>
                        <span class="text-muted pull-right">+49</span>
                    </li>
                    
                </ol>
                <ol id="usersWeekly" class="widget-top10  hidden">
                    
                    <li class="text-muted">
                        <img class="avatar-24" src="https://sfault-avatar.b0.upaiyun.com/226/160/2261608449-597ea430d4b53_big64">
                        <a href="/u/yszou" class="ellipsis">
                            yszou
                        </a>
                        <span class="text-muted pull-right">+281</span>
                    </li>
                    
                    <li class="text-muted">
                        <img class="avatar-24" src="https://sfault-avatar.b0.upaiyun.com/124/603/124603685-58b90f003e406_big64">
                        <a href="/u/qzuser_57fb1d5db527e" class="ellipsis">
                            Tony_Zby
                        </a>
                        <span class="text-muted pull-right">+211</span>
                    </li>
                    
                    <li class="text-muted">
                        <img class="avatar-24" src="https://sfault-avatar.b0.upaiyun.com/219/282/2192820553-593febf9e2341_big64">
                        <a href="/u/chen93" class="ellipsis">
                            守候你
                        </a>
                        <span class="text-muted pull-right">+174</span>
                    </li>
                    
                    <li class="text-muted">
                        <img class="avatar-24" src="https://sfault-avatar.b0.upaiyun.com/166/070/1660701561-58cb718a7a415_big64">
                        <a href="/u/tcyprobe" class="ellipsis">
                            好好地
                        </a>
                        <span class="text-muted pull-right">+136</span>
                    </li>
                    
                    <li class="text-muted">
                        <img class="avatar-24" src="https://sfault-avatar.b0.upaiyun.com/105/641/105641976-597194db4d235_big64">
                        <a href="/u/xuchaobei" class="ellipsis">
                            xuchaobei
                        </a>
                        <span class="text-muted pull-right">+117</span>
                    </li>
                    
                    <li class="text-muted">
                        <img class="avatar-24" src="https://static.segmentfault.com/v-59883fff/global/img/user-64.png">
                        <a href="/u/kelvin_2004" class="ellipsis">
                            kelvin_2004
                        </a>
                        <span class="text-muted pull-right">+106</span>
                    </li>
                    
                    <li class="text-muted">
                        <img class="avatar-24" src="https://sfault-avatar.b0.upaiyun.com/210/453/2104533600-56cd905dc3113_big64">
                        <a href="/u/tigerb" class="ellipsis">
                            TIGERB
                        </a>
                        <span class="text-muted pull-right">+97</span>
                    </li>
                    
                    <li class="text-muted">
                        <img class="avatar-24" src="https://sfault-avatar.b0.upaiyun.com/472/437/472437755-585a212db2d67_big64">
                        <a href="/u/kstd123" class="ellipsis">
                            kstd123
                        </a>
                        <span class="text-muted pull-right">+89</span>
                    </li>
                    
                    <li class="text-muted">
                        <img class="avatar-24" src="https://static.segmentfault.com/v-59883fff/global/img/user-64.png">
                        <a href="/u/spencerht" class="ellipsis">
                            spencerht
                        </a>
                        <span class="text-muted pull-right">+88</span>
                    </li>
                    
                    <li class="text-muted">
                        <img class="avatar-24" src="https://sfault-avatar.b0.upaiyun.com/343/026/3430268367-55b1c18b74dde_big64">
                        <a href="/u/marsgt" class="ellipsis">
                            熊猫桑
                        </a>
                        <span class="text-muted pull-right">+85</span>
                    </li>
                    
                </ol>
            </div>

        </div>

                
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9 col-sm-6">
        <div class="sep20"></div>
        
        <div style="border-bottom: 1px solid #e2e2e2;">
            <div class="pull-right" style="margin-top: 8px;">
                <a href="/top/rich" class="tab">社区财富排行榜</a>
                <a href="/gift" class="tab">物品兑换</a>
                <a href="/balance/add" class="tab">充值</a>
            </div>
            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">账户余额</li>
            </ol>
        </div>

        <div class="page box_white">
            <div class="cell">
                <p class="c9">当前账户余额</p>
                <div class="balance_area" style="font-size: 24px; line-height: 24px;">
                    {{if .me.Gold}}
                    {{.me.Gold}} <img src="/static/img/gold_48.png" alt="" width="16px">
                    {{end}}
                    {{if .me.Silver}}
                    {{.me.Silver}} <img src="/static/img/silver_48.png" alt="" width="16px">
                    {{end}}
                    {{.me.Copper}} <img src="/static/img/copper_48.png" alt="" width="16px">
                </div>
            </div>
            <div>
                <table cellpadding="5" cellspacing="0" border="0" width="100%" class="data table-hover">
                    <tr>
                        <th width="130" class="h">时间</th>
                        <th width="100" class="h">类型</th>
                        <th width="60" class="h">数额</th>
                        <th width="60" class="h">余额</th>
                        <th width="auto" class="h" style="border-right: none;">描述</th>
                    </tr>
                    {{range .details}}
                    <tr>
                        <td class="d"><small class="c9">{{.CreatedAt}}</small></td>
                        <td class="d">{{.TypeShow}}</td>
                        <td class="d" style="text-align: right;">
                            <span class="{{if gt .Num 0}}positive{{else}}negative{{end}}"><strong>{{.Num}}</strong></span>
                        </td>
                        <td class="d" style="text-align: right;">{{.Balance}}</td>
                        <td class="d" style="border-right: none;"><span class="c9">{{noescape .Desc}}</span></td>
                    </tr>
                    {{end}}
                </table>
            </div>
        </div>

        {{if not .details}}
        <div class="page box_white" style="margin-top: 20px;">
            <div class="cell">
                <div class="header">可完成的任务</div>
                <div class="inner_content">
                    <h2>获得初始资本</h2>
                    欢迎来到 {{.setting.Name}}，这是一个关于分享和探索的社区。你在进入这里时，你会获得 2000 铜币。接下来你在社区内的一切行为，包括创建主题和回复等，都将会消耗铜币。而当你完成了一些有意义的事情时，你就会收获铜币，以及，好心情。
                    <div class="sep20"></div>
                    <strong>任务奖励</strong>
                    <div class="sep10"></div>
                    <div class="balance_area" style="">20 <img src="/static/img/silver_48.png" alt="" width="16px"> </div>
                    <div class="sep20"></div>
                    <a class="btn btn-default btn-sm" href="/mission/complete/1">完成任务</a>
                </div>
            </div>
        </div>
        {{end}}
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="sep20"></div>
        
        {{include "common/my_info.html" .}}
    </div>
</div>
{{end}}
{{define "css"}}
<link rel="stylesheet" type="text/css" href="/static/css/table_data.css">
<style type="text/css">
.positive { color: #0aa31c; }
.negative { color: #ff3c00; }
</style>
{{end}}
{{define "js"}}
{{end}}
