/* syntax highlight*/
figure.highlight,
.codeblock {
  background: #f7f8f8;
  margin: 10px 0;
  line-height: 1.1em;
  color: #333;
  padding-top: 15px;
  overflow: hidden; }
  figure.highlight table,
  .codeblock table {
    display: block;
    width: 100%; }
  figure.highlight pre,
  figure.highlight .gutter,
  figure.highlight .code,
  figure.highlight .tag,
  .codeblock pre,
  .codeblock .gutter,
  .codeblock .code,
  .codeblock .tag {
    background-color: inherit;
    font-family: Menlo, Consolas, monospace;
    border: none;
    padding: 0;
    margin: 0;
    cursor: text; }
  figure.highlight .gutter,
  figure.highlight .code,
  .codeblock .gutter,
  .codeblock .code {
    vertical-align: top; }
  figure.highlight.plain .gutter,
  .codeblock.plain .gutter {
    display: none; }
  figure.highlight figcaption,
  .codeblock figcaption {
    font-size: 13px;
    padding: 0 15px 20px;
    margin: 0;
    background: #f7f8f8;
    color: #999999; }
    figure.highlight figcaption a,
    .codeblock figcaption a {
      float: right;
      color: #01579f; }
  figure.highlight .gutter,
  .codeblock .gutter {
    background: #f7f8f8;
    border-right: 1px solid #e6e6e6;
    padding: 0.3em 15px; }
    figure.highlight .gutter .line,
    .codeblock .gutter .line {
      color: #aaaaaa; }
  figure.highlight .code,
  .codeblock .code {
    padding: 0.3em 15px 0.3em 1em;
    width: 100%; }
    figure.highlight .code pre,
    .codeblock .code pre {
      max-width: 700px;
      overflow-x: auto;
      overflow-y: hidden; }
  figure.highlight .line,
  .codeblock .line {
    height: 1.3em;
    line-height: 1.3em;
    font-size: 13px; }

.gist .line,
.gist .line-number {
  font-family: Menlo, Consolas, monospace;
  font-size: 1em;
  margin: 0 0 5px 0; }

.highlight .comment {
  color: #969896; }

.highlight .string {
  color: #183691; }

.highlight .keyword {
  color: #a71d5d; }

.highlight.apacheconf .code .common,
.highlight.apacheconf .code .nomarkup,
.highlight.apacheconf .code .attribute,
.highlight.apacheconf .code .variable,
.highlight.apacheconf .code .cbracket,
.highlight.apacheconf .code .keyword {
  color: #0086b3; }

.highlight.apacheconf .code .sqbracket {
  color: #df5000; }

.highlight.apacheconf .code .section,
.highlight.apacheconf .code .tag {
  color: #63a35c; }

.highlight.bash .code .shebang {
  color: #969896; }

.highlight.bash .code .literal,
.highlight.bash .code .built_in {
  color: #0086b3; }

.highlight.bash .code .variable {
  color: #333; }

.highlight.bash .code .title {
  color: #795da3; }

.highlight.coffeescript .code .title {
  color: #795da3; }

.highlight.coffeescript .code .literal,
.highlight.coffeescript .code .built_in,
.highlight.coffeescript .code .number {
  color: #0086b3; }

.highlight.coffeescript .code .reserved,
.highlight.coffeescript .code .attribute {
  color: #1d3e81; }

.highlight.coffeescript .code .subst,
.highlight.coffeescript .code .regexp,
.highlight.coffeescript .code .attribute {
  color: #df5000; }

.highlight.cpp .code .preprocessor,
.highlight.c .code .preprocessor {
  color: #df5000; }

.highlight.cpp .code .meta-keyword,
.highlight.c .code .meta-keyword {
  color: #a71d5d; }

.highlight.cpp .code .title,
.highlight.c .code .title {
  color: #795da3; }

.highlight.cpp .code .number,
.highlight.cpp .code .built_in,
.highlight.c .code .number,
.highlight.c .code .built_in {
  color: #0086b3; }

.highlight.cs .code .preprocessor,
.highlight.cs .code .preprocessor .keyword {
  color: #333; }

.highlight.cs .code .title {
  color: #795da3; }

.highlight.cs .code .number,
.highlight.cs .code .built_in {
  color: #0086b3; }

.highlight.cs .code .xmlDocTag,
.highlight.cs .code .doctag {
  color: #63a35c; }

.highlight.css .code .at_rule,
.highlight.css .code .important,
.highlight.css .code .meta {
  color: #a71d5d; }

.highlight.css .code .attribute,
.highlight.css .code .hexcolor,
.highlight.css .code .number,
.highlight.css .code .function {
  color: #0086b3; }

.highlight.css .code .attr_selector,
.highlight.css .code .value {
  color: #333; }

.highlight.css .code .id,
.highlight.css .code .class,
.highlight.css .code .pseudo,
.highlight.css .code .selector-pseudo {
  color: #795da3; }

.highlight.css .code .tag,
.highlight.css .code .selector-tag {
  color: #63a35c; }

.highlight.diff .code .chunk,
.highlight.diff .code .meta {
  color: #795da3;
  font-weight: bold; }

.highlight.diff .code .addition {
  color: #55a532;
  background-color: #eaffea; }

.highlight.diff .code .deletion {
  color: #bd2c00;
  background-color: #ffecec; }

.highlight.http .code .attribute,
.highlight.http .code .attr {
  color: #183691; }

.highlight.http .code .literal {
  color: #0086b3; }

.highlight.http .code .request {
  color: #a71d5d; }

.highlight.ini .code .title,
.highlight.ini .code .section {
  color: #795da3; }

.highlight.ini .code .setting,
.highlight.ini .code .attr {
  color: #a71d5d; }

.highlight.ini .code .value,
.highlight.ini .code .keyword {
  color: #333; }

.highlight.java .code .title {
  color: #795da3; }

.highlight.java .code .javadoc {
  color: #969896; }

.highlight.java .code .meta,
.highlight.java .code .annotation,
.highlight.java .code .javadoctag {
  color: #a71d5d; }

.highlight.java .code .number {
  color: #0086b3; }

.highlight.java .code .params {
  color: #1d3e81; }

.highlight.js .code .built_in,
.highlight.js .code .title {
  color: #795da3; }

.highlight.js .code .javadoc {
  color: #969896; }

.highlight.js .code .tag,
.highlight.js .code .javadoctag {
  color: #a71d5d; }

.highlight.js .code .tag .title {
  color: #333; }

.highlight.js .code .regexp {
  color: #df5000; }

.highlight.js .code .literal,
.highlight.js .code .number {
  color: #0086b3; }

.highlight.json .code .attribute {
  color: #183691; }

.highlight.json .code .number,
.highlight.json .code .literal {
  color: #0086b3; }

.highlight.mak .code .constant {
  color: #333; }

.highlight.mak .code .title {
  color: #795da3; }

.highlight.mak .code .keyword,
.highlight.mak .code .meta-keyword {
  color: #0086b3; }

.highlight.md .code .value,
.highlight.md .code .link_label,
.highlight.md .code .strong,
.highlight.md .code .emphasis,
.highlight.md .code .blockquote,
.highlight.md .code .quote,
.highlight.md .code .section {
  color: #183691; }

.highlight.md .code .link_reference,
.highlight.md .code .symbol,
.highlight.md .code .code {
  color: #0086b3; }

.highlight.md .code .link_url,
.highlight.md .code .link {
  text-decoration: underline; }

.highlight.nginx .code .title,
.highlight.nginx .code .attribute {
  color: #a71d5d; }

.highlight.nginx .code .built_in,
.highlight.nginx .code .literal {
  color: #0086b3; }

.highlight.nginx .code .regexp {
  color: #183691; }

.highlight.nginx .code .variable {
  color: #333; }

.highlight.objectivec .code .preprocessor,
.highlight.objectivec .code .meta {
  color: #a71d5d; }
  .highlight.objectivec .code .preprocessor .title,
  .highlight.objectivec .code .meta .title {
    color: #df5000; }

.highlight.objectivec .code .meta-string {
  color: #183691; }

.highlight.objectivec .code .title {
  color: #795da3; }

.highlight.objectivec .code .literal,
.highlight.objectivec .code .number,
.highlight.objectivec .code .built_in {
  color: #0086b3; }

.highlight.perl .code .sub {
  color: #795da3; }

.highlight.perl .code .title {
  color: #795da3; }

.highlight.perl .code .regexp {
  color: #df5000; }

.highlight.php .code .phpdoc,
.highlight.php .code .doctag {
  color: #a71d5d; }

.highlight.php .code .regexp {
  color: #df5000; }

.highlight.php .code .literal,
.highlight.php .code .number {
  color: #0086b3; }

.highlight.php .code .title {
  color: #795da3; }

.highlight.python .code .decorator,
.highlight.python .code .title,
.highlight.python .code .meta {
  color: #795da3; }

.highlight.python .code .number {
  color: #0086b3; }

.highlight.ruby .code .parent,
.highlight.ruby .code .title {
  color: #795da3; }

.highlight.ruby .code .prompt,
.highlight.ruby .code .constant,
.highlight.ruby .code .number,
.highlight.ruby .code .subst .keyword,
.highlight.ruby .code .symbol {
  color: #0086b3; }

.highlight.sql .built_in {
  color: #a71d5d; }

.highlight.sql .number {
  color: #0086b3; }

.highlight.xml .tag {
  color: #333; }

.highlight.xml .value {
  color: #183691; }

.highlight.xml .attribute,
.highlight.xml .attr {
  color: #795da3; }

.highlight.xml .title,
.highlight.xml .name {
  color: #63a35c; }

.highlight.puppet .title {
  color: #795da3; }

.highlight.puppet .function {
  color: #0086b3; }

.highlight.puppet .name {
  color: #a71d5d; }

.highlight.puppet .attr {
  color: #0086b3; }

.highlight.less .tag,
.highlight.less .at_rule {
  color: #a71d5d; }

.highlight.less .number,
.highlight.less .hexcolor,
.highlight.less .function,
.highlight.less .attribute {
  color: #0086b3; }

.highlight.less .built_in {
  color: #df5000; }

.highlight.less .id,
.highlight.less .pseudo,
.highlight.less .class,
.highlight.less .selector-id,
.highlight.less .selector-class,
.highlight.less .selector-tag {
  color: #795da3; }

.highlight.scss .tag,
.highlight.scss .at_rule,
.highlight.scss .important {
  color: #a71d5d; }

.highlight.scss .number,
.highlight.scss .hexcolor,
.highlight.scss .function,
.highlight.scss .attribute {
  color: #0086b3; }

.highlight.scss .variable {
  color: #333; }

.highlight.scss .built_in {
  color: #df5000; }

.highlight.scss .id,
.highlight.scss .pseudo,
.highlight.scss .class,
.highlight.scss .preprocessor,
.highlight.scss .selector-class,
.highlight.scss .selector-id {
  color: #795da3; }

.highlight.scss .tag,
.highlight.scss .selector-tag {
  color: #63a35c; }

.highlight.stylus .at_rule {
  color: #a71d5d; }

.highlight.stylus .tag,
.highlight.stylus .selector-tag {
  color: #63a35c; }

.highlight.stylus .number,
.highlight.stylus .hexcolor,
.highlight.stylus .attribute,
.highlight.stylus .params {
  color: #0086b3; }

.highlight.stylus .class,
.highlight.stylus .id,
.highlight.stylus .pseudo,
.highlight.stylus .title,
.highlight.stylus .selector-id,
.highlight.stylus .selector-pseudo,
.highlight.stylus .selector-class {
  color: #795da3; }

.highlight.go .typename {
  color: #a71d5d; }

.highlight.go .built_in,
.highlight.go .constant {
  color: #0086b3; }

.highlight.swift .preprocessor {
  color: #a71d5d; }

.highlight.swift .title {
  color: #795da3; }

.highlight.swift .built_in,
.highlight.swift .number,
.highlight.swift .type {
  color: #0086b3; }

.highlight.yml .line,
.highlight.yml .attr {
  color: #63a35c; }

.highlight.yml .line,
.highlight.yml .string,
.highlight.yml .type,
.highlight.yml .literal,
.highlight.yml .meta {
  color: #183691; }

.highlight.yml .number {
  color: #0086b3; }