.article-entry pre,
.article-entry .highlight {
  background: #272822;
  margin: 0;
  padding: 15px 20px;
  border-style: solid;
  border-color: #eee;
  border-width: 1px 0;
  border-radius: 3px;
  overflow: auto;
  color: #f8f8f2;
  font-size: 16px;
  line-height: 19.2px;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: Consolas, "Source Code Pro", Monaco, Menlo, Consolas, monospace, "Courier New";
}
.article-entry code {
  background: #f0f0f0;
  text-shadow: 0 1px #fff;
  font-size: 0.85em;
  padding: 0 0.3em;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
}
.article-entry pre {
  background: transparent;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
  border: none;
}
.article-entry .highlight {
  background: transparent url("http://studygolang.qiniudn.com/170208/012acbe788ee429da8d7d8d619455fc8.png") repeat scroll 0% 0%;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  zoom: 1;
  font-size: 0.85em;
  color: #75715e;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .gutter pre .line {
  height: 25.6px;
  border-right: 3px solid #6ce26c;
  padding-right: 10px;
  color: #bbb;
  font-size: 12.8px;
  
  border-bottom: none;
  margin: auto;
  line-height: inherit;
}
.article-entry .highlight .line {
  height: 25.6px;
  border-bottom: none;
  margin: auto;
  line-height: inherit;
}
.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #eee;
  border-width: 1px 0;
  background: #272822;
  padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: Consolas, "Source Code Pro", Monaco, Menlo, Consolas, monospace, "Courier New";
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #272822;
  color: #75715e;
  font: 0.85em "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #e32d40;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}