{{define "title"}}寻找遗失儿童 {{end}}
{{define "content"}}
<div class="row box_white">
	<div class="col-md-6">
		<div>
			<h2>抱歉！页面无法访问……</h2>
		</div>
		<div class="reason">
			<p>可能因为：</p>
			<ul class="reason-list">
				<li>网址有错误<span><i class="gt">&gt;</i>请检查地址是否完整或存在多余字符</span></li>
				<li>网址已失效<span><i class="gt">&gt;</i>可能页面已删除，活动已下线等</span></li>
			</ul>
		</div>
		<div class="links">
			<p>逛逛：<a href="/">首页</a><span>|</span><a href="/topics">社区</a><span>|</span><a href="/articles">文章</a><span>|</span><a href="/projects">开源项目</a></p>
		</div>
	</div>
	<div class="col-md-6">
		<iframe scrolling="no" frameborder="0" src="//yibo.iyiyun.com/Home/Distribute/ad404/key/17812" width="550" height="340" style="display:block;"></iframe>
	</div>
</div>
{{end}}