{{define "title"}}对不起，该页面出错了 {{end}}
{{define "content"}}
<div id="main" class="container-fluid">
  <div class="content">
	<h2>对不起，该页面出错了。<a href="mailto:polaris@studygolang.com">请反馈给我们</a></h2>
	<p>将在<span id="jumpTo">3</span>秒后跳转到<a href="/">首页</a></p>
  </div>
</div>
{{end}}
{{define "js"}}
<script type="text/javascript">
function countDown(secs, surl){
	var jumpTo = document.getElementById('jumpTo');
	jumpTo.innerHTML=secs;
	if(--secs>0){
		setTimeout("countDown("+secs+",'"+surl+"')",1000);
	} else {
		location.href=surl;
	}
} 
countDown(3,'/');
</script>
{{end}}