{{define "title"}}对不起，该页面出错了 {{end}}
{{define "seo"}}<meta name="keywords" content="Go语言,Golang,Go社区,Go中文社区,Golang中文社区,Go语言社区,Go语言学习,学习Go语言,Go语言学习园地,Golang 中国,Golang中国,Golang China, Go语言论坛">
<meta name="description" content="Go语言中文网，中国 Golang 社区，Go语言学习园地，致力于构建完善的 Golang 中文社区，Go语言爱好者的学习家园。分享 Go 语言知识，交流使用经验">{{end}}
{{define "content"}}
<div id="main" class="container-fluid">
  <div class="content">
	<h2>对不起，该页面出错了。<a href="mailto:polaris@studygolang.com">请反馈给我们</a></h2>
	<p>将在<span id="jumpTo">3</span>秒后跳转到<a href="/">首页</a></p>
  </div>
</div>
{{end}}
{{define "js"}}
<script type="text/javascript">
function countDown(secs, surl){
	var jumpTo = document.getElementById('jumpTo');
	jumpTo.innerHTML=secs;
	if(--secs>0){
		setTimeout("countDown("+secs+",'"+surl+"')",1000);
	} else {
		location.href=surl;
	}
} 
countDown(3,'/');
</script>
{{end}}