{{define "title"}}Go模块代理{{end}}
{{define "seo"}}<meta name="keywords" content="Go Module,Go Proxy,{{.setting.SeoKeywords}}">
<meta name="description" content="目前可用的 Go Proxy 推荐，极大的解决 Go 包下载的问题">{{end}}
{{define "content"}}
<div class="row">
	<div class="col-sm-12">
		<div class="sep20"></div>

		<ol class="breadcrumb">
			<li><a href="/">首页</a></li>
			<li class="active">Go模块代理</li>
		</ol>

		<div class="box_white">
			<div class="page-header">
				<h1>让下载Go语言第三方库畅通无阻</h1>
			</div>
		</div>

	</div>
</div>

</div>

</div>
</div>
{{end}}
