{{define "title"}}首页{{end}}
{{define "seo"}}<meta name="keywords" content="{{.setting.Name}},{{.setting.SeoKeywords}},社区,资源,文章,图书,开源项目">
<meta name="description" content="{{.setting.SeoDescription}}">{{end}}
{{define "content"}}
<div class="row">
	<div id="content" class="tip box_white">
		<div id="top">
			<ul class="list-unstyled">
			</ul>
		</div>
		<div id="bottom"></div> 
	</div>
	<div class="col-lg-9 col-md-8 col-sm-7">
		<div class="row box_white">
			<div class="col-md-6 recent-list">
				<div class="title">
					<h3><a href="/topics">最新主题</a></h3>
					<a class="pull-right more" href="/topics">更多&gt;&gt;</a>
				</div>
				<ul class="clearfix list-unstyled">
					{{range .topics}}
					<li><i></i>{{if .top}}<font color="red"><span class="glyphicon glyphicon-pushpin"></span></font> {{end}}<a href="/topics/{{.tid}}" title="{{.title}}">{{substring .title 35 "..."}}</a><span class="pull-right timeago" title="{{.ctime}}"></span></li>
					{{else}}
					<li style="height: 40px; line-height: 40px;">暂无主题，<a class="btn btn-default btn-sm" href="/topics/new">发布主题</a></li>
					{{end}}
				</ul>
			</div>
			<div class="col-md-6 recent-list">
				<div class="title">
					<h3><a href="/resources">最新资源</a></h3>
					<a class="pull-right more" href="/resources">更多&gt;&gt;</a>
				</div>
				<ul class="clearfix list-unstyled">
					{{range .resources}}
					<li><i></i><a href="/resources/{{.Id}}" title="{{.Title}}" target="_blank">{{substring .Title 45 "..."}}</a><span class="pull-right timeago" title="{{.Ctime}}"></span></li>
					{{else}}
					<li style="height: 40px; line-height: 40px;">暂无资源，<a class="btn btn-default btn-sm" href="/resources/new">分享资源</a></li>
					{{end}}
				</ul>
			</div>
		</div>
		
		{{if .pos_ad.banner}}
		<div class="row box_white" style="margin-top:20px;" id="ad-banner">
			{{if eq .pos_ad.banner.AdType 0}}
				{{noescape .pos_ad.banner.Code}}
			{{end}}
		</div>
		{{end}}

		<div class="row box_white article-list">
			<ul class="nav nav-tabs" role="tablist" id="article-nav">
				<li role="presentation" class="active" data-type="newest"><a href="javascript:">最新博文</a></li>
				<li role="presentation" data-type="today"><a href="javascript:">今日热门</a></li>
				<li role="presentation" data-type="yesterday"><a href="javascript:">昨日热门</a></li>
				<li role="presentation" data-type="week"><a href="javascript:">一周热门</a></li>
			</ul>
			<div id="article-list">
			{{range .articles}}
			<article class="article box_white">
				<div class="row">
					{{if .Cover}}
					<div class="pull-left">
						<a href="/articles/{{.Id}}" target="_blank" title="{{.Title}}">
							<img class="lazy" src="{{.Cover}}" width="200" alt="{{.Title}}" style="display: inline;">
						</a>
					</div>
					<div style="margin-left:220px;">
					{{else}}
					<div>
					{{end}}
						<h2><a href="/articles/{{.Id}}" target="_blank" title="{{.Title}}">
							{{if .Top}}<font color="red">[置顶]</font>{{end}}{{.Title}}
						</a></h2>
						<p class="text">{{substring .Txt 220 "..."}}<a href="/articles/{{.Id}}" target="_blank" title="阅读全文">阅读全文</a></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 metatag">
						<i class="glyphicon glyphicon-th"></i>
						<span class="source" title="来源">{{.Name}}</span>
						<i class="glyphicon glyphicon-calendar"></i>
						<span class="date" title="发布日期">{{.PubDate}}</span>
						<i class="glyphicon glyphicon-user"></i>
						<span class="author" title="作者">{{substring .AuthorTxt 15 " 等"}}</span>
						{{if .Tags}}
						{{$tags := explode .Tags ","}}
						<ul class="list-inline">
							<i class="glyphicon glyphicon-tags"></i>
							{{range $tag := $tags}}
							<li>
								<a href="/search?q={{$tag}}&f=tag" title="{{$tag}}" target="_blank">
									{{$tag}}
								</a>
							</li>
							{{end}}
						</ul>
						{{end}}
					</div>
					<div class="col-md-4 metatag text-right">
						<span class="view" title="阅读数">
							<i class="glyphicon glyphicon-eye-open"></i>
							阅读:<span>{{.Viewnum}}</span>次
						</span>
						<a href="/articles/{{.Id}}#commentForm" class="cmt" target="_blank" title="评论数">
							<i class="glyphicon glyphicon-comment"></i>
							评论:<span>{{.Cmtnum}}</span>条
						</a>
						{{if $.likeflags}}
						{{$likeFlag := index $.likeflags .Id}}
						<a href="#" class="like{{if $likeFlag}} hadlike{{end}}" title="{{if $likeFlag}}取消喜欢{{else}}我喜欢{{end}}" data-objid="{{.Id}}" data-objtype="1" data-flag="{{if $likeFlag}}{{$likeFlag}}{{else}}0{{end}}">
							<i class="glyphicon glyphicon-heart{{if not $likeFlag}}-empty{{end}}"></i>
						{{else}}
						<a href="#" class="like" title="我喜欢" data-objid="{{.Id}}" data-objtype="1" data-flag="0">
							<i class="glyphicon glyphicon-heart-empty"></i>
						{{end}}
							<span class="likenum">{{.Likenum}}</span>人喜欢
						</a>
					</div>
				</div>
			</article>
			{{else}}
			<article class="article box_white">
				<div class="row">暂无博文，<a class="btn btn-default btn-sm" href="/articles/new">撰写文章</a></div>
			</article>
			{{end}}

			{{if (len .articles) gt 0}}
			{{$article := index .articles 0}}
			<div class="pull-right article-bottom"><a href="/articles?lastid={{add $article.Id -10}}" title="查看更多">查看更多&gt;&gt;</a></div>
			{{end}}

			</div>
		</div>
		<div class="row box_white book-list">
			<div class="title">
				<h3><a href="/books">图书</a></h3>
				<a class="pull-right more" href="/books">更多&gt;&gt;</a>
			</div>
			<ul class="list-unstyled">
				{{range .books}}
				<li class="book-item">
					<div class="book-img">
						<a href="/book/{{.Id}}" title="{{.Name}}">
							<img src="{{if .Cover}}{{.Cover}}{{else}}http://studygolang.qiniudn.com/img/golang_default_cover.png{{end}}" width="180px" height="225px" alt="{{.Name}}">
						</a>
					</div>
					<div class="book-title">
						<h5>{{.Name}}</h5>
					</div>
				</li>
				{{end}}
			</ul>
		</div>
		
		{{if .materials}}
		<div class="row box_white learn-info">
			<h3><a href="javascript:">学习资料</a></h3>
			<div class="col-md-6 infolist">
				<ul class="list-unstyled">
				{{range .materials}}
					{{if eq .Type 0}}
					<li>
						<i></i>
						<a href="{{.Url}}" title="{{.Title}}" target="_blank" class="video">【文本】《{{.Title}}》</a>
						<a href="{{.FirstUrl}}" target="_blank" class="learn pull-right">开始学习&gt;&gt;</a>
					</li>
					{{end}}
				{{end}}
				</ul>
			</div>
			<div class="col-md-6 infolist">
				<ul class="list-unstyled">
				{{range .materials}}
					{{if .Type}}
					<li>
						<i></i>
						<a href="{{.Url}}" title="{{.Title}}" target="_blank" class="video">【视频】《{{.Title}}》</a>
						<a href="{{.FirstUrl}}" target="_blank" class="learn pull-right">开始学习&gt;&gt;</a>
					</li>
					{{end}}
				{{end}}
				</ul>
			</div>
		</div>
		{{end}}
	</div>
	<div class="col-lg-3 col-md-4 col-sm-5">
		<div class="row box_white sidebar">
			{{if .me}}
			<div class="box">
				<div class="avatar-area pull-left">
					<span class="avatar"><a href="/account/edit#change-avatar"><img alt="个人首页" width="80" height="80" src="{{gravatar .me.Avatar .me.Email 80 .is_https}}" class="img-circle tool-tip" data-toggle="tooltip" data-placement="left" title="更换头像"></a></span>
				</div>
				<div class="profile-show pull-left">
					<p></p>
					<p class="user-name"><a href="/user/{{.me.Username}}">{{.me.Username}}</a></p>
					<p><a href="/account/edit">个人资料设置</a></p>
				</div>
			</div>
			<div class="box" style="margin: 0 5px;">
				<a class="btn btn-default btn-sm" href="/topics/new">发布主题</a>&nbsp;&nbsp;
				<a class="btn btn-default btn-sm" href="/articles/new">撰写文章</a>&nbsp;&nbsp;
				<a class="btn btn-default btn-sm" href="/resources/new">分享资源</a>&nbsp;&nbsp;
			</div>
			{{else}}
			<div class="top">
				<h3 class="title"><i class="glyphicon glyphicon-user"></i> 用户登录</h3>
			</div>
			<div class="sb-content">
				<form action="/account/login" method="post" class="form-horizontal login" role="form">
					<div class="form-group">
						<div class="col-sm-10">
							<input type="text" class="form-control input-sm" id="username" name="username" placeholder="请填写用户名或邮箱">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-10">
							<input type="password" class="form-control input-sm" id="passwd" name="passwd" placeholder="请填写密码">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-10">
							<div class="checkbox">
								<label>
									<input id="user_remember_me" name="remember_me" type="checkbox" value="1" checked="checked" />	记住登录状态
								</label>
								<input class="btn btn-primary btn-sm" data-disable-with="正在登录" name="commit" type="submit" value="登录" />
							</div>
						</div>
					</div>
				</form>
			</div>
			{{end}}
		</div>
		<div class="row box_white sidebar">
			<div class="top">
				<h3 class="title"><i class="glyphicon glyphicon-book"></i>&nbsp;<a href="/readings" target="_blank" title="点击更多">今日晨读</a></h3>
			</div>
			<div class="sb-content">
				<div class="reading-list" data-limit="1">
					<ul class="list-unstyled">
						<img src="/static/img/loaders/loader7.gif" alt="加载中" />
					</ul>
				</div>
			</div>
		</div>
		
		<div class="row box_white sidebar">
			<div class="top">
				<h3 class="title"><i class="glyphicon glyphicon-fire"></i>&nbsp;<a href="/projects" target="_blank" title="点击更多">开源项目</a></h3>
			</div>
			<div class="sb-content">
				<div class="project-list" data-limit="10">
					<ul class="list-unstyled">
						<img src="/static/img/loaders/loader7.gif" alt="加载中" />
					</ul>
				</div>
			</div>
		</div>
		
		<div class="row box_white sidebar">
			<div class="top">
				<h3 class="title"><i class="glyphicon glyphicon-comment"></i>&nbsp;最新评论</h3>
			</div>
			<div class="sb-content">
				<div class="cmt-list" data-limit="5">
					<ul class="list-unstyled">
						<img src="/static/img/loaders/loader7.gif" alt="加载中" />
					</ul>
				</div>
			</div>
		</div>

		<div class="row box_white sidebar">
			<div class="top">
				<h3 class="title"><i class="glyphicon glyphicon-user"></i>&nbsp;<a href="/users" target="_blank" title="点击更多">新会员</a></h3>
			</div>
			<div class="sb-content">
				<div id="newest-list" class="user-list" data-limit="9">
					<ul class="list-unstyled">
						<img src="/static/img/loaders/loader7.gif" alt="加载中" />
					</ul>
				</div>
			</div>
		</div>
		
		<div class="row box_white sidebar">
			<div class="top">
				<h3 class="title"><i class="glyphicon glyphicon-user"></i>&nbsp;<a href="/users" target="_blank" title="点击更多">活跃会员</a></h3>
			</div>
			<div class="sb-content">
				<div id="active-list" class="user-list" data-limit="9">
					<ul class="list-unstyled">
						<img src="/static/img/loaders/loader7.gif" alt="加载中" />
					</ul>
				</div>
			</div>
		</div>
		<div class="row box_white sidebar">
			<div class="top">
				<h3 class="title"><i class="glyphicon glyphicon-stats"></i>&nbsp;&nbsp;统计信息</h3>
			</div>
			<div class="sb-content">
				<div class="stat-list">
					<ul class="list-unstyled">
						<img src="/static/img/loaders/loader7.gif" alt="加载中" />
					</ul>
				</div>
			</div>
		</div>

		<div class="row box_white sidebar">
			<div class="top">
				<h3 class="title"><i class="glyphicon glyphicon-link"></i>&nbsp;友情链接</h3>
			</div>
			<div class="sb-content">
				<div class="friendslink-list">
					<ul class="list-unstyled">
						<img src="/static/img/loaders/loader7.gif" alt="加载中" />
					</ul>
				</div>
			</div>
		</div>
		
	</div>
</div>

<script type="text/x-jsrender" id="article-tpl">
<article class="article box_white">
	<div class="row">
		[%if cover%]
		<div class="pull-left">
			<a href="/articles/[%:id%]" target="_blank" title="[%:title%]">
				<img class="lazy" src="[%:cover%]" width="200" alt="[%:title%]" style="display: inline;">
			</a>
		</div>
		<div style="margin-left:220px;">
		[%else%]
		<div>
		[%/if%]
			<h2><a href="/articles/[%:id%]" target="_blank" title="[%:title%]">
				[%:title%]
			</a></h2>
			<p class="text">[%:txt%]<a href="/articles/[%:id%]" target="_blank" title="阅读全文">阅读全文</a></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 metatag">
			<i class="glyphicon glyphicon-th"></i>
			<span class="source" title="来源">[%:name%]</span>
			<i class="glyphicon glyphicon-calendar"></i>
			<span class="date" title="发布日期">[%:pub_date%]</span>
			<i class="glyphicon glyphicon-user"></i>
			<span class="author" title="作者">[%:author_txt%]</span>
		</div>
		<div class="col-md-4 metatag text-right">
			<span class="view" title="阅读数">
				<i class="glyphicon glyphicon-eye-open"></i>
				阅读:<span>[%:rank_view%]</span>次
			</span>
		</div>
	</div>
</article>
</script>

<script type="text/x-jsrender" id="no-article-tpl">
<article class="article box_white">
	<div class="row">该排行榜暂无博文</div>
</article>
</script>

<script type="text/x-jsrender" id="loading-tpl">
<article class="article box_white" style="text-align: center; margin-top: 10px;">
	<img src="/static/img/loaders/loader7.gif" alt="加载中" />
</article>
</script>

{{end}}
{{define "css"}}
<link href="/static/css/index.css?v=0.4" rel="stylesheet"/>
{{end}}
{{define "js"}}
<script type="text/javascript" src="/static/js/index.js?v=0.5"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.84/jsrender.min.js"></script>
<script type="text/javascript">
// 需要加载的侧边栏
SG.SIDE_BARS = [
	"/projects/recent",
	"/comments/recent",
	"/users/active",
	"/users/newest",
	"/websites/stat",
	"/readings/recent",
	"/friend/links"
];

$.views.settings.delimiters("[%", "%]");
// $.views.settings.debugMode(true);

$(function() {

	var newestArticleHtml = '';

	$('#article-nav li').on('click', function(evt) {
		evt.preventDefault();

		$(this).parent().children().removeClass('active');
		$(this).addClass('active');

		var type = $(this).data('type');

		if (type != "newest" && newestArticleHtml == '') {
			newestArticleHtml = $('#article-list').html();
		} else {
			if (type == "newest") {
				$('#article-list').html(newestArticleHtml);
				return;
			}
		}

		$('#article-list').html($('#loading-tpl').html());

		var params = {objtype: 1, limit: 10, rank_type: type}
		$.getJSON('/rank/view', params, function(result) {
			if (result.ok) {
				var data = result.data;
				if (data) {
					var rankArticlesHtml = $.templates('#article-tpl').render(data);
					$('#article-list').html(rankArticlesHtml);
				} else {
					$('#article-list').html($('#no-article-tpl').html());
				}
			}
		});
	});
});

</script>
{{if .pos_ad.banner}}
	{{if eq .pos_ad.banner.AdType 1}}
		{{noescape .pos_ad.banner.Code}}
	{{end}}
{{end}}

{{end}}
