{{define "title"}}Go语言标准库文档中文版{{end}}
{{define "seo"}}<meta name="keywords" content="中文, 文档, 标准库, Go语言,Golang,Go社区,Go中文社区,Golang中文社区,Go语言社区,Go语言学习,学习Go语言,Go语言学习园地,Golang 中国,Golang中国,Golang China, Go语言论坛, Go语言中文网">
<meta name="description" content="Go语言文档中文版，Go语言中文网，中国 Golang 社区，Go语言学习园地，致力于构建完善的 Golang 中文社区，Go语言爱好者的学习家园。分享 Go 语言知识，交流使用经验">{{end}}
{{define "content"}}
<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="/"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
			<li><a href="/pkgdoc">标准库中文版</a></li>
		</ol>
		<div class="box_white">
		<iframe src="/static/pkgdoc/index.html" id="pkgdoc" width="100%" frameborder="0" framemargin="0" scrolling="no" name="pkgdoc" onload="autoHeight()"></iframe>
		</div>
	</div>
</div>
{{end}}
{{define "js"}}
<script type="text/javascript">
function autoHeight(){
	var iframe = document.getElementById("pkgdoc");
	
	if(iframe.Document){	// ie自有属性
		var addHeight = 0;
		var uri = iframe.Document.location.href;
		if (uri.indexOf('/static/pkgdoc/index.html') > 0) {
			addHeight = 25;
		}

		iframe.style.height = iframe.Document.documentElement.scrollHeight + addHeight;
	} else if(iframe.contentDocument){	//ie,firefox,chrome,opera,safari
		var addHeight = 0;
		var uri = iframe.contentDocument.location.href;
		if (uri.indexOf('/static/pkgdoc/index.html') > 0) {
			addHeight = 25;
		}

		iframe.height = iframe.contentDocument.body.offsetHeight + addHeight;
	}

	// 源码链接，新窗口打开
	$('#pkgdoc').contents().find('a').on('mousedown', function(evt){
		var url = $(this).attr('href');
		if (url.indexOf('github.com') > 0) {
			$(this).attr('target', '_blank');
		}
	});
}
</script>
{{end}}