{{define "title"}}我的收藏{{end}}
{{define "seo"}}<meta name="keywords" content="Go语言博客文章, Go语言博文, Go语言, Golang, Go中文社区, Golang中文社区, Go语言社区, Go语言中文网, Go语言学习园地">
<meta name="description" content="我收藏的话题、文章和资源">{{end}}
{{define "content"}}
<div class="row header_title">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<h3>我的收藏</h3>
	</div>
</div>
<div class="row">
	<ul id="listnav" class="nav nav-tabs" role="tablist">
		<li role="presentation" class="{{if eq .objtype 1}}active{{end}}"><a href="/favorites/mine">博文</a></li>
		<li role="presentation" class="{{if eq .objtype 0}}active{{end}}"><a href="/favorites/mine?objtype=0">话题</a></li>
		<li role="presentation" class="{{if eq .objtype 4}}active{{end}}"><a href="/favorites/mine?objtype=4">开源项目</a></li>
		<li role="presentation" class="{{if eq .objtype 2}}active{{end}}"><a href="/favorites/mine?objtype=2">资源</a></li>
	</ul>
	<div class="col-lg-9 col-md-8 col-sm-7">
		{{if eq .objtype 1}}
		{{range .articles}}
		<article class="article box_white">
			<div class="row">
				{{if .Cover}}
				<div class="pull-left">
					<a href="/articles/{{.Id}}" target="_blank" title="{{.Title}}">
						<img class="lazy" src="{{.Cover}}" width="240" alt="{{.Title}}" style="display: inline;">
					</a>
				</div>
				<div style="margin-left:260px;">
				{{else}}
				<div>
				{{end}}
					<h2><a href="/articles/{{.Id}}" target="_blank" title="{{.Title}}">{{.Title}}</a></h2>
					<p class="text">{{substring .Txt 250 "..."}}<a href="/articles/{{.Id}}" target="_blank" title="阅读全文">阅读全文</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 metatag">
					<i class="glyphicon glyphicon-calendar"></i>
					<span class="date" title="发布日期">{{.PubDate}}</span>
					<i class="glyphicon glyphicon-user"></i>
					<span class="author" title="作者">{{substring .AuthorTxt 15 " 等"}}</span>
					{{if .Tags}}
					{{$tags := explode .Tags ","}}
					<ul class="list-inline">
						<i class="glyphicon glyphicon-tags"></i>
						{{range $tag := $tags}}
						<li>
							<a href="/" title="{{$tag}}" target="_blank">
								{{$tag}}
							</a>
						</li>
						{{end}}
					</ul>
					{{end}}
				</div>
				<div class="col-md-6 metatag text-right">
					<span class="view" title="阅读数">
						<i class="glyphicon glyphicon-eye-open"></i>
						阅读:<span>{{.Viewnum}}</span>次
					</span>
					<a href="/articles/{{.Id}}#commentForm" class="cmt" target="_blank" title="评论数">
						<i class="glyphicon glyphicon-comment"></i>
						评论:<span>{{.Cmtnum}}</span>条
					</a>
					{{if $.likeflags}}
					{{$likeFlag := index $.likeflags .Id}}
					<a href="#" class="like{{if $likeFlag}} hadlike{{end}}" title="{{if $likeFlag}}取消喜欢{{else}}我喜欢{{end}}" data-objid="{{.Id}}" data-objtype="1" data-flag="{{if $likeFlag}}{{$likeFlag}}{{else}}0{{end}}">
						<i class="glyphicon glyphicon-heart{{if not $likeFlag}}-empty{{end}}"></i>
					{{else}}
					<a href="#" class="like" title="我喜欢" data-objid="{{.Id}}" data-objtype="1" data-flag="0">
						<i class="glyphicon glyphicon-heart-empty"></i>
					{{end}}
						<span class="likenum">{{.Likenum}}</span>人喜欢
					</a>
					<a href="#" class="collect" title="取消收藏" data-objid="{{.Id}}" data-objtype="1" data-collect="1">
						<i class="glyphicon glyphicon-bookmark"></i>
						取消收藏
					</a>
				</div>
			</div>
		</article>
		{{else}}
		<div class="box_white">
			<p class="no-favorite text-center">您还未收藏任何文章</p>
		</div>
		{{end}}
		{{end}}
		{{if eq .objtype 4}}
		{{range .projects}}
		<article class="article box_white">
			<div class="row">
				<div>
					<h2>
						{{if .Logo}}<img src="{{.Logo}}" alt="{{.Name}}" width="36px" />{{end}}
						<a href="/p/{{if .Uri}}{{.Uri}}{{else}}{{.Id}}{{end}}" target="_blank" title="{{.Name}}">{{.Category}}<em>{{.Name}}</em></a>
					</h2>
					<p class="text">{{substring .Desc 250 "..."}}<a href="/p/{{if .Uri}}{{.Uri}}{{else}}{{.Id}}{{end}}" target="_blank" title="阅读全文">阅读全文</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 metatag">
					<i class="glyphicon glyphicon-calendar"></i>
					<span class="date" title="发布日期">{{.Ctime}}</span>
					<i class="glyphicon glyphicon-user"></i>
					<span class="author" title="作者">{{.Author}}</span>
				</div>
				<div class="col-md-4 metatag text-right">
					<span class="view" title="阅读数">
						<i class="glyphicon glyphicon-eye-open"></i>
						阅读:<span>{{.Viewnum}}</span>次
					</span>
					<a href="/p/{{if .Uri}}{{.Uri}}{{else}}{{.Id}}{{end}}#commentForm" class="cmt" target="_blank" title="评论数">
						<i class="glyphicon glyphicon-comment"></i>
						评论:<span>{{.Cmtnum}}</span>条
					</a>
					{{if $.likeflags}}
					{{$likeFlag := index $.likeflags .Id}}
					<a href="#" class="like{{if $likeFlag}} hadlike{{end}}" title="{{if $likeFlag}}取消喜欢{{else}}我喜欢{{end}}" data-objid="{{.Id}}" data-objtype="1" data-flag="{{if $likeFlag}}{{$likeFlag}}{{else}}0{{end}}">
						<i class="glyphicon glyphicon-heart{{if not $likeFlag}}-empty{{end}}"></i>
					{{else}}
					<a href="#" class="like" title="我喜欢" data-objid="{{.Id}}" data-objtype="1" data-flag="0">
						<i class="glyphicon glyphicon-heart-empty"></i>
					{{end}}
						<span class="likenum">{{.Likenum}}</span>人喜欢
					</a>
				</div>
			</div>
		</article>
		{{else}}
		<div class="box_white">
			<p class="no-favorite text-center">您还未收藏任何开源项目</p>
		</div>
		{{end}}
		{{end}}
		<ul class="pagination pull-right">
			{{noescape .pageHtml}}
		</ul>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-5">
		<div class="row box_white sidebar">
			<div class="top">
				<ul class="list-inline text-center">
					<li class="first"><a href="/articles" target="_blank" class="cur" title="点击更多">最新博文</a>|</li>
					<li class="second"><a href="/topics" target="_blank" title="点击更多">最新话题</a>|</li>
					<li class="last"><a href="/resources" target="_blank" title="点击更多">最新资源</a>|</li>
				</ul>
				<p class="bar"></p>
			</div>
			<div class="sb-content">
				<div class="article-list first">
					<ul class="list-unstyled">
						<img src="/static/img/loaders/loader7.gif" alt="加载中" />
					</ul>
				</div>
				<div class="topic-list second hidden">
					<ul class="list-unstyled">
					</ul>
				</div>
				<div class="resource-list last hidden">
					<ul class="list-unstyled">
					</ul>
				</div>
			</div>
		</div>
		
	</div>
</div>
{{end}}
{{define "css"}}
<style>
	.no-favorite { margin-left: 20px; padding: 30px 0;}
</style>
{{end}}
{{define "js"}}
<script type="text/javascript">
// 需要加载的侧边栏
SG.SIDE_BARS = [
	"/articles/recent.json",
	"/topics/recent.json",
	"/resources/recent.json",
];
</script>
{{end}}