{{template "header"}}
  <div id="main" class="container-fluid">
    <div class="alert alert-warning" style="text-align:center; margin-bottom:10px;">Study Golang，对！没错！这里就是 Golang 社区，目前这里已经是国内最权威的 Golang 社区，拥有国内所有资深的 Golang 工程师。
    </div>
    <div class="home_suggest_topics">
      <div class="high_likes_topics box">
        <h2 class="title">推荐帖子</h2>
        <ul>
          <li>
            <a href="http://ruby-china.org/robin"><img alt="1477" class="uface" src="/static/img/1477.jpeg" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8779">可能是最酷的 github-page</a>
            <span class="count">41 人喜欢</span>
          </li>
          <li>
            <a href="http://ruby-china.org/huacnlee"><img alt="2" class="uface" src="/static/img/2.jpg" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8815">Ruby - 响应 100W 的并发</a>
            <span class="count">28 人喜欢</span>
          </li>
          <li>
            <a href="http://ruby-china.org/caoxg"><img alt="5676" class="uface" src="/static/img/5676.jpg" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8893">[上海] 掌誉网络科技招聘靠谱Ruby程序员 - 你看了以后可能几天都睡不好觉的招聘帖</a>
            <span class="count">17 人喜欢</span>
          </li>
          <li>
            <a href="http://ruby-china.org/windix"><img alt="99ed38b7ffa6a0bad70c16fb5e135038" class="uface" src="/static/img/99ed38b7ffa6a0bad70c16fb5e135038.png" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8859">RubyConf AU 2013 主题总结分享</a>
            <span class="count">16 人喜欢</span>
          </li>
          <li>
            <a href="http://ruby-china.org/yedingding"><img alt="83c8cca11558f32207645ca270ae8475" class="uface" src="/static/img/83c8cca11558f32207645ca270ae8475.png" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8922">Teahour.fm 第 4 期发布</a>
            <span class="count">14 人喜欢</span>
          </li>
          <li>
            <a href="http://ruby-china.org/edokeh"><img alt="586" class="uface" src="/static/img/586.jpg" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8988">用 Rails 折腾微信 API 的一点小技巧</a>
            <span class="count">13 人喜欢</span>
          </li>
          <li>
            <a href="http://ruby-china.org/andor_chen"><img alt="F2672c45fea070e56d4ba4c5e1a6f2b5" class="uface" src="/static/img/f2672c45fea070e56d4ba4c5e1a6f2b5.png" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8996">Ruby on Rails Tutorial 2nd Edition 译毕</a>
            <span class="count">12 人喜欢</span>
          </li>
          <li>
            <a href="http://ruby-china.org/hooopo"><img alt="8" class="uface" src="/static/img/8.jpg" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8970">Bundler Audit for Vulnerable Checking</a>
            <span class="count">8 人喜欢</span>
          </li>
          <li>
            <a href="http://ruby-china.org/huacnlee"><img alt="2" class="uface" src="/static/img/2.jpg" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8816">Espresso Framework</a>
            <span class="count">8 人喜欢</span>
          </li>
          <li>
            <a href="http://ruby-china.org/Saito"><img alt="7777fbc132a52a9e5f71812645dc534d" class="uface" src="/static/img/7777fbc132a52a9e5f71812645dc534d.png" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8861">gitlab-shell for gitlab v5.0</a>
            <span class="count">7 人喜欢</span>
          </li>
        </ul>
      </div>
      <div class="high_replies_topics box">
        <h2 class="title">最新帖子</h2>
        <ul>
          <li> 
            <a href="http://ruby-china.org/huacnlee"><img alt="2" class="uface" src="/static/img/2.jpg" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8910">Ruby China 开始用 Ruby 2.0 跑了</a>
            <span class="count">81 回复</span>
          </li>
          <li> 
            <a href="http://ruby-china.org/andor_chen"><img alt="F2672c45fea070e56d4ba4c5e1a6f2b5" class="uface" src="/static/img/f2672c45fea070e56d4ba4c5e1a6f2b5.png" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8996">Ruby on Rails Tutorial 2nd Edition 译毕</a>
            <span class="count">64 回复</span>
          </li>
          <li> 
            <a href="http://ruby-china.org/caoxg"><img alt="5676" class="uface" src="/static/img/5676.jpg" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8893">[上海] 掌誉网络科技招聘靠谱Ruby程序员 - 你看了以后可能几天都睡不好觉的招聘帖</a>
            <span class="count">63 回复</span>
          </li>
          <li> 
            <a href="http://ruby-china.org/shawnyu"><img alt="703" class="uface" src="/static/img/703.jpg" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8896">Ruby-2.0.0-p0</a>
            <span class="count">58 回复</span>
          </li>
          <li> 
            <a href="http://ruby-china.org/lgn21st"><img alt="Normal_f08750e605d58ff54872d955169ce0c3" class="uface" src="/static/img/normal_f08750e605d58ff54872d955169ce0c3.png" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8763">Ruby 语言二十岁生日，如果你采访Matz，你会问什么？</a>
            <span class="count">51 回复</span>
          </li>
          <li> 
            <a href="http://ruby-china.org/sundevilyang"><img alt="1805" class="uface" src="/static/img/1805.jpg" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8764">[北京][2013年2月24]Ruby 20th Anniversary Party【切蛋糕】</a>
            <span class="count">43 回复</span>
          </li>
          <li> 
            <a href="http://ruby-china.org/yedingding"><img alt="83c8cca11558f32207645ca270ae8475" class="uface" src="/static/img/83c8cca11558f32207645ca270ae8475.png" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8922">Teahour.fm 第 4 期发布</a>
            <span class="count">39 回复</span>
          </li>
          <li> 
            <a href="http://ruby-china.org/smallbug"><img alt="2684" class="uface" src="/static/img/2684.jpg" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/9003">本人在深圳求ror的工作一枚，有好的介绍赶紧的</a>
            <span class="count">38 回复</span>
          </li>
          <li> 
            <a href="http://ruby-china.org/kehao"><img alt="416" class="uface" src="/static/img/416.jpg" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8831">请教，移动平台即时通讯(im)后台架构</a>
            <span class="count">38 回复</span>
          </li>
          <li> 
            <a href="http://ruby-china.org/robin"><img alt="1477" class="uface" src="/static/img/1477.jpeg" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8753">大家用过code school嘛</a>
            <span class="count">37 回复</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="home_suggest_topics">
      <div class="high_likes_topics box">
        <h2 class="title">高分帖子</h2>
        <ul>
          <li>
            <a href="http://ruby-china.org/robin"><img alt="1477" class="uface" src="/static/img/1477.jpeg" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8779">可能是最酷的 github-page</a>
            <span class="count">41 人喜欢</span>
          </li>
          <li>
            <a href="http://ruby-china.org/huacnlee"><img alt="2" class="uface" src="/static/img/2.jpg" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8815">Ruby - 响应 100W 的并发</a>
            <span class="count">28 人喜欢</span>
          </li>
          <li>
            <a href="http://ruby-china.org/caoxg"><img alt="5676" class="uface" src="/static/img/5676.jpg" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8893">[上海] 掌誉网络科技招聘靠谱Ruby程序员 - 你看了以后可能几天都睡不好觉的招聘帖</a>
            <span class="count">17 人喜欢</span>
          </li>
          <li>
            <a href="http://ruby-china.org/windix"><img alt="99ed38b7ffa6a0bad70c16fb5e135038" class="uface" src="/static/img/99ed38b7ffa6a0bad70c16fb5e135038.png" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8859">RubyConf AU 2013 主题总结分享</a>
            <span class="count">16 人喜欢</span>
          </li>
          <li>
            <a href="http://ruby-china.org/yedingding"><img alt="83c8cca11558f32207645ca270ae8475" class="uface" src="/static/img/83c8cca11558f32207645ca270ae8475.png" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8922">Teahour.fm 第 4 期发布</a>
            <span class="count">14 人喜欢</span>
          </li>
          <li>
            <a href="http://ruby-china.org/edokeh"><img alt="586" class="uface" src="/static/img/586.jpg" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8988">用 Rails 折腾微信 API 的一点小技巧</a>
            <span class="count">13 人喜欢</span>
          </li>
          <li>
            <a href="http://ruby-china.org/andor_chen"><img alt="F2672c45fea070e56d4ba4c5e1a6f2b5" class="uface" src="/static/img/f2672c45fea070e56d4ba4c5e1a6f2b5.png" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8996">Ruby on Rails Tutorial 2nd Edition 译毕</a>
            <span class="count">12 人喜欢</span>
          </li>
          <li>
            <a href="http://ruby-china.org/hooopo"><img alt="8" class="uface" src="/static/img/8.jpg" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8970">Bundler Audit for Vulnerable Checking</a>
            <span class="count">8 人喜欢</span>
          </li>
          <li>
            <a href="http://ruby-china.org/huacnlee"><img alt="2" class="uface" src="/static/img/2.jpg" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8816">Espresso Framework</a>
            <span class="count">8 人喜欢</span>
          </li>
          <li>
            <a href="http://ruby-china.org/Saito"><img alt="7777fbc132a52a9e5f71812645dc534d" class="uface" src="/static/img/7777fbc132a52a9e5f71812645dc534d.png" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8861">gitlab-shell for gitlab v5.0</a>
            <span class="count">7 人喜欢</span>
          </li>
        </ul>
      </div>
      <div class="high_replies_topics box">
        <h2 class="title">热门帖子</h2>
        <ul>
          <li> 
            <a href="http://ruby-china.org/huacnlee"><img alt="2" class="uface" src="/static/img/2.jpg" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8910">Ruby China 开始用 Ruby 2.0 跑了</a>
            <span class="count">81 回复</span>
          </li>
          <li> 
            <a href="http://ruby-china.org/andor_chen"><img alt="F2672c45fea070e56d4ba4c5e1a6f2b5" class="uface" src="/static/img/f2672c45fea070e56d4ba4c5e1a6f2b5.png" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8996">Ruby on Rails Tutorial 2nd Edition 译毕</a>
            <span class="count">64 回复</span>
          </li>
          <li> 
            <a href="http://ruby-china.org/caoxg"><img alt="5676" class="uface" src="/static/img/5676.jpg" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8893">[上海] 掌誉网络科技招聘靠谱Ruby程序员 - 你看了以后可能几天都睡不好觉的招聘帖</a>
            <span class="count">63 回复</span>
          </li>
          <li> 
            <a href="http://ruby-china.org/shawnyu"><img alt="703" class="uface" src="/static/img/703.jpg" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8896">Ruby-2.0.0-p0</a>
            <span class="count">58 回复</span>
          </li>
          <li> 
            <a href="http://ruby-china.org/lgn21st"><img alt="Normal_f08750e605d58ff54872d955169ce0c3" class="uface" src="/static/img/normal_f08750e605d58ff54872d955169ce0c3.png" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8763">Ruby 语言二十岁生日，如果你采访Matz，你会问什么？</a>
            <span class="count">51 回复</span>
          </li>
          <li> 
            <a href="http://ruby-china.org/sundevilyang"><img alt="1805" class="uface" src="/static/img/1805.jpg" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8764">[北京][2013年2月24]Ruby 20th Anniversary Party【切蛋糕】</a>
            <span class="count">43 回复</span>
          </li>
          <li> 
            <a href="http://ruby-china.org/yedingding"><img alt="83c8cca11558f32207645ca270ae8475" class="uface" src="/static/img/83c8cca11558f32207645ca270ae8475.png" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8922">Teahour.fm 第 4 期发布</a>
            <span class="count">39 回复</span>
          </li>
          <li> 
            <a href="http://ruby-china.org/smallbug"><img alt="2684" class="uface" src="/static/img/2684.jpg" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/9003">本人在深圳求ror的工作一枚，有好的介绍赶紧的</a>
            <span class="count">38 回复</span>
          </li>
          <li> 
            <a href="http://ruby-china.org/kehao"><img alt="416" class="uface" src="/static/img/416.jpg" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8831">请教，移动平台即时通讯(im)后台架构</a>
            <span class="count">38 回复</span>
          </li>
          <li> 
            <a href="http://ruby-china.org/robin"><img alt="1477" class="uface" src="/static/img/1477.jpeg" style="width:16px;height:16px;"></a>
            <a href="http://ruby-china.org/topics/8753">大家用过code school嘛</a>
            <span class="count">37 回复</span>
          </li>
        </ul>
      </div>
    </div>
    <div id="sections" class="box">
      <h2>讨论节点分类导航</h2>
      <ul>
          <li>
              <label>Ruby</label>
              <span class="nodes">
                      <a href="http://ruby-china.org/topics/node1" title="Ruby">Ruby</a>
                      <a href="http://ruby-china.org/topics/node2" title="Rails">Rails</a>
                      <a href="http://ruby-china.org/topics/node3" title="Gem">Gem</a>
                      <a href="http://ruby-china.org/topics/node29" title="重构">重构</a>
                      <a href="http://ruby-china.org/topics/node37" title="Testing">Testing</a>
                      <a href="http://ruby-china.org/topics/node43" title="Sinatra">Sinatra</a>
                      <a href="http://ruby-china.org/topics/node44" title="部署">部署</a>
                      <a href="http://ruby-china.org/topics/node45" title="RVM">RVM</a>
                      <a href="http://ruby-china.org/topics/node47" title="开源项目">开源项目</a>
                      <a href="http://ruby-china.org/topics/node52" title="新手问题">新手问题</a>
                      <a href="http://ruby-china.org/topics/node54" title="JRuby">JRuby</a>
              </span>
          </li>
          <li>
              <label>分享</label>
              <span class="nodes">
                      <a href="http://ruby-china.org/topics/node24" title="工具控">工具控</a>
                      <a href="http://ruby-china.org/topics/node25" title="招聘">招聘</a>
                      <a href="http://ruby-china.org/topics/node26" title="分享">分享</a>
                      <a href="http://ruby-china.org/topics/node27" title="瞎扯淡">瞎扯淡</a>
                      <a href="http://ruby-china.org/topics/node28" title="其他">其他</a>
                      <a href="http://ruby-china.org/topics/node30" title="产品控">产品控</a>
                      <a href="http://ruby-china.org/topics/node38" title="书籍">书籍</a>
                      <a href="http://ruby-china.org/topics/node42" title="Mac">Mac</a>
                      <a href="http://ruby-china.org/topics/node50" title="插画">插画</a>
                      <a href="http://ruby-china.org/topics/node56" title="创业">创业</a>
              </span>
          </li>
          <li>
              <label>Web 开发</label>
              <span class="nodes">
                      <a href="http://ruby-china.org/topics/node9" title="MongoDB">MongoDB</a>
                      <a href="http://ruby-china.org/topics/node10" title="Redis">Redis</a>
                      <a href="http://ruby-china.org/topics/node11" title="Git">Git</a>
                      <a href="http://ruby-china.org/topics/node12" title="Database">Database</a>
                      <a href="http://ruby-china.org/topics/node17" title="Linux">Linux</a>
                      <a href="http://ruby-china.org/topics/node18" title="Nginx">Nginx</a>
                      <a href="http://ruby-china.org/topics/node20" title="云服务">云服务</a>
                      <a href="http://ruby-china.org/topics/node39" title="搜索分词">搜索分词</a>
                      <a href="http://ruby-china.org/topics/node40" title="算法">算法</a>
                      <a href="http://ruby-china.org/topics/node41" title="CSS">CSS</a>
                      <a href="http://ruby-china.org/topics/node46" title="Mailer">Mailer</a>
                      <a href="http://ruby-china.org/topics/node53" title="数学">数学</a>
                      <a href="http://ruby-china.org/topics/node55" title="运维">运维</a>
                      <a href="http://ruby-china.org/topics/node60" title="Web 安全">Web 安全</a>
              </span>
          </li>
          <li>
              <label>Mobile</label>
              <span class="nodes">
                      <a href="http://ruby-china.org/topics/node32" title="iPhone">iPhone</a>
                      <a href="http://ruby-china.org/topics/node33" title="Android">Android</a>
              </span>
          </li>
          <li>
              <label>Languages</label>
              <span class="nodes">
                      <a href="http://ruby-china.org/topics/node4" title="Python">Python</a>
                      <a href="http://ruby-china.org/topics/node5" title="JavaScript">JavaScript</a>
                      <a href="http://ruby-china.org/topics/node34" title="Go">Go</a>
                      <a href="http://ruby-china.org/topics/node35" title="Erlang">Erlang</a>
                      <a href="http://ruby-china.org/topics/node48" title="Cocoa">Cocoa</a>
                      <a href="http://ruby-china.org/topics/node58" title="Clojure">Clojure</a>
                      <a href="http://ruby-china.org/topics/node59" title="Haskell">Haskell</a>
              </span>
          </li>
          <li>
              <label>Ruby China</label>
              <span class="nodes">
                      <a href="http://ruby-china.org/topics/node21" title="公告">公告</a>
                      <a href="http://ruby-china.org/topics/node22" title="反馈">反馈</a>
                      <a href="http://ruby-china.org/topics/node23" title="社区开发">社区开发</a>
              </span>
          </li>
          <li>
              <label>活动</label>
              <span class="nodes">
                      <a href="http://ruby-china.org/topics/node31" title="Ruby Tuesday">Ruby Tuesday</a>
                      <a href="http://ruby-china.org/topics/node49" title="GZRuby">GZRuby</a>
                      <a href="http://ruby-china.org/topics/node51" title="RubyConfChina">RubyConfChina</a>
                      <a href="http://ruby-china.org/topics/node57" title="其他线下活动">其他线下活动</a>
              </span>
          </li>
      </ul>
    </div>

    <div id="hot_locations" class="box">
      <h2>热门城市</h2>
      <ul>
        <li class="name"><a href="http://ruby-china.org/users/city/%E5%8C%97%E4%BA%AC">北京</a></li>
        <li class="name"><a href="http://ruby-china.org/users/city/%E4%B8%8A%E6%B5%B7">上海</a></li>
        <li class="name"><a href="http://ruby-china.org/users/city/%E6%9D%AD%E5%B7%9E">杭州</a></li>
        <li class="name"><a href="http://ruby-china.org/users/city/%E6%88%90%E9%83%BD">成都</a></li>
        <li class="name"><a href="http://ruby-china.org/users/city/%E5%B9%BF%E5%B7%9E">广州</a></li>
        <li class="name"><a href="http://ruby-china.org/users/city/%E6%B7%B1%E5%9C%B3">深圳</a></li>
        <li class="name"><a href="http://ruby-china.org/users/city/%E5%8D%97%E4%BA%AC">南京</a></li>
        <li class="name"><a href="http://ruby-china.org/users/city/%E6%AD%A6%E6%B1%89">武汉</a></li>
        <li class="name"><a href="http://ruby-china.org/users/city/%E8%A5%BF%E5%AE%89">西安</a></li>
        <li class="name"><a href="http://ruby-china.org/users/city/Beijing">Beijing</a></li>
        <li class="name"><a href="http://ruby-china.org/users/city/%E8%8B%8F%E5%B7%9E">苏州</a></li>
        <li class="name"><a href="http://ruby-china.org/users/city/%E9%9D%92%E5%B2%9B">青岛</a></li>
      </ul>
    </div>
  </div>
{{template "footer"}}
{{define "title"}}Golang China{{end}}
{{define "css"}}{{end}}
{{define "js"}}{{end}}