{{define "topnav"}}
<li class="first last active"><a href="/">首页</a></li>
{{end}}
{{define "content"}}
  <div id="main" class="container-fluid">
    <!--
    <div class="alert alert-warning" style="text-align:center; margin-bottom:10px;">Study Golang，对！没错！这里就是 Golang 社区，目前这里已经是国内最权威的 Golang 社区，拥有国内所有资深的 Golang 工程师。-->
    </div>
    <div id="sections" class="box">
      <h2>推荐博客文章</h2>
      <ul>
        {{range .articles}}
        <li>
          <div class="topic-item">
            <div class="main">
              <h4 class="title">
                <a href="http://blog.studygolang.com/{{.PostUri}}" class="entry-title" rel="bookmark" title="{{.PostTitle}}">{{.PostTitle}}</a>
              </h4>
              <div class="meta">
                <span class="last-touched" style="color:#a5a5a5;front-size:10px;">{{.PostDate}}</span>
              </div>
            </div>
          </div>
          <p>{{substring .PostContent 200 "..."}}</p>
        </li>
        {{end}}
      </ul>
    </div>
    <div class="home_suggest_topics">
      <div class="high_likes_topics box">
        <h2 class="title">推荐帖子</h2>
        <ul>
          {{range .hots}}
          <li>
            <a href="/user/{{.username}}"><img alt="{{.user.Username}}" title="{{.user.Username}}" class="uface" src="{{gravatar .user.Email 16}}" style="width:16px;height:16px;"></a>
            <a href="/topics/{{.tid}}" title="{{.title}}">{{substring .title 28 "..."}}</a>
            <span class="count">{{.like}} 人喜欢 {{.reply}} 人回复</span>
          </li>
          {{end}}
        </ul>
      </div>
      <div class="high_replies_topics box">
        <h2 class="title">最新帖子</h2>
        <ul>
          {{range .news}}
          <li>
            <a href="/user/{{.user.Username}}"><img alt="{{.user.Username}}" title="{{.user.Username}}" class="uface" src="{{gravatar .user.Email 16}}" style="width:16px;height:16px;"></a>
            <a href="/topics/{{.tid}}" title="{{.title}}">{{substring .title 28 "..."}}</a>
            <span class="count">{{.like}} 人喜欢 {{.reply}} 人回复</span>
          </li>
          {{end}}
        </ul>
      </div>
    </div>
    <div id="sections" class="box">
      <h2>讨论节点分类导航</h2>
      <ul>
        {{range .nodes}}
        <li>
          {{range $parent, $children := .}}
          <label>{{$parent}}</label>
          <span class="nodes">
            {{range $children}}
            <a href="/topics/node{{.nid}}" title="{{.name}}">{{.name}}</a>
            {{end}}
          </span>
          {{end}}
        </li>
        {{end}}
      </ul>
    </div>
  </div>
{{end}}
{{define "title"}}首页{{end}}
{{define "css"}}
<link href="/static/css/home.css" media="screen" rel="stylesheet" type="text/css">
{{end}}