{{define "topnav"}}
<li class="first"><a href="/">首页</a><span class="divider">/</span></li>
<li class=""><a href="/users" itemprop="url"><span itemprop="title">会员</span></a><span class="divider">/</span></li>
<li class="last active"><a href="/account/login" itemprop="url"><span itemprop="title">登录</span></a></li>
{{end}}
{{define "content"}}
<div id="main" class="container-fluid">
  <div class="content">
    <div class="box">
    {{if .error}}
      <div class="alert alert-block alert-error" id="alert_info">
        {{.error}}
      </div>
    {{end}}
      <form accept-charset="UTF-8" action="/account/login" class="simple_form form-horizontal new_user" id="new_user" method="post" novalidate="novalidate">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="JQx9FvyaKkblCTZpxMbF/IHDwgwA3RgzLWxYtN+aU6U=" /></div>
        <fieldset>
          <legend>登录</legend>
          <div class="control-group string required">
            <label class="string required control-label" for="username">用户名</label>
            <div class="controls">
              <input class="string required" id="username" name="username" size="50" style="width:180px;" type="text" value="{{.username}}" placeholder="请填写用户名或邮箱"/>
            </div>
          </div>
          <div class="control-group password optional">
            <label class="password optional control-label" for="passwd">密码</label>
            <div class="controls">
              <input class="password optional" id="passwd" name="passwd" size="50" style="width:180px;" type="password" placeholder="请填写密码"/>
            </div>
          </div>
          <div class="control-group checkbox optional">
            <label class="checkbox optional control-label"></label>
            <div class="controls">
              <div class="inputs-list"><label for="user_remember_me"><input id="user_remember_me" name="remember_me" style="width:auto;" type="checkbox" value="1" checked="checked" /> 记住登录状态</label></div>
            </div>
          </div>
          <div class="form-actions">
            <input class="btn btn-primary" data-disable-with="正在登录" name="commit" type="submit" value="登录" />
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="sidebar">
    <div class="box">
      <h2>还没有帐号？</h2>
      <a href="/account/register">注册</a><br />
      <a href="/account/forgetpwd">忘记了密码？</a><br />
    </div>
    <div class="box">
      <h2>用其他平台的帐号登录</h2>
      <ul>
        <li><a href="/account/auth/github">Github</a> </li>
      </ul>
    </div>
  </div>
</div>
{{end}}
{{define "title"}}登录 {{end}}