{{define "topnav"}}
<li class="first last active"><a href="/">首页</a></li>
{{end}}
{{define "content"}}
<div id="main" class="container-fluid">
  <!--
  <div class="alert alert-warning" style="text-align:center; margin-bottom:10px;">Study Golang，对！没错！这里就是 Golang 社区，目前这里已经是国内最权威的 Golang 社区，拥有国内所有资深的 Golang 工程师。
  </div>-->
  <div class="row-fluid">
    <div class="span2 block">
      <div class="box">
        <h2 class="title"><i class="icon-barcode"></i> 社区公告</h2>
        <div>
          <h3 id="notice_title"></h3>
          <p id="notice_content"></p>
        </div>
      </div>
      <div class="box">
        <h2 class="title"><i class="icon-tint"></i> 统计信息</h2>
        <ul id="stat" class="unstyled">
          <li>社区会员: <span id="_user"></span> 人</li>
          <li>帖子数: <span id="_topic"></span> 个</li>
          <li>回帖数: <span id="_reply"></span> 条</li>
          <li>资源数: <span id="_resource"></span> 个</li>
        </ul>
      </div>
    </div>
    <div class="span7 block home_content">
      <div class="box">
        <h2 class="title"><i class="icon-book"></i> 推荐博客文章<i class="more"><a href="http://blog.studygolang.com">更多>></a></i></h2>
        <ul class="unstyled">
          {{range .blogs}}
          <li>
            <div class="topic-item">
              <div class="main">
                <h4 class="title">
                  <a href="http://blog.studygolang.com/{{.PostUri}}" class="entry-title" rel="bookmark" title="{{.PostTitle}}">{{.PostTitle}}</a>
                </h4>
                <div class="meta">
                  <span class="last-touched" style="color:#a5a5a5;front-size:10px;">{{.PostDate}}</span>
                </div>
              </div>
            </div>
            <p>{{substring .PostContent 150 "..."}}</p>
          </li>
          {{end}}
        </ul>
      </div>
      <div class="box new_topics">
        <h2 class="title"><i class="icon-th-list"></i> 最新帖子<i class="more"><a href="/topics">更多>></a></i></h2>
        <ul class="unstyled">
          {{range .news}}
          <li>
            <a href="/user/{{.user.Username}}"><img alt="{{.user.Username}}" title="{{.user.Username}}" class="uface" src="{{gravatar .user.Email 16}}" style="width:16px;height:16px;"></a>
            <a href="/topics/{{.tid}}" title="{{.title}}">{{substring .title 35 "..."}}</a>
            <span class="count">{{.like}} 人喜欢 {{.reply}} 人回复</span>
          </li>
          {{end}}
        </ul>
      </div>
      <div class="box new_topics">
        <h2 class="title"><i class="icon-qrcode"></i> 最新资源<i class="more"><a href="/resources">更多>></a></i></h2>
        <ul class="unstyled">
          {{range .resources}}
          <li>
            <a href="/user/{{.username}}"><img alt="{{.user.Username}}" title="{{.user.Username}}" class="uface" src="{{gravatar .user.Email 16}}" style="width:16px;height:16px;"></a>
            <a href="/resources/{{.id}}" title="{{.title}}">{{substring .title 63 "..."}}</a>
          </li>
          {{end}}
        </ul>
      </div>
      <div id="sections" class="box">
        <h2>讨论节点分类导航</h2>
        <ul>
          {{range .nodes}}
          <li>
            {{range $parent, $children := .}}
            <label>{{$parent}}</label>
            <span class="nodes">
              {{range $children}}
              <a href="/topics/node{{.nid}}" title="{{.name}}">{{.name}}</a>
              {{end}}
            </span>
            {{end}}
          </li>
          {{end}}
        </ul>
      </div>
    </div>
    <div class="span3 block">
      {{if .me}}
      <div class="box">
        <div class="fix-clear">
          <div class="avatar-area fl">
              <span class="avatar"><a href="/user/{{.me.username}}"><img alt="个人首页" width="80" height="80" src="{{gravatar .me.email 80}}"></a></span>
          </div>
          <div class="profile-show fl">
            <p></p>
            <p class="user-name"><a href="/user/{{.me.username}}">{{.me.username}}</a></p>
            <p><a href="/account/edit">个人资料设置</a></p>
          </div>
        </div>
      </div>
      <div class="box" style="margin: 0 15px;">
        <a class="btn btn-primary" href="/topics/new">发布新帖</a>&nbsp;&nbsp;
        <a class="btn btn-primary" href="/resources/new">分享资源</a>
      </div>
      <!--
      <div class="box">
        <h2 class="title"><i class="icon-inbox"></i> 我的收藏</h2>
      </div>
      -->
      {{else}}
      <div class="box">
        <h2 class="title"><i class="icon-user"></i> 用户登录</h2>
        <form action="/account/login" method="post">
          <div class="control-group">
            <label class="control-label" for="username"></label>
            <div class="controls">
              <input class="span2" id="username" name="username" size="50" type="text" placeholder="请填写用户名或邮箱"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="passwd"></label>
            <div class="controls">
              <input class="span2" id="passwd" name="passwd" size="50" type="password" placeholder="请填写密码"/>
            </div>
          </div>
          <div class="control-group checkbox optional">
            <label class="control-label"></label>
            <div class="controls">
              <div class="inputs-list">
                <label for="user_remember_me" style="display:inline;"><input id="user_remember_me" name="remember_me" type="checkbox" value="1" checked="checked" /> 记住登录状态</label>
                <input class="btn btn-primary" style="vertical-align: top;" data-disable-with="正在登录" name="commit" type="submit" value="登录" />
              </div>
            </div>
          </div>
        </form>
      </div>
      {{end}}
      <div class="box hot_nodes">
        <h2 class="title"><i class="icon-tags"></i> 热门节点</h2>
        <ul id="hotnodes" class="unstyled">
        </ul>
      </div>
      <div class="box">
        <h2 class="title"><i class="icon-th-large"></i> 活跃会员</h2>
        <ul class="unstyled">
          {{range .actives}}
          <li class="fl" style="margin: 8px;">
          <div class="avatar"><a href="/user/{{.Username}}" title="{{.Username}}"><img alt="{{.Username}}" class="uface" src="{{gravatar .Email 48}}" style="width:48px;height:48px;"></a></div>
          <div class="name center"><a href="/user/{{.Username}}" title="{{.Username}}">{{substring .Username 6 ""}}</a></div>
          </li>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
{{define "title"}}首页{{end}}
{{define "css"}}
<link href="/static/css/home.css" media="screen" rel="stylesheet" type="text/css">
<style type="text/css">
  .block{
    background-color:#fff;
    margin:0 0 20px 0;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    -webkit-box-shadow:0 0px 2px rgba(0,0,0,0.05);
    -moz-box-shadow:0 0px 2px rgba(0,0,0,0.1);
    box-shadow:0 0px 2px rgba(0,0,0,0.05)
  }
  .block .box {
    margin:3px;
    clear:both;
  }
  .fl {
    float: left;
  }
  .profile-show {
    padding-left: 10px;
  }
  .block .hot_nodes ul {
    margin: 0;
    list-style: none;
  }
  .block .hot_nodes ul li {
    display: inline;
    margin: 0;
    padding: 0;
  }
  .block .hot_nodes ul li a {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 6px;
    padding: 2px 10px;
    color: #778087;
    text-decoration: none;
    background-color: #f5f5f5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  .block .hot_nodes ul li a:hover {
    color: white;
    background-color: #99a;
  }
  .new_topics ul li {
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .new_topics ul a {
    margin-right: 5px;
  }
  .new_topics .count {
    font-size: 12px;
    color: #999;
    display: inline-block;
  }
  .home_content h2 {
    position:relative;
  }
  .home_content h2 .more {
    position:absolute;right:3px;
  }

  .box p {
	  word-wrap: break-word;
  }
</style>
{{end}}
{{define "js"}}
<script type="text/javascript">
$(function(){
    $.getJSON('/topics/notice.json', {},function(data){
        if (!data.errno) {
            $('#notice_title').html(data.notice.title);
            $('#notice_content').html(data.notice.content);
        }
    });

    $.getJSON('/topics/stat.json', function(data){
        if (!data.errno) {
            $('#_user').html(data.user);
            $('#_topic').html(data.topic);
            $('#_reply').html(data.reply);
            $('#_resource').html(data.resource);
        }
    });

    $.getJSON('/nodes/hot.json', function(data){
        if (!data.errno) {
            if (data.nodes == null) {
                return
            }
            var count = data.nodes.length
              nodeHtml = '';
            for (var i=0; i<count; i++) {
                var node = data.nodes[i];
                nodeHtml += '<li> <a href="/topics/node'+node.nid+'" title="'+node.name+'">'+node.name+'</a></li>';
            }
            $('#hotnodes').html(nodeHtml);
        }
    });
});
</script>
{{end}}