{{define "querylist"}}
<h4>总数：{{ .total }}</h4><br/>
<table id="logo_table" cellpadding="0" cellspacing="0" border="0" class="stdtable">
	<thead class="center">
		<tr>
			<td width="3%">晨读ID</td>
			<td width="15%">内容</td>
			<td width="3%">类别</td>
			<td width="5%">链接</td>
			<td width="5%">更多链接</td>
			<td width="3%">发布人</td>
			<td width="3%">点击次数</td>
			<td width="5%">创建时间</td>
			<td width="5%">操作</td>
		</tr>
	</thead>
	<tbody class="center">
		{{range .datalist}}
			<tr>
				<td>{{.Id}}</td>
				<td class="newline">{{.Content}}</td>
				<td>{{if eq .Rtype 0}}Go晨读{{else}}综合晨读{{end}}</td>
				<td><a href="{{if eq .Inner 0 }}{{.Url}}{{else}}/articles/{{.Inner}}{{end}}" class="blue" target="_blank">链接</a></td>
				<td class="newline">{{range .Urls}}<a href="{{.}}" class="blue" target="_blank">链接</a><br/>{{else}}无{{end}}</td>
				<td><a href="/admin/user/user/detail?username={{.Username}}" target="_blank">{{.Username}}</a></td>
				<td>{{.Clicknum}}</td>
				<td>{{.Ctime}}</td>
				<td class="actions">
					<a href="/admin/reading/publish?id={{.Id}}" target="_blank">修改</a>
				</td>
			</tr>
		{{end}}
	</tbody>
</table>

<div class="gigantic pagination">
	<a href="#" class="first" data-action="first">&laquo;</a>
	<a href="#" class="previous" data-action="previous">&lsaquo;</a>
	<input type="text" readonly="readonly" data-max-page="40" />
	<a href="#" class="next" data-action="next">&rsaquo;</a>
	<a href="#" class="last" data-action="last">&raquo;</a>
</div>

<input type="hidden" id="totalPages" value="{{ .totalPages }}"/>
<input type="hidden" id="cur_page" value="{{ .page }}"/>
<input type="hidden" id="limit" value="{{ .limit }}"/>

{{end}}