{{define "content"}}
<article class="module width_full">
  <header>
    <h3 class="tabs_involved">帖子节点管理</h3>
  </header>

  <div class="tab_container">
    <div class="tab_content">
      <table class="tablesorter" cellspacing="0"> 
        <thead> 
          <tr> 
              <th></th> 
              <th>节点编号</th> 
              <th>名称</th>
              <th>父节点</th>
              <th>创建时间</th>
              <th>操作</th>
          </tr> 
        </thead> 
        <tbody>
          {{range .nodes}}
          <tr> 
              <td><input type="checkbox"></td> 
              <td>{{.nid}}</td>
              <td>{{.name}}</td>
              <td>{{.parent}}</td>
              <td>{{.ctime}}</td>
              <td><input type="image" src="/static/img/admin/icn_edit.png" title="Edit"><input type="image" src="/static/img/admin/icn_trash.png" title="Trash"></td>
          </tr>
          {{else}}
          <tr> 
              <td colspan="6" style="text-align:center;color:red;">暂时没有任何节点！</td> 
          </tr>
          {{end}}
        </tbody> 
      </table>

    </div><!-- end of #tab1 -->
    
  </div><!-- end of .tab_container -->

</article><!-- end of content manager article -->
{{end}}