{{define "content"}}
<div class="pageheader notab">
	<h1 class="pagetitle">晨读管理</h1>
	<span class="pagedesc">技术晨读，包括：Go晨读、综合晨读</span>
</div><!--pageheader-->

<div id="contentwrapper" class="contentwrapper">
	<form id="queryform" class="stdform_q" action="" method="get">
		<div>
			<p>
				<label>晨读ID</label>
				<span class="field"><input type="text" id="q_id" name="id" class="smallinput" value=""/></span>
			</p>
			<p>
				<label>晨读类型</label>
				<span class="field">
						<select id="q_rtype" name="rtype" class="uniformselect">
								<option value="">全部</option>
								<option value="0">Go晨读</option>
								<option value="1">综合晨读</option>
						</select>
				</span>
			</p>
		</div>
		<div>
			<p> 
				<label>&nbsp;</label>
				<span class="field"><button id="queryform_sub" class="submit radius2">查询</button></span>
				<span class="field"><a href="/admin/reading/publish" class="submit radius2 abtn" target="_blank">发布</a></span>
			</p>
		</div>
	</form>
	<div class="contenttitle2">
		<h3>数据列表</h3>
	</div>
	<div id="query_result">
		{{template "querylist" .}}
	</div>
	<img id="loaders" src="/static/img/loaders/loader7.gif" alt="" class="hide">

</div><!--contentwrapper-->

<br clear="all" />
{{end}}
{{define "js"}}
<script	type="text/javascript" src="/static/js/admin/jquery.jqpagination.min.js"></script>
<script type="text/javascript">
// 需要传入下面js的变量定义
var GLOBAL_CONF = {
	"action_query" : "/admin/reading/query.html",
	"query_params" : {
		'id' : '#q_id',
		'rtype' : '#q_rtype'
	}
};
</script>
<script	type="text/javascript" src="/static/js/admin/datalist.js"></script>
{{end}}