<script type="text/javascript">
$(function(){
	$('code[class*="language-"]').parent('pre').addClass('line-numbers');
});
</script>
<script src="https://cdn.bootcss.com/prism/9000.0.1/prism.min.js"></script>
<script src="https://cdn.bootcss.com/prism/9000.0.1/components/prism-go.min.js"></script>
<script src="https://cdn.bootcss.com/prism/1.9.0/components/prism-json.min.js"></script>
<script src="https://cdn.bootcss.com/prism/9000.0.1/components/prism-bash.min.js"></script>
<script src="https://cdn.bootcss.com/prism/9000.0.1/components/prism-python.min.js"></script>
<script src="https://cdn.bootcss.com/prism/9000.0.1/components/prism-nasm.min.js"></script>
<script src="https://cdn.bootcss.com/prism/9000.0.1/components/prism-yaml.min.js"></script>
<script src="https://cdn.bootcss.com/prism/9000.0.1/plugins/line-numbers/prism-line-numbers.min.js"></script>

<script type="text/javascript">
Prism.languages.xml = Prism.languages.markup;
Prism.languages.html = Prism.languages.markup;
Prism.languages.mathml = Prism.languages.markup;
Prism.languages.svg = Prism.languages.markup;
Prism.languages.text = Prism.languages.go;
Prism.languages.golang = Prism.languages.go;
Prism.languages.none = Prism.languages.go;
Prism.languages.console = Prism.languages.bash;
Prism.languages.shell = Prism.languages.bash;
Prism.languages.asm = Prism.languages.nasm;
Prism.languages.makefile = Prism.languages.bash;
Prism.languages.Dockerfile = Prism.languages.bash;
Prism.languages.protobuf = Prism.languages.clike;
Prism.languages.c = Prism.languages.clike;
</script>