{{define "title"}}技术晨读 {{end}}
{{define "seo"}}<meta name="keywords" content="技术晨读, Go语言技术晨读, Go语言, Golang, Go中文社区,Golang中文社区, Go语言社区, Go语言中文网, Go语言学习园地">
<meta name="description" content="Go语言中文网每天给gopher们分享技术，每天一篇技术晨读，和大家一起进步">{{end}}
{{define "content"}}
<div class="row banner">
</div>
<div class="row">
	<div class="col-lg-9 col-md-8 col-sm-7">
		<ol class="breadcrumb">
			<li><a href="/"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
			<li class="active">技术晨读</li>
		</ol>
		{{range .readings}}
		<article class="article box_white reading">
			<div class="row">
				<div class="pull-left">
					<a href="/readings/{{.Id}}" target="_blank" title="阅读全文">
						<div class="time">
							<span>{{.Rdate}}</span>
						</div>
					</a>
				</div>
				<div class="reading-content">
					<p>{{.Content}} <a class="btn btn-success btn-xs" href="/readings/{{.Id}}" target="_blank" title="阅读全文">我要晨读</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 metatag">
					<i class="glyphicon glyphicon-calendar"></i>
					<span class="date timeago" title="{{.Ctime}}"></span>
					<i class="glyphicon glyphicon-user"></i>
					<a href="/user/{{.Username}}" class="author" title="发布人">{{.Username}}</a>
				</div>
				<div class="col-md-4 metatag text-right">
					<span class="view" title="阅读数">
						<i class="glyphicon glyphicon-eye-open"></i>
						已有<span>{{.Clicknum}}</span>人晨读
					</span>
				</div>
			</div>
		</article>
		{{end}}
		<ul class="pager">
			{{if .page.has_prev}}
			<li class="previous"><a href="/readings?lastid={{.page.prev_id}}">&larr; 上一页</a></li>
			{{end}}
			{{if .page.has_next}}
			<li class="next"><a href="/readings?lastid={{.page.next_id}}">下一页 &rarr;</a></li>
			{{end}}
		</ul>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-5">
		<div class="row box_white sidebar">
			<div class="top">
				<h3 class="title"><i class="glyphicon glyphicon-list"></i>&nbsp;<a href="/articles" target="_blank" title="点击更多">最新博文</a></h3>
			</div>
			<div class="sb-content">
				<div class="article-list" data-limit="10">
					<ul class="list-unstyled">
						<img src="/static/img/loaders/loader7.gif" alt="加载中" />
					</ul>
				</div>
			</div>
		</div>
		
		<div class="row box_white sidebar">
			<div class="top">
				<ul class="list-inline text-center">
					<li class="first"><a href="/topics" target="_blank" class="cur" title="点击更多">最新主题</a>|</li>
					<li class="second"><a href="/resources" target="_blank" title="点击更多">最新资源</a>|</li>
					<li class="last"><a href="javascript:;">最新评论</a></li>
				</ul>
				<p class="bar"></p>
			</div>
			<div class="sb-content">
				<div class="topic-list first">
					<ul class="list-unstyled">
						<img src="/static/img/loaders/loader7.gif" alt="加载中" />
					</ul>
				</div>
				<div class="resource-list second hidden">
					<ul class="list-unstyled">
					</ul>
				</div>
				<div class="cmt-list last hidden">
					<ul class="list-unstyled">
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{{end}}
{{define "css"}}
<style type="text/css">
.reading .time {width:80px; text-align: center; height:80px; line-height:80px; background: #DB6D4C;color: #fff;}
.reading .pull-left a:hover {text-decoration: none;}
.reading .reading-content {margin-left:100px;}
.reading .reading-content p {margin-top: 9.5px;}
</style>
{{end}}
{{define "js"}}
<script type="text/javascript">
// 需要加载的侧边栏
SG.SIDE_BARS = [
	"/topics/recent.json",
	"/resources/recent.json",
	"/comments/recent.json",
	"/articles/recent.json"
];
</script>
{{end}}