<div class="box_white">
	<dl class="topics dl-horizontal">
	{{range $i, $topic := .topics}}
		{{if or ($.node) (and (not $.node) .node.ShowIndex)}}
		<div class="topic">
			<dt class="avatar">
				<a href="/user/{{.user.Username}}" title="{{.user.Username}}"><img alt="{{.user.Username}}" class="img-rounded" src="{{gravatar .user.Avatar .user.Email 48 $.is_https}}" width="48px" height="48px"></a>
			</dt>
			<dd class="right-info">
				<div class="title">
					<a href="/topics/{{.tid}}" title="{{.title}}">{{substring .title 60 "..."}}</a>
				</div>
				<div class="meta">
					{{if .top}}
					<span style="color: #ff7700; border: 1px solid #ff7700;">置顶</span> • 
					{{end}}
					<a href="/go/{{.node.Ename}}" class="node" title="{{.node.Name}}">{{.node.Name}}</a>
					•
					<a href="/user/{{.user.Username}}" title="{{.user.Username}}" class="author"><strong>{{.user.Username}}</strong></a>
					{{if .lastreplyusername}}
					<span>
					•
						最后由 <a href="/user/{{.lastreplyusername}}" title="{{.lastreplyusername}}" class="author">{{.lastreplyusername}}</a> 于<abbr class="timeago" title="{{.lastreplytime}}"></abbr>回复
					</span>
					{{else}}
					<span>
					•
						于<abbr class="timeago" title="{{.ctime}}"></abbr>发布
					</span>
					{{end}}
					<div class="pull-right num">
						{{if .reply}}
						<a href="/topics/{{.tid}}#commentForm" title="查看评论">{{.reply}} <span class="glyphicon glyphicon-comment"></span></a>
						{{end}}
						{{if .like}}{{.like}} <span class="glyphicon glyphicon-heart"></span>{{end}}
						{{.view}} <span class="glyphicon glyphicon-eye-open"></span>
					</div>
				</div>
			</dd>
		</div>
				{{if eq $i 4}}
					{{if $.pos_ad.banner}}
					<div>
						{{if eq $.pos_ad.banner.AdType 0}}
							{{noescape $.pos_ad.banner.Code}}
						{{end}}
					</div>
					{{end}}
				{{end}}
		{{end}}
	{{else}}
		<p class="text-center">暂时没有任何主题</p>
	{{end}}
	</dl>
</div>
<div class="sep20"></div>
{{if .page}}
<div class="box_white">
	<div class="inner_content">
		<nav class="text-center"><ul class="pagination pagination-sm" style="margin: 1px 0;">{{.page}}</ul></nav>
	</div>
</div>
{{end}}