{{define "title"}}日常任务 {{end}}
{{define "seo"}}<meta name="keywords" content="{{.setting.SeoKeywords}}">
<meta name="description" content="{{.setting.SeoDescription}}">{{end}}
{{define "content"}}
<div class="row">
	<div class="col-md-9 col-sm-6">
		<div class="sep20"></div>

		<ol class="breadcrumb">
			<li><a href="/">首页</a></li>
			<li class="active">日常任务</li>
		</ol>
		<div class="page box_white">
			{{if .had_redeem}}
				{{if .show_msg}}
			<div class="alert alert-success alert-dismissible alert-info" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong>恭喜！</strong> 已成功领取每日登录奖励
			</div>
				{{end}}
			<div class="cell">
				<p class="c9">每日登录奖励已领取</p>
				<a class="btn btn-default btn-sm" href="/balance">查看我的账户余额</a>
			</div>
			{{else}}
			<div class="cell">
				<h1 style="margin-top: 10px;">每日登录奖励</h1>
				<a class="btn btn-default btn-sm" href="/mission/daily/redeem">领取 X 铜币</a>
			</div>
			{{end}}
			{{if .login_mission}}
			<div class="cell">已连续登录领取 {{.login_mission.Days}} 天，总登录领取 {{.login_mission.TotalDays}} 天</div>
			{{end}}
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="sep20"></div>
		
		{{include "common/my_info.html" .}}

	</div>
</div>
{{end}}
{{define "css"}}
<style type="text/css">
.alert-info {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6; margin:0 10px;}
</style>
{{end}}
{{define "js"}}
{{end}}
