<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
	<meta name="renderer" content="webkit"/>
	<title>{{template "title" .}} {{.setting.TitleSuffix}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<link rel="shortcut icon" href="{{.setting.Favicon}}">
	<link rel="apple-touch-icon" type="image/png" href="/static/img/logo2.png">
	{{template "seo" .}}
	<meta name="author" content="polaris <polaris@studygolang.com>">
	<link rel="stylesheet" href="/static/style/css/global.css"/>
	<link rel="stylesheet" href="/static/style/css/qa.css"/>
	<link rel="stylesheet" href="/static/style/css/responsive.css"/>
	<!--[if lt IE 9]-->
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<!--[endif]-->
</head>
<body data-mod="qa" class="qa-index ">
	<div class="global-nav sf-header sf-header--index">
	<nav class="container nav">
	<div class="visible-xs header-response">
		<a href="/search" style="display:block"><i class="fa fa-search" aria-hidden="true"></i></a>
		<div class="sf-header__logo sf-header__logo--response">
			<h1><a href="/" style="height:24px; background-size: auto 24px;"></a></h1>
		</div>
		<div class="opts">
			<li class="opts__item user dropdown hoverDropdown"><a class="dropdownBtn user-avatar" data-toggle="dropdown" style="background-image: url('https://sfault-avatar.b0.upaiyun.com/261/346/261346744-56cef4608a250_big64');" href="/u/liberxue"></a>
			<ul class="dropdown-menu dropdown-menu-right">
				<li class="divider visible-xs"></li>
				<li><a href="/user/{{.me.Username}}">我的主页</a></li>
					<li><a href="/account/edit">个人资料设置</a></li>
					<li><a href="/favorites/{{.me.Username}}">我的收藏</a></li>
					<li><a href="/balance">我的财富</a></li>
					<li role="presentation" class="divider"></li>
					{{if .me.IsAdmin}}
					<li><a href="/admin" target="_blank">管理后台</a></li>
							{{end}}
					<li class="last"><a href="/account/logout">退出</a></li>
				<li><a href="/">返回主页</a></li>
			</ul>
			</li>
			<li class="opts__item dropdown hoverDropdown write-btns mt0"><a class="dropdownBtn" data-toggle="dropdown" href="/ask"><i class="fa fa-plus" aria-hidden="true" style="margin-top: 7px"></i></a>
			<ul class="dropdown-menu dropdown-menu-right ">
				<li><a href="/ask">提问题</a></li>
				<li><a href="/submit">发头条</a></li>
				<li><a href="/write">写文章</a></li>
				<li><a href="/record">记笔记</a></li>
				<li class="divider"></li>
				<li><a href="/user/draft">草稿箱</a></li>
			</ul>
			</li>
		</div>
		<div class="bottom-nav">
			<div class="opts">
				<a class="opts-group active" href="/topics">
					<i class="fa fa-comments" aria-hidden="true"></i>
					<span>主题</span></a>
				    <a class="opts-group " href="/articles"><i class="fa fa-newspaper-o" aria-hidden="true"></i>
					<span>文章</span></a><a class="opts-group " href="/projects"><i class="fa fa-pencil-square" aria-hidden="true"></i>
					<span>开源项目</span></a><a class="opts-group " href="/resources"><i class="fa fa-play-circle" aria-hidden="true"></i>
					<span>资源</span></a>
				<div class="opts-group">
					<div class="btn-group dropup">
						<i class="fa fa-bars dropdown hoverDropdown" data-toggle="dropdown" aria-hidden="true"><span>更多</span></i>
						<ul class="dropdown-menu">
							<li><a href="/jobs">职位</a></li>
							<li><a href="/events">活动</a></li>
							<li><a href="/tags">标签</a></li>
							<li><a href="/badges">徽章</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row hidden-xs">
		<div class="col-sm-8 col-md-9 col-lg-9">
			<div class="sf-header__logo">
				<h1>				<a href="/" class="navbar-brand" title="{{.setting.Name}}"><img alt="{{.setting.Name}}" src="{{.setting.Logo}}" style="margin-top: -7px; height: 45px;"></a>
</h1>
			</div>
			<div>
				<ul class="menu list-inline pull-left hidden-xs">
					<li class="menu__item"><a href="/topics" class="active-nav">主题</a></li>
					<li class="menu__item"><a href="/articles" class="">文章</a></li>
					<li class="menu__item"><a href="/projects">开源项目</a></li>
					<li class="menu__item"><a href="/resources">资源</a></li>
					<li class="menu__item"><a href="/books">图书</a></li>
					<li class="menu__item visible-sm-inline-block"><a href="/search"><span class="glyphicon glyphicon-search" style="vertical-align: middle;"></span></a></li>
				</ul>
				<form action="/search" class="header-search hidden-sm hidden-xs pull-right">
					<button class="btn btn-link"><span class="sr-only">搜索</span><span class="glyphicon glyphicon-search"></span></button><input id="searchBox" name="q" type="text" placeholder="搜索问题或关键字" class="form-control" value="">
				</form>
			</div>
		</div>
		
		<div class="col-sm-4 col-md-3 col-lg-3 text-right">
			<ul class="opts list-inline hidden-xs">
								<li class="opts__item dropdown hoverDropdown write-btns visible-lg-inline-block">
				<div class="btn-group">
					<button type="button" class="btn btn-primary " id="shuldGoTo" data-type="qa">
                                                                                        晨读
					</button><button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span><span class="sr-only">显示下拉菜单</span></button>
					<ul class="dropdown-menu">
							<li><a href="/readings">Go晨读</a></li>
							<li><a href="/readings?rtype=1">综合晨读</a></li>
					</ul>
				</div>
				</li>
				<li class="opts__item dropdown hoverDropdown write-btns visible-lg-inline-block">
				<div class="btn-group">
					<button type="button" class="btn btn-primary " id="shuldGoTo" data-type="qa">
                                                                                        官方文档
					</button><button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span><span class="sr-only">显示下拉菜单</span></button>
					<ul class="dropdown-menu">
					{{range .setting.DocMenus}}
							<li><a href="{{.Url}}" target="_blank">{{.Name}}</a></li>
						{{else}}
							<li><a href="http://docs.studygolang.com" target="_blank">英文文档</a></li>
							<li><a href="http://docscn.studygolang.com" target="_blank">中文文档</a></li>
							<li><a href="/pkgdoc">标准库中文版</a></li>
							<li role="presentation" class="divider"></li>
							<li><a href="http://tour.studygolang.com" target="_blank">Go指南</a></li>
						{{end}}
					</ul>
				</div>
				</li>
				<li class="opts__item user dropdown hoverDropdown ml0"><a class="dropdownBtn user-avatar" data-toggle="dropdown" style="background-image: url('https://sfault-avatar.b0.upaiyun.com/261/346/261346744-56cef4608a250_big64')" href="/u/liberxue"></a>
				<ul class="dropdown-menu dropdown-menu-right">
					<li class="divider visible-xs"></li>
					<li class="first"><a href="/user/{{.me.Username}}">我的主页</a></li>
					<li><a href="/account/edit">个人资料设置</a></li>
					<li><a href="/favorites/{{.me.Username}}">我的收藏</a></li>
					<li><a href="/balance">我的财富</a></li>
					<li role="presentation" class="divider"></li>
					{{if .me.IsAdmin}}
					<li><a href="/admin" target="_blank">管理后台</a></li>
					{{end}}
					<li class="last"><a href="/account/logout">退出</a></li>
				</ul>
				</li>
			</ul>
		</div>
	</div>
	
	</nav>
</div>
	
	<div class="wrapper" id="wrapper">
		<div class="container" role="main">
		{{if .me.Uid}}
			{{if eq .me.Status 0}}
			<div class="row">
				<div class="alert alert-warning text-center" role="alert" style="margin-bottom: 0px;">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					您的账号未激活，不允许发布内容。<a href="/account/edit" class="alert-link">现在就去激活</a>
				</div>
			</div>
			{{end}}
		{{end}}

			{{template "content" .}}
		</div>
	</div>
	<div class="sep10"></div>
	<footer id="bottom">
		<div class="container nav-content">
			<div class="inner_content">
				<div class="sep10"></div>   
				<strong>
					{{range $i, $el := .setting.FooterNavs}}
					<a href="{{.Url}}" class="dark">{{.Name}}</a> &nbsp; <span class="snow">•</span> &nbsp; 
					{{end}}
					<span id="onlineusers">{{.online_users.online}}</span> 人在线
				</strong>
				&nbsp;<span class="cc">最高记录 <span id="maxonline">{{.online_users.maxonline}}</span></span>
				<div class="sep20"></div>
				&copy;{{.app.Copyright}} {{.setting.Slogan}}
				<div class="sep5"></div>
				Powered by <a href="https://github.com/studygolang/studygolang">StudyGolang(Golang + MySQL)</a> &nbsp;<span class="snow">•</span>&nbsp;服务器由 <a href="http://www.ucai.cn" class="dark" target="_blank">优才学院</a> 赞助 &nbsp;<span class="snow">·</span>&nbsp;CDN 由 <a href="https://portal.qiniu.com/signup?code=3lfz4at7pxfma" title="七牛云" class="dark" target="_blank">七牛云</a> 赞助
				<div class="sep20"></div>
				<span class="small cc">VERSION: {{.app.Version}}&nbsp;<span class="snow">·</span>&nbsp;{{.resp_time}}&nbsp;<span class="snow">·</span>&nbsp;<strong>为了更好的体验，本站推荐使用 Chrome 或 Firefox 浏览器</strong></span>
				<div class="sep20"></div>
				<span class="f12 c9"><a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">{{.setting.Beian}}</a></span>
				<div class="sep10"></div>
			</div>
		</div>
	</footer>

	<!-- <footer class="footer">
		<div class="container">
			<div>
				<div class="pull-left" style="margin-right:10px;">
					<a href="http://studygolang.com" target="_blank">
						<img src="/static/img/logo2.png" widht="48px" height="48px" alt="golang logo">
					</a>
				</div>
				<p class="links">
					{{range $i, $el := .setting.FooterNavs}}
					{{if gt $i 0}} | {{end}}<a href="{{.Url}}">{{.Name}}</a>
					{{end}}
				</p>
				<p class="copyright">&copy;{{.app.Copyright}} 采用 <a href="https://golang.org" target="_blank">Go语言</a> + <a href="https://www.mysql.com/" target="_blank">MYSQL 构建</a>
				&nbsp;&nbsp;当前在线：<span id="onlineusers">{{.online_users.online}}</span>人&nbsp;&nbsp;历史最高：<span id="maxonline">{{.online_users.maxonline}}</span>人&nbsp;&nbsp;运行时间：<attr>{{.app.Uptime}}</attr>
				<br/>
				<b>网站编译信息</b>&nbsp;版本：{{.app.Version}}/{{.app.Build}}，时间：<attr class="timeago">{{.app.Date}}</attr>
				<br/>{{.setting.Slogan}}
	{{.setting.Beian}}
				</p>
				<p class="text-center">
					{{range .setting.FriendLogos}}
					<a href="{{.Url}}" title="{{.Name}}" target="_blank"><img src="{{.Image}}" alt="{{.Name}}" width="{{.Width}}" height="{{.Height}}" /></a>
					{{end}}
				</p>
			</div>
		</div>
	</footer> -->
	<div id="gotop"></div>

	{{if .me.Uid}}
	<input type="hidden" id="is_login_status" value="1" />
	{{else}}
	<input type="hidden" id="is_login_status" value="0" />
	<div class="pop login-pop" id="login-pop">
		<div style="position: relative;"><span class="close" style="position: absolute; right: -15px; top: -15px; cursor: pointer; color: #000; font-size: 13px;">X</span></div>
		<div class="login-form">
			<div class="error text-center"></div>
			<div class="text-center" style="margin-bottom: 5px;">登录和大家一起探讨吧</div>
			<form action="#" method="post" class="form-horizontal" role="form">
				<div class="form-group">
					<label for="username" class="col-sm-3 control-label">用户名</label>
					<div class="col-sm-9 form-input">
						<input type="text" class="form-control" id="form_username" name="username" placeholder="请填写用户名或邮箱">
					</div>
				</div>
				<div class="form-group">
					<label for="passwd" class="col-sm-3 control-label">密码</label>
					<div class="col-sm-9 form-input">
						<input type="password" class="form-control" id="form_passwd" name="passwd" placeholder="密码">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<div class="checkbox">
							<label>
								<input id="user_remember_me" name="remember_me" type="checkbox" value="1" checked="checked" />	记住登录状态
							</label>
							<button type="submit" id="login-btn" class="btn btn-default btn-sm">登录</button>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<a id="login-github" href="/oauth/github/login" class="btn btn-default btn-sm pull-left">
							<i class="fa fa-github" aria-hidden="true"></i>
							GitHub 登录
						</a>
						<div class="forget">
							<a href="/account/forgetpwd" title="点击找回密码">忘记密码？</a>
						</div>
						<div class="register">
							<span>还不是会员</span><a href="/account/register">现在注册</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div id="sg-overlay"></div>
	{{end}}
	
	<!--<script type="text/javascript"  src="//apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>-->
	<script type="text/javascript" src="/static/js/libs/jquery-1.11.1.min.js"></script>
	<!--<script src="//apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
	<script type="text/javascript" src="/static/js/libs/bootstrap-3.2.0.min.js"></script>
	<script src="/static/js/libs/jquery.timeago.js?v=1.5.4"></script>
	<script src="/static/js/libs/jquery.timeago.zh-CN.js?v=1.5.4"></script>
	<script src="/static/js/libs/md5.js"></script>
	<script type="text/javascript">
	var isHttps = {{.is_https}},
		cdnDomain = "{{.cdn_domain}}";
	if (isHttps) {
		var wsUrl = 'wss://{{.wshost}}/ws?uid={{.me.Uid}}';
	} else {
		var wsUrl = 'ws://{{.wshost}}/ws?uid={{.me.Uid}}';
	}
	var GLaunchTime = {{timestamp .app.LaunchTime}}*1000;
	</script>
	<script src="/static/js/common.js?v=1.0"></script>
	{{template "js" .}}
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.84/jsrender.min.js"></script>
	<script type="text/javascript">
	$.views.settings.delimiters("[%", "%]");
	// $.views.settings.debugMode(true);
	</script>
	<script type="text/javascript" src="/static/js/libs/emojify.min.js"></script>
	<script type="text/javascript" src="/static/js/sidebar.js?v=1.10"></script>
</body>
</html>