<div class="widget__subnav mb30">
    <div class="row">
       	{{if .me.Uid}}
        <div class="panel panel-default mb0">
            <div class="panel-heading clearfix" style="line-height: 24px">
                <a class="avatar pull-left" href="/account/edit#change-avatar" style="background-image: url('{{gravatar .me.Avatar .me.Email 80 .is_https}}')" data-toggle="tooltip" title="更换头像"></a>
                		<a class="pull-left" href="/message/system" >
                	{{if .me.MsgNum}}
                <span class="score pull-left ml10 mr10">{{.me.MsgNum}} 条未读消息</span>
                			{{else}}
		  <span class="score pull-left ml10 mr10">{{.me.MsgNum}} 条未读消息</span>
		        	{{end}}</a>
                <div class="">
                <a href="/balance" class="balance_area">
				{{if .me.Gold}}
				{{.me.Gold}} <img src="/static/img/gold_48.png" alt="" width="16px">
				{{end}}
				{{if .me.Silver}}
				{{.me.Silver}} <img src="/static/img/silver_48.png" alt="" width="16px">
				{{end}}
				{{.me.Copper}} <img src="/static/img/copper_48.png" alt="" width="16px">
			</a> </div></div>
            <div class="panel-body pt0 pb0 pl0 pr0">
            		{{if not .me.Balance}}
            <a class="report" href="/balance">在你开始发帖之前，<span style="color: red;">请先领取初始资本</span></a>
        {{end}}
        {{if .has_login_misson}}
          <a class="report" href="/mission/daily"><small>领取今日的登录奖励</small></a>
            {{end}}
         <a class="widget__subnav-item borderRight borderBottom " href="topics/newt">
                    <span class="icon">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </span>
                    <span class="text">主题</span>
                </a>
                <a class="widget__subnav-item borderRight borderBottom " href="/articles/new">
                    <span class="icon">
                        <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                    </span>
                    <span class="text">文章</span>
                </a> 
             <a class="widget__subnav-item borderRight borderBottom " href="/favorites/{{.user.Username}}">
                    <span class="icon">
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                    </span>
                    <span class="text">收藏</span>
                </a>
                <a class="widget__subnav-item borderBottom " href="/resources/new">
                    <span class="icon">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </span>
                    <span class="text">分享</span>
                </a>
                <a class="widget__subnav-item borderRight borderBottom " href="/user/invited">
                    <span class="icon">
                        <i class="fa fa-smile-o" aria-hidden="true"></i>
                                            </span>
                    <span class="text">受邀回答</span>
                </a>
                <a class="widget__subnav-item borderRight borderBottom" href="/users">
                    <span class="icon">
                        <i class="fa fa-list-ol" aria-hidden="true"></i>
                    </span>
                    <span class="text">排行榜</span>
                </a>
                <!-- <a class="widget__subnav-item borderRight borderBottom" href="/badges">
                    <span class="icon">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                    </span>
                    <span class="text">徽章</span>
                </a>
                <a class="widget__subnav-item borderBottom " href="/review">
                    <span class="icon">
                        <i class="fa fa-anchor" aria-hidden="true"></i>
                                            </span>
                    <span class="text">众审中心</span>
                </a> -->
                <a class="widget__subnav-item borderRight " href="/user/invitation">
                    <span class="icon">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                    </span>
                    <span class="text">邀请朋友</span>
                </a>
                <!-- <a class="widget__subnav-item borderRight " href="/community">
                    <span class="icon">
                        <i class="fa fa-life-ring" aria-hidden="true"></i>
                    </span>
                    <span class="text">社区服务</span>
                </a>
                <a class="widget__subnav-item borderRight" href="/experts">
                    <span class="icon">
                        <i class="fa fa-money" aria-hidden="true"></i>
                                            </span>
                    <span class="text">付费问答</span>
                </a> -->

        </div>

    </div>
    </div>

	{{else}}
	<div class="top">
		<h3 class="title"> 用户登录</h3>
	</div>
	<div class="sb-content inner_content" style="padding-bottom: 0;">
		<form action="/account/login" method="post" class="form-horizontal login" role="form" style="padding-top: 0; padding-bottom: 0;">
			<div class="form-group">
				<div class="col-sm-10">
					<input type="text" class="form-control input-sm" id="username" name="username" placeholder="请填写用户名或邮箱">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10">
					<input type="password" class="form-control input-sm" id="passwd" name="passwd" placeholder="请填写密码">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10">
					<div class="checkbox">
						<label>
							<input id="user_remember_me" name="remember_me" type="checkbox" value="1" checked="checked" />	记住登录状态
						</label>
						<input class="btn btn-default btn-sm" data-disable-with="正在登录" name="commit" type="submit" value="登录" />
					</div>
					<div class="sep10"></div>
					<a href="/oauth/github/login" class="btn btn-default btn-sm">
						<i class="fa fa-github" aria-hidden="true"></i>
						GitHub 登录
					</a>
				</div>
			</div>
		</form>
	</div>
	{{end}}
</div>                     
<div class="row">
	<div class="col-md-9 col-sm-6">
			<div class="inner_content" style="border-top-left-radius: 3px; border-top-right-radius: 3px;" id="tabs">
		{{with or .feeds .topics  .docs}}
			{{range $.topics}}
			<div class="cell item">
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<tbody><tr>
						
						<td width="48" valign="top" align="center"><a href="/user/{{.user.Username}}"><img src="{{gravatar .user.Avatar .user.Email 48 $.is_https}}" class="avatar" width="48px"></a></td>
						<td width="10"></td>
						
						<td width="auto" valign="middle">
						<span class="item_title"><a href="/topics/{{.tid}}" class="noul">{{.title}}</a></span>
						<div class="sep5"></div>
						<span class="small cc">
							{{if .top}}
							<span style="color: #ff7700; border: 1px solid #ff7700;">置顶</span> • 
							{{end}}
							<a class="node" href="/go/{{.node.Ename}}">{{.node.Name}}</a> &nbsp;•&nbsp;
							<strong><a href="/user/{{.user.Username}}" class="noul">{{.user.Username}}</a></strong> &nbsp;•&nbsp;
							{{if .lastreplyuid}}
							<span title="{{.lastreplytime}}" class="timeago"></span>&nbsp;•&nbsp;最后回复来自 <strong><a href="/user/{{.lastreplyusername}}" class="noul">{{.lastreplyusername}}</a></strong>
							{{else}}
							<span title="{{.ctime}}" class="timeago"></span> 发布
							{{end}}
						</td>
						{{if .reply}}
						<td width="70" align="right" valign="middle">
							<a href="/topics/{{.tid}}" class="count_livid" title="{{.reply}}">{{.reply}}</a>
						</td>
						{{end}}
					</tr>
				</tbody></table>
			</div>
			{{end}}

			{{range $.articles}}
			<div class="cell item">
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<tbody><tr>
						
						<td width="48" valign="top" align="center">
						{{if .User}}
						<a href="/user/{{.User.Username}}"><img src="{{gravatar .User.Avatar .User.Email 48 $.is_https}}" class="avatar" width="48px"></a>
						{{else}}
						<a href="javascript:">
							<img class="noavatar" alt="" src="https://secure.gravatar.com/avatar/3bf6178897766ebadaa830073e87374d?s=48" data-objid="{{.Id}}" data-objtype="1">
						</a>
						{{end}}
						</td>
						<td width="10"></td>
						
						<td width="auto" valign="middle">
						<span class="item_title"><a href="/articles/{{.Id}}" class="noul">{{.Title}}</a></span>
						<div class="sep5"></div>
						<span class="small cc">
							{{if .Top}}
							<span style="color: #ff7700; border: 1px solid #ff7700;">置顶</span> • 
							{{end}}
							{{if .Tags}}
								{{$tags := explode .Tags ","}}
								<a class="node" href="/tag/{{index $tags 0}}">{{index $tags 0}}</a>
							{{else}}
								<a class="node" href="/articles">文章</a> &nbsp;•&nbsp;
							{{end}}
							{{if and .IsSelf .User}}
							<strong><a href="/user/{{.User.Username}}" class="noul">{{.User.Username}}</a></strong>
							{{else}}
							<span>{{.AuthorTxt}}</span>
							{{end}}
							&nbsp;•&nbsp;
							{{if .Lastreplyuid}}
							<span title="{{.Lastreplytime}}" class="timeago"></span>&nbsp;•&nbsp;最后回复来自 <strong><a href="/user/{{.LastReplyUser.Username}}" class="noul">{{.LastReplyUser.Username}}</a></strong>
							{{else}}
							<span title="{{.Ctime}}" class="timeago"></span> 发布
							{{end}}
						</td>
						{{if .Cmtnum}}
						<td width="70" align="right" valign="middle">
							<a href="/articles/{{.Id}}" class="count_livid" title="{{.Cmtnum}}">{{.Cmtnum}}</a>
						</td>
						{{end}}
					</tr>
				</tbody></table>
			</div>
			{{end}}

			{{range $.docs}}
			<div class="cell item" style="">
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<tbody><tr>
						<td width="48" valign="top" align="center">
						{{if .Uid}}
						{{$user := index $.users .Uid}}
						<a href="/user/{{$user.Username}}"><img src="{{gravatar $user.Avatar $user.Email 48 $.is_https}}" class="avatar" width="48px"></a>
						{{else}}
						<a href="javascript:">
							<img class="noavatar" alt="" src="https://secure.gravatar.com/avatar/3bf6178897766ebadaa830073e87374d?s=48" data-objid="{{.Objid}}" data-objtype="{{.Objtype}}">
						</a>
						{{end}}
						</td>
						<td width="10"></td>
						
						<td width="auto" valign="middle">
							<span class="item_title">
								<a class="title noul" href="/{{if eq .Objtype 0}}topics{{else if eq .Objtype 1}}articles{{else if eq .Objtype 2}}resources{{else if eq .Objtype 4}}p{{else}}wiki{{end}}/{{.Objid}}" title="{{.Title}}">{{.Title}}</a>
							</span>
							<div class="sep5"></div>
							<span class="small c9">
							{{if .Nid}}
								{{$node := index $.nodes .Nid}}
								<a class="node" href="/go/{{$node.Ename}}">{{$node.Name}}</a>
							{{else}}
								{{if .Tags}}
									{{$tags := explode .Tags ","}}
									<a class="node" href="/tag/{{index $tags 0}}">{{index $tags 0}}</a>
								{{else}}
									{{if eq .Objtype 1}}
									<a class="node" href="/articles">文章</a>
									{{else if eq .Objtype 2}}
									<a class="node" href="/resources">分享发现</a>
									{{else if eq .Objtype 3}}
									<a class="node" href="/wiki">WIKI</a>
									{{else if eq .Objtype 4}}
									<a class="node" href="/projects">开源项目</a>
									{{end}}
								{{end}}
							{{end}}
								&nbsp;•&nbsp; 
							{{if .Uid}}
								{{$user := index $.users .Uid}}
								 <strong><a href="/user/{{$user.Username}}" class="noul">{{$user.Username}}</a></strong>
							{{else}}
								<span>{{.Author}}</span>
							{{end}}
								&nbsp;•&nbsp; 
							{{if .Lastreplyuid}}
								{{$user := index $.users .Lastreplyuid}}
								<span title="{{.Lastreplytime}}" class="timeago"></span>&nbsp;•&nbsp; 最后回复来自 <strong><a href="/user/{{$user.Username}}" class="noul">{{$user.Username}}</a></strong>
							{{else}}
								<span title="{{.PubTime}}" class="timeago"></span> 发布
							{{end}}
							</span>
						</td>
						{{if .Cmtnum}}
						<td width="70" align="right" valign="middle">
							<a href="/{{if eq .Objtype 0}}topics{{else if eq .Objtype 1}}articles{{else if eq .Objtype 2}}resources{{else if eq .Objtype 4}}p{{else}}wiki{{end}}/{{.Objid}}" class="count_livid" title="{{.Cmtnum}}">{{.Cmtnum}}</a>
						</td>
						{{end}}

					</tr>
				</tbody></table>
			</div>
			{{end}}

		{{else}}

			<div class="cell item">
				<div class="pull-right"><a href="/topics/new">我来发布</a> <i class="fa fa-caret-right c9"></i></div>
				<span class="text-center" style="display: inherit">暂无主题</span>
			</div>
		{{end}}
		
		</div>

			{{range .all_nodes}}
			<div class="cell">
				<table cellpadding="0" cellspacing="0" border="0"><tbody>
					<tr>
					{{range $parent, $children := .}}
						<td align="right" width="65"><span class="cc">{{$parent}}</span></td>
						<td style="line-height: 200%; padding-left: 10px; word-break: keep-all;">
						{{range $children}}
							<a href="/go/{{.ename}}" style="font-size: 14px;" class="noul" title="{{.name}}">{{.name}}</a>&nbsp; &nbsp;
						{{end}}
						</td>
					{{end}}
					</tr>
				</tbody></table>
			</div>
			{{end}}
			
		</div>

	</div>