<div class="cell qrcode" style="position: relative;">
    <p>入群交流（和以上内容无关）：Go中文网 QQ 交流群：798786647 或加微信入微信群：274768166  备注：入群；关注公众号：<a href="javascript:void(0)" title="" target="_self">Go语言中文网<img width="16" src="https://weixin.sogou.com/new/pc/images/ico_ewm.png"></a></p>
    <span style="display: none;" class="qrcode-pop">
        关注Go语言中文网<br>
        <img src="{{.static.domain}}/static/img/wx_sg_qrcode.jpg?imageView2/2/w/280" alt="关注微信" class="img-responsive">
        <span style="color: red;">领全套学习资料</span>
    </span>
</div>

<style type="text/css">
.qrcode-pop {
    background: #fff;
    border: 1px solid #ddd;
    position: absolute;
    left: 42%;
    top: 32px;
    -moz-box-shadow: 0 2px 5px #ddd;
    -webkit-box-shadow: 0 2px 5px #d9d9d9;
    box-shadow: 0 2px 5px #d9d9d9;
    border-radius: 2px;
	text-align: center;
    padding: 5px 10px 16px;
    line-height: 32px;
    width: 150px;
}
</style>
