table.data th.h {
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    border-right: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
    text-shadow: 0px 1px 0px #fff;

    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #e2e2e2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e2e2e2));
    background: -webkit-linear-gradient(top, #f5f5f5 0%,#e2e2e2 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%,#e2e2e2 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%,#e2e2e2 100%);
    background: linear-gradient(top, #f5f5f5 0%,#e2e2e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e2e2e2',GradientType=0 );

    padding: 5px;
}

table.data td.d {
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}