{{define "title"}}Go中文翻译组 - GCTT {{end}}
{{define "content"}}
<div class="row">
    <div class="col-md-9 col-sm-6">
        <div class="sep20"></div>
        <div>
            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">GCTT</li>
            </ol>
        </div>
        
        <div class="page box_white">
            <div class="cell markdown-body">
                <h2><a href="#简介" aria-hidden="true" class="anchor" id="user-content-简介"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>简介</h2>
                <p>GCTT (Go Chinese Translation Team) 是 Go中文网（<a href="https://studygolang.com" rel="nofollow">https://studygolang.com</a>) 翻译组，负责从国外优秀媒体翻译 Go 相关的技术、教程、资讯、杂文等内容。</p>
                <h2><a href="#gctt-的组成" aria-hidden="true" class="anchor" id="user-content-gctt-的组成"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>GCTT 的组成</h2>
                <p><strong>选题</strong>，负责选择合适的内容，并将原文转换为 markdown 格式（可以使用 <a href="https://domchristie.github.io/to-markdown/" rel="nofollow">https://domchristie.github.io/to-markdown/</a> 做转换），提交到 <a href="https://github.com/studygolang/gctt">GCTT</a> 库中。</p>
                <p><strong>译者</strong>，负责从选题中选择内容进行翻译。</p>
                <p><strong>校对</strong>，负责将初译的文章进行文字润色、技术校对等工作。</p>
                <p><strong>发布</strong>，负责将校对后的文章，排版发布到 Go中文网 的文章中。</p>
                <h2><a href="#加入我们" aria-hidden="true" class="anchor" id="user-content-加入我们"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>加入我们</h2>
                <p>请首先加入翻译组的 QQ 群，群号是：<strong>423373670</strong>，加群时请说明是“志愿者”。加入后记得修改您的群名片为您的 GitHub 的 ID。</p>
                <h2><a href="#如何开始" aria-hidden="true" class="anchor" id="user-content-如何开始"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>如何开始</h2>
                <p>加入的成员，请先阅读 <a href="https://github.com/studygolang/GCTT/wiki">WIKI 如何开始</a>。</p>
                <h2><a href="#历史" aria-hidden="true" class="anchor" id="user-content-历史"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>历史</h2>
                <ul>
                <li>2017/11/16 倡议并得到了大家的积极响应，成立翻译组。有人提到 LCTT 做的不错，因此仿照 LCTT，创立了 GCTT。</li>
                <li>2017/11/17 完成了 GCTT 仓库文档等工作；并开始了翻译。</li>
                </ul>
                <h2><a href="#inspire-by-lctt" aria-hidden="true" class="anchor" id="user-content-inspire-by-lctt"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Inspire By LCTT</h2>
                <p>感谢 Linux 中国 的 <a href="https://github.com/LCTT/TranslateProject">LCTT 项目</a>，此项目是 LCTT 项目在 Go 领域的一个实现！</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="sep20"></div>
        <div class="box_white sidebar">
            <div class="top">
                <h3 class="title"><i class="glyphicon glyphicon-user"></i>&nbsp;<a href="/gctt-list" title="全部译者">主要成员</a></h3>
            </div>
            <div class="sb-content">
                <div class="user-list">
                    <ul class="list-unstyled">
                        <li class="pull-left">
                            <div class="avatar"><a href="/gctt/polaris1119" title="polaris1119">
                                <img alt="tk103331" class="img-circle" src="https://avatars2.githubusercontent.com/u/899673?v=4&s=48" width="48px" height="48px"></a>
                            </div>
                            <div class="name" style="white-space: nowrap;">
                                <a style="word-break: normal;" href="/gctt/polaris1119" title="polaris1119">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>组长<br>
                                    polaris1119
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
{{end}}

{{define "css"}}
<style>
.markdown-body {
    font-size: 1.45rem; 
    padding-left: 20px;
    padding-right: 20px;
}

.markdown-body .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;
}
.markdown-body h1 .octicon-link,.markdown-body h2 .octicon-link,.markdown-body h3 .octicon-link,.markdown-body h4 .octicon-link,.markdown-body h5 .octicon-link,.markdown-body h6 .octicon-link {
    color: #1b1f23;
    vertical-align: middle;
    visibility: hidden;
}

.markdown-body h1:hover .anchor,.markdown-body h2:hover .anchor,.markdown-body h3:hover .anchor,.markdown-body h4:hover .anchor,.markdown-body h5:hover .anchor,.markdown-body h6:hover .anchor {
    text-decoration: none
}

.markdown-body h1:hover .anchor .octicon-link,.markdown-body h2:hover .anchor .octicon-link,.markdown-body h3:hover .anchor .octicon-link,.markdown-body h4:hover .anchor .octicon-link,.markdown-body h5:hover .anchor .octicon-link,.markdown-body h6:hover .anchor .octicon-link {
    visibility: visible
}
</style>
{{end}}