{{define "title"}}成员列表 - Go中文翻译组(GCTT) {{end}}
{{define "content"}}
<div class="row">
    <div class="col-md-9 col-sm-6">
        <div class="sep20"></div>
        <ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li><a href="/gctt">GCTT</a></li>
            <li class="active">成员列表</li>
        </ol>
        <div class="page box_white">
            <img src="https://raw.githubusercontent.com/studygolang/GCTT/master/logo.png" alt="" class="img-responsive center-block" width="120px">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>译者</th>
                            <th>篇数</th>
                            <th>贡献</th>
                            <th>加入时间</th>
                            <th>最近贡献时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range $i, $user := .users}}
                        <tr>
                            <td>{{add $i 1}}</td>
                            <td><a href="/gctt/{{.Username}}">{{.Username}}</a></td>
                            <td>{{.Num}}</td>
                            <td>{{.Words}}</td>
                            <td>{{format .JoinedAt "2006-01-02 15:04"}}</td>
                            <td><span class="timeago" title='{{if .LastAt}}{{format .LastAt "2006-01-02 15:04:05 +8000"}}{{else}}{{format .JoinedAt "2006-01-02 15:04:05 +8000"}}{{end}}'></span></td>
                        </tr>
                        {{end}}
                    </tbody>
                    <tfoot><tr><th> </th><th> </th><th>{{.num}}</th><th>{{.words}}</th><th> </th><th> </th></tr></tfoot>
                </table>
                <div style="margin: 5px; padding: 10px; font-size: 1.0rem;">
                    <p>1. 本排行榜仅依据 GitHub 上进行的工作流统计，并只统计翻译贡献（选题、校对和发布工作的贡献不在此列）</p>
                    <p>2. 本排行榜近依据翻译篇数和字数进行排列，没有考虑翻译难度和翻译质量</p>
                    <p>3. 本排行榜仅供翻译志愿者了解自己所做的贡献，排名并不能完全说明贡献的大小</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="sep20"></div>

        <div class="box_white sidebar">
            <div class="top">
                <h3 class="title"><i class="glyphicon glyphicon-list"></i>&nbsp;最新翻译成果</h3>
            </div>
            <div class="sb-content">
                <div class="article-list">
                    <ul class="list-unstyled" style="margin:10px;">
                    {{range .prs}}
                        <li>
                            <a href="https://github.com/studygolang/GCTT/pull/{{.PR}}" target="_blank" data-tooltip="{{.Title}}" style="font-size: 1.25rem;">{{.Title}}</a>
                        </li>
                    {{end}}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
{{end}}

{{define "css"}}
<link href="https://cdn.bootcss.com/html5tooltipsjs/1.7.2/html5tooltips.min.css" rel="stylesheet">
{{end}}

{{define "js"}}
<script src="https://cdn.bootcss.com/html5tooltipsjs/1.7.2/html5tooltips.min.js"></script>
{{end}}