{{define "title"}}成员列表 - Go中文翻译组(GCTT) {{end}}
{{define "content"}}
<div class="row">
    <div class="col-md-9 col-sm-6">
        <div class="sep20"></div>
        <ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li><a href="/gctt">GCTT</a></li>
            <li class="active">成员列表</li>
        </ol>
        <div class="page box_white">
            
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="sep20"></div>

    </div>
</div>
{{end}}