.books { margin-top: 10px; padding: 5px 0; }
.book { overflow: hidden; clear: both; padding: 0 15px; }
@media(min-width: 768px) {
	.book .meta-num { max-width: 100px; margin-top: 10.5px; }
}
.book h4 { color: #474747; font-weight: bold; }
.book h4 a { color: #474747;text-decoration: none;overflow: hidden; }
.book h4 a:hover { color: #DB6D4C; }
.book .stats { background: #eeeeee; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; margin: 0; padding: 5px; text-align: center; }
.book .stats .votes { color: #555555; }
.stats strong { display: block; font-size: 140%; font-weight: bold; }
.stats .answered { color: #ffffff; background-color: #7e91bd; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; padding: 4px 0; margin: 0; }
.views-orange { color: #ee7711; padding-top: 4px; text-align: center;}
.author-date { color: #999; font-size: 13px; }
.author-date a { color: #999; text-decoration: none; }
.author-date a:hover { color: #DB6D4C; }

.book .desc { margin-top: 5px; font-size: 14px; }
.book .desc a { text-decoration: none; color: #3d5998; }
.book .desc a:hover { color: #DB6D4C; }

.book .book-cover-box { margin-top: 10.5px; }
.book .book-cover-box a { position: relative; overflow: visible; margin: 5px 0; width: 120px; margin-right: .6em;}
.book .book-cover-box img { border: 1px solid #fff; box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7); -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7); -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); display: block; max-width: 100%; vertical-align: middle; }
@media(min-width: 768px) {
	.book .book-cover-box { float: right; }
	.book .book-cover-box a { float: right; }
	.book .book-cover-box img { width: 100%; }
}

hr { margin: 18px 0; border: 0; border-top: 1px solid #555555; border-bottom: 1px solid #ffffff; clear: both; }
hr.dashed { border-top: 1px dashed #999999; }

.book-header .lang { font-size: 13px; }
.book-like { margin-top: 16px; }
.book-like .like { text-align: center; }
.book-like .like strong { line-height: 1.2em; display: block; color: #555555; font-weight: bold; font-size: 32px; line-height: 50px; }
.book-like .like a { text-decoration: none; color: #3d5998; }
.book-sales { text-align: center; }