.tip { margin: 15px 0px; padding: 5px; text-align: center; height:28px;overflow:hidden; }
.tip ul {margin: 0px; color: #d54f4b;}
.tip ul li {height:28px;line-height:28px;}
.tip ul li a { color: #db6d4c; }
.tip ul li a:hover { color: #CC0000; }

.recent-list {}
.article-list { margin-top: 20px; margin-bottom: 20px;}

.recent-list .title, .article-list .title, .book-list .title {position: relative; border-bottom: 1px solid #ccc;}
.recent-list .title h3, .article-list .title h3, .book-list .title h3 { line-height: 24px;font-size: 14px; font-weight: bold; display: inline-block; margin-bottom: 4px; margin-top: 10px;}
.recent-list .title h3 a, .article-list .title h3 a, .book-list .title h3 a {text-decoration: none;color: #666;}
.recent-list .title .more, .article-list .title .more, .book-list .title .more { position: absolute; right: 3px;top: 16px;font-size: 10pt; text-decoration: none;}
.recent-list ul {padding-top: 5px;}
.recent-list ul li {height: 22px;line-height: 22px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;border-bottom: 1px #c2d5e3 dashed;margin-bottom: 5px;padding-bottom: 5px;}
.recent-list ul li i {float: left;width: 4px;height: 4px;background: #858585;margin-top: 10px;margin-right: 7px;}
.recent-list ul li a {text-decoration: none;}
.recent-list ul li a:hover {text-decoration: underline; color: #d54f4b;}
.recent-list ul li em { display: inline-block; border-radius: 50%; width: 15px; height: 15px; background-color: #ccd0d3; color: #fff; text-align: center; line-height: 15px; }

.article-list .title, .book-list .title {margin-left: 15px; margin-right: 15px;}
.article-list .article-bottom { margin-bottom: 15px; margin-right: 15px; margin-top: -12px; font-size: 10pt;}

.learn-info {}
.learn-info h3 {line-height: 24px;font-size: 14px; font-weight: bold; margin-bottom: 6px; margin-top: 10px; border-bottom: 1px solid #ccc; margin-left: 15px; margin-right: 15px;}
.learn-info h3 a {text-decoration: none;color: #666;}
.learn-info .infolist ul li a.video {text-decoration: none;color: #3366CC;}
.learn-info .infolist ul li { height: 23px; line-height: 23px; margin-bottom: 5px;}
.learn-info .infolist ul li a.video:hover {text-decoration: underline; color: #F37A55;}
.learn-info .infolist ul li a.learn {text-decoration: underline;color: #F37A55;}
.learn-info .infolist ul li a.learn:hover {text-decoration: none;color: #FF0000;}
.learn-info  ul li i {float: left;width: 4px;height: 4px;background: #858585;margin-top: 10px;margin-right: 7px;}

.book-list { margin-bottom: 15px; }
.book-list ul { overflow: hidden; }
.book-list .book-item { margin: 10px 18px; float: left; }
.book-list .book-item .book-img { width: 180px; margin: 0 auto; }
.book-list .book-item .book-img img { border: 1px solid #fff; box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7); -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7); -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); display: block; max-width: 100%; vertical-align: middle; }
.book-list .book-item .book-title { width: 160px; margin: 0 auto; text-align: center; overflow: hidden; white-space: nowrap; }

.sidebar {margin-left: 0px;}
.sidebar .box {padding: 0 10px;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;-webkit-box-shadow: 0 0px 2px rgba(0,0,0,0.05);-moz-box-shadow: 0 0px 2px rgba(0,0,0,0.1);box-shadow: 0 0px 2px rgba(0,0,0,0.05); clear:both; overflow: hidden;}
.sidebar .avatar-area, .sidebar .profile-show { margin-left: 20px; }

.sidebar .sb-content .login .col-sm-10 {margin-left:10px;}