.userinfo { padding:10px; }
.userinfo .pull-right { width:80px; }
.userinfo .pull-right a.btn { margin: 5px 10px 0px 4px; }
.userinfo ul {}
.userinfo ul li {font-size: 14px;line-height: 180%;border-bottom: 1px dashed #eee;}
.userinfo ul li label {color: #999;font-size: 12px;margin-right: 8px;display: inline-block;width: 100px;text-align: right;}

.recent .title {margin-top: 0px;font-size: 14px; padding: 10px;margin-bottom: 8px;line-height: 24px; font-weight: bold; border-bottom: 1px solid #ddd; padding-bottom: 8px;}

.recent-topics {}
.recent-topics ul {margin: 0; padding: 0 10px 10px 10px;}
.recent-topics ul li {border-bottom: 1px dashed #ddd;padding: 3px;}
.recent-topics ul li .node {margin-right: 5px;}
.recent-topics ul li .node a {color: #444;}
.recent-topics ul li .info {font-size: 12px;color: #bbb;}

.recent-projects {}
.recent-projects ul {margin: 0; padding: 0 10px 10px 10px;}
.recent-projects ul li {border-bottom: 1px dashed #ddd;padding: 3px;}
.recent-projects ul li .info {font-size: 12px;color: #bbb;}

.recent-comments {}
.recent-comments ul {margin: 0; padding: 0 10px 10px 10px;}
.recent-comments ul li {margin-top: 8px;border-bottom: 1px dashed #ddd;}
.recent-comments ul li .info {font-size: 12px;color: #bbb;}
.recent-comments ul li .content {margin-top: 6px;color: #666;}

.users .info {padding-top: 10px;}
.users .user-list {padding-bottom: 20px;}
.users .user-list h4 {margin-left: 10px;}
.users .user-list .item {margin-top: 10px;}

.form-horizontal fieldset legend {font-size: 16px;font-weight: bold;margin-left:10px;}

.select-avatar {padding: 15px 10px 10px 10px;}
.select-avatar .title {font-size: 16px;font-weight: bold;width: 100%;padding: 0;margin-bottom: 21px;line-height: inherit;color: #333333;border: 0;border-bottom: 1px solid #e5e5e5;margin-top: 0px;}