.stdform_q {
    min-width:650px;
    overflow:hidden;
}
.stdform_q > div{
    overflow:hidden;
    clear:both;
}
.stdform_q p{
    margin: 10px 0px;
    overflow:hidden;
    float:left;
}

.stdform_q p label.error {
	display: inline;
    padding:0;
    width:100px;
    line-height:34px;
    height:34px;
    float:none;
}

.stdform_q p label{
    text-align:right;
    padding:0;
    width:100px;
    line-height:34px;
    height:34px;
    float:left;
}
.stdform_q p span.field, .stdform_q div.field{
    margin-left:20px;
    display:block;
    position:static;
    float:left;
}
.stdform_q div.input_list{
    float:left; 
    line-height: 34px; 
    padding:15px 0 0 22px;
}
form input.smallinput {
    width:200px;
    line-height:16px;
    height:16px;
}
form input.smallinput[readonly="readonly"] {/* chenhogn3 */
    color:black;
    background-color:rgb(235, 235, 235);
}
form input.mediuminput {
    width:400px;
    line-height:16px;
    height:16px;
}
.stdform_q .stdformbutton{
    clear:both;
    float:none;
    margin-left:120px;
}
input.hasDatepicker{
    width:178px !important;
}

.jPaginate{width:auto}

td .emtd {
  color:#fb9337;
  font-weight:bold;
}

#loaders {
	position: fixed;
	top: 50%;
	left: 50%;
}

.cms_form p ._val{width: 79%; margin-right: 10px;}
.cms_form ._upload {width:65px;}
.cms_form select._val {min-width: 10%;}
.cms_form textarea._val {height: 8em;}
.cms_form center {padding: 20px 0;}
.cms_form h3 {margin: 10px 0; font-size: 12px ; font-weight: bold;}
.cms_form input, form label {vertical-align: middle; margin-right: 2px;}
.cms_form label {margin-right: 8px;}
.cms_form ._img {margin-top: 5px;}
.cms_form ._tag {font-weight: bold;}

.txt {padding-top: 6px;}

.newline {word-wrap: break-word; word-break: break-all;}

.blue {color: blue;}

.actions a {color: blue;}
