.search-box { margin: 15px 0; }
.search-box .box_white { padding-top: 15px; padding-bottom:5px; margin-right: -15px; }
.search-form {}
.search-form input { border: 2px solid #222222; padding: 5px 8px; }
.search-form input:focus { border: 2px solid #000000; }

.search-result {}
.search-result .result-title {padding: 10px 0 10px 20px; margin-bottom: 10px; text-align:center;}
.search-result .result-title .website { font-style: italic; }
.search-result .result-title .num { }

.search-result article em { color: red; font-style: normal; }
