{{define "content"}}
<article class="module width_full">
  <header>
    <h3 class="tabs_involved">Content Manager</h3>
    <ul class="tabs">
        <li><a href="#tab1">Posts</a></li>
        <li><a href="#tab2">Comments</a></li>
    </ul>
  </header>

  <div class="tab_container">
    <div class="tab_content">
      <table class="tablesorter" cellspacing="0"> 
        <thead> 
          <tr> 
              <th></th> 
              <th>用户名</th> 
              <th>姓名</th>
              <th>角色</th>
              <th>电子邮件</th>
              <th>帖子数</th>
              <th>操作</th>
          </tr> 
        </thead> 
        <tbody>
          {{range .users}}
          <tr> 
              <td><input type="checkbox"></td> 
              <td>{{.Username}}</td> 
              <td>{{.Name}}</td>
              <td>{{range .Rolenames}}{{.}}{{end}}</td>
              <td>{{.Email}}</td> 
              <td></td> 
              <td><input type="image" src="/static/img/admin/icn_edit.png" title="Edit"><input type="image" src="/static/img/admin/icn_trash.png" title="Trash"></td>
          </tr>
          {{else}}
          <tr> 
              <td colspan="7" style="text-align:center;color:red;">暂时没有任何用户！</td> 
          </tr>
          {{end}}
        </tbody> 
      </table>

    </div><!-- end of #tab1 -->
    
  </div><!-- end of .tab_container -->

</article><!-- end of content manager article -->
{{end}}