{{define "title"}}激活账号{{end}}
{{define "content"}}
<div class="row banner">
</div>
<div class="row">
	<div class="col-lg-9 col-md-8 col-sm-7">
		<ol class="breadcrumb">
			<li><a href="/">首页</a></li>
			<li><a href="/users">会员</a></li>
			<li class="active">激活账号</li>
		</ol>
		<div class="box_white">
			{{if .error}}
				<h2>激活账号出错了！</h2>
				{{.error}}
				<p>如果您确定已经注册了，可以登录，在 个人资料设置 中再次发送激活邮件</p>
			{{else}}
			<div style="padding:30px 30px 50px 30px;">
				<div style="color:#339502;font-size:22px;line-height: 2.5;">恭喜您激活成功！</div>
				现在就去和大家分享你的经验吧！！<a href="/balance">Let's Go>></a>
			</div>
			{{end}}
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-5">
		<div class="row box_white sidebar">
			<div class="top">
				<h3 class="title"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;其他操作</h3>
			</div>
			<div class="sb-content">
				<ul>
					<li><a href="/account/login">登录</a></li>
					<li><a href="/account/register">注册</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{{end}}
{{define "css"}}
{{end}}
{{define "js"}}
{{end}}