{{define "title"}}{{.user.Username}} 在 {{.setting.Name}} 创建的资源 {{end}}
{{define "content"}}
<div class="row">
	<div class="col-md-9 col-sm-6">
		<div class="sep20"></div>

		<ol class="breadcrumb">
			<li><a href="/">首页</a></li>
			<li><a href="/user/{{.user.Username}}">{{.user.Username}}</a></li>
			<li class="active">全部资源</li>
		</ol>
		<div class="box_white">
			<div class="resources">
				{{range .resources}}
				<div class="resource">
					<div class="rinfo">
						<a class="avatar pull-right" href="/user/{{.user.Username}}"><img src="{{gravatar .user.Avatar .user.Email 48 $.is_https}}" alt="{{.user.Username}}"></a>
						<a class="link-url" href="{{.url}}" target="_blank" data-id="{{.id}}">{{.title}}</a>
						{{if .host}}
						<span class="host">({{.host}})</span>
						{{end}}
						<p class="ino">
							<i class="glyphicon glyphicon-user"></i> <a class="a-pop-info" href="/user/{{.user.Username}}" title="{{.user.Username}}">{{.user.Username}}</a> 于
							<em><abbr class="timeago" title="{{.ctime}}"></abbr></em> 分享
						</p>
						<p class="edi">
							<a href="/resources/{{.id}}#commentForm">
								<i class="glyphicon glyphicon-comment"></i> {{if .cmtnum}} <b>{{.cmtnum}}</b> {{end}}评论
							</a>
							<span><i class="glyphicon glyphicon-heart"></i> <b>{{.likenum}}</b> 喜欢</span>
							<span><i class="glyphicon glyphicon-eye-open"></i> <b>{{.viewnum}}</b> 阅读</span>
						</p>
					</div>
				</div>
				{{else}}
				<p class="text-center">您还未分享任何资源</p>
				{{end}}
			</div>
		</div>
		<div class="sep20"></div>
		<div class="box_white">
			<div class="inner_content">
				<nav class="text-center"><ul class="pagination pagination-sm" style="margin: 1px 0;">{{.page}}</ul></nav>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="sep20"></div>

		{{include "common/my_info.html" .}}

		<div class="box_white sidebar">
			<div class="top">
				<h3 class="title"><i class="glyphicon glyphicon-list"></i>&nbsp;&nbsp;{{.user.Username}} 分享的内容</h3>
			</div>
			<div class="sb-content">
				<div class="">
					<ul class="list-unstyled">
						<li style="margin-left:15px; margin-bottom:5px;"><a href="/user/{{.user.Username}}/topics">{{.user.Username}} 的全部主题</a></li>
						<li style="margin-left:15px; margin-bottom:5px;"><a href="/user/{{.user.Username}}/articles">{{.user.Username}} 的全部文章</a></li>
						<li style="margin-left:15px; margin-bottom:5px;"><a href="/user/{{.user.Username}}/projects">{{.user.Username}} 的全部项目</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{{end}}
{{define "css"}}
{{end}}
{{define "js"}}
<script type="text/javascript">
// 需要加载的侧边栏
SG.SIDE_BARS = [];
</script>
{{end}}