{{define "title"}}会员列表 {{end}}
{{define "content"}}
<div class="row banner">
</div>
<div class="row">
	<ol class="breadcrumb">
		<li><a href="/">首页</a></li>
		<li class="active">会员</li>
	</ol>
	<div class="box_white">
		<div class="users">
			<div class="info text-right">目前已经有 {{.total}} 位会员加入了 {{.setting.Name}}。</div>
			<div id="hot_users" class="user-list clearfix">
				<h4>活跃会员</h4>
				{{with $root := .}}
				{{range .actives}}
				<div class="item text-center col-md-1 col-sm-1 col-xs-3">
					<div class="avatar"><a href="/user/{{.Username}}" title="{{.Username}}"><img alt="{{.Username}}" class="uface" src="{{gravatar .Avatar .Email 48 $root.is_https}}" width="48px" height="48px"></a></div>
					<div class="name"><a class="nobreak" href="/user/{{.Username}}" data-name="{{.Username}}" style="word-break: normal;">{{.Username}}</a></div>
				</div>
				{{end}}
				{{end}}
			</div>
		</div>
	</div>
	<br>
	<div class="box_white">
		<div class="users">
			<div id="recent_users" class="user-list clearfix">
				<h4>最新加入的会员</h4>
				{{with $root := .}}
				{{range .news}}
				<div class="item text-center col-md-1 col-sm-1 col-xs-3">
					<div class="avatar"><a href="/user/{{.Username}}" title="{{.Username}}"><img alt="{{.Username}}" class="uface" src="{{gravatar .Avatar .Email 48 $root.is_https}}" width="48px" height="48px"></a></div>
					<div class="name"><a class="nobreak" href="/user/{{.Username}}" data-name="{{.Username}}" style="word-break: normal;">{{.Username}}</a></div>
				</div>
				{{end}}
				{{end}}
			</div>
		</div>
	</div>
</div>
{{end}}
{{define "css"}}
{{end}}