{{define "topnav"}}
<li class="first"><a href="/">首页</a><span class="divider">/</span></li>
<li class=""><a href="/topics" itemprop="url"><span itemprop="title">社区</span></a><span class="divider">/</span></li>
<li class="last active"><a href="/topics" itemprop="url"><span itemprop="title">活跃帖子</span></a></li>
{{end}}
{{define "content"}}
<div id="main" class="container-fluid">
  <div class="content">
    <div class="box box_gray">
      <div id="node_info">
        <div class="sorts">
          <span class="lb">查看:</span>
          <ul>
            <li class="active"><a href="/topics">默认</a></li> /
            <li>
              <a href="/topics/popular" class="popular"><i class="icon small_liked"></i> 优质帖子</a>
            </li> /
            <li><a href="/topics/no_reply" rel="nofollow">无人问津</a></li> /
            <li><a href="/topics/last" rel="nofollow">最新创建</a></li>
          </ul>
        </div>
      </div>
      <div class="topics">
        {{range .topics}}
        <div class="topic topic_line">
          <div class="pull-left avatar">
            <a href="/user/{{.user.Username}}"><img alt="{{.user.Username}}" class="uface" src="{{gravatar .user.Email 48}}" style="width:48px;height:48px;"></a>
          </div>
          <div class="right_info">
            <div class="pull-right replies">
              {{if .reply}}
              <a href="/topics/{{.tid}}#reply{{.reply}}" class="count state_false">{{.reply}}</a>
              {{end}}
            </div>
            <div class="infos">
              <div class="title">
                <a href="/topics/{{.tid}}" title="{{.title}}">{{substring .title 60 "..."}}</a>
              </div>
              <div class="info">
                <a href="/topics/node{{.nid}}" class="node">{{.node}}</a>
                •
                <a href="/user/{{.user.Username}}" data-name="{{.user.Username}}">{{.user.Username}}</a>
                {{if .lastreplyuid}}
                <em>
                •
                  最后由 <a href="/user/{{.lastreplyusername}}" data-name="{{.lastreplyusername}}">{{.lastreplyusername}}</a> 于<abbr class="timeago" title="{{formatTime .lastreplytime}}"></abbr>回复
                </em>
                {{else}}
                <em>
                •
                  于<abbr class="timeago" title="{{formatTime .ctime}}"></abbr>发布
                </em>
                {{end}}
              </div>
            </div>
          </div>
        </div>
        {{else}}
        <p style="text-align:center;">暂时没有任何帖子</p>
        {{end}}
      </div>
      {{if .page}}
      <div class="pagination"><ul>{{.page}}</ul></div>
      {{end}}
    </div>

    <div id="sections" class="box">
      <h2>讨论节点分类导航</h2>
      <ul>
      {{range .nodes}}
        <li>
          {{range $parent, $children := .}}
          <label>{{$parent}}</label>
          <span class="nodes">
            {{range $children}}
            <a href="/topics/node{{.nid}}" title="{{.name}}">{{.name}}</a>
            {{end}}
          </span>
          {{end}}
        </li>
      {{end}}
      </ul>
    </div>
  </div>

  <div class="sidebar">
    <div class="box">
      <div class="btn-group">
        <a href="/topics/new" class="btn btn-success">发布新帖</a>
        <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="/topics/new?node=2">基础</a></li>
          <li><a href="/topics/new?node=6">新手问题</a></li>
          <li><a href="/topics/new?node=10">Web框架</a></li>
          <li><a href="/topics/new?node=8">开发工具</a></li>
        </ul>
      </div>
    </div>
    <div class="box">
      <h2 class="title">小贴士</h2>
      <div class="content">
        Go语言学习园地，Golang 中文社区，完全采用Go语言构建，将在近期开源，欢迎爱好者一起完善
      </div>
    </div>
    <div class="hot_nodes nodes box clearfix">
      <h2>热门节点</h2>
      <ul id="hotnodes">
      </ul>
    </div>

    <div class="totals box">
      <h2>统计信息</h2>
      <ul id="stat">
        <li>社区会员: <span id="_user"></span> 人</li>
        <li>帖子数: <span id="_topic"></span> 个</li>
        <li>回帖数: <span id="_reply"></span> 条</li>
        <li>资源数: <span id="_resource"></span> 个</li>
      </ul>
    </div>
  </div>
</div>
{{end}}
{{define "title"}}社区 {{end}}
{{define "css"}}
<link href="/static/css/topics.css" media="screen" rel="stylesheet" type="text/css">
{{end}}
{{define "js"}}
<script type="text/javascript" src="/static/js/topics.js"></script>
<script type="text/javascript">
$(function(){
    var uri = '/topics/stat.json';
    $.get(uri, function(data){
        if (!data.errno) {
            $('#_user').html(data.user);
            $('#_topic').html(data.topic);
            $('#_reply').html(data.reply);
            $('#_resource').html(data.resource);
        }
    });

    $.getJSON('/nodes/hot.json', function(data){
        if (!data.errno) {
            if (data.nodes == null) {
                return
            }
            var count = data.nodes.length
              nodeHtml = '';
            for (var i=0; i<count; i++) {
                var node = data.nodes[i];
                nodeHtml += '<li> <a href="/topics/node'+node.nid+'" title="'+node.name+'">'+node.name+'</a></li>';
            }
            $('#hotnodes').html(nodeHtml);
        }
    });
});
</script>
{{end}}