{{define "topnav"}}
<li class="first"><a href="/">首页</a><span class="divider">/</span></li>
<li class=""><a href="/topics" itemprop="url"><span itemprop="title">社区</span></a><span class="divider">/</span></li>
<li class="last active"><a href="/topics/node{{.node.nid}}" itemprop="url"><span itemprop="title">{{.node.name}}</span></a></li>
{{end}}
{{define "content"}}
<div id="main" class="container-fluid">
  <div class="content">
    <div class="box box_gray">
      <div id="node_info">
        <div>
          <h2>{{.node.name}}</h2>
          <span class="total">共有 {{.total}} 个讨论主题</span>
        </div>
        <div class="desc">
          <p>{{.node.intro}}</p>
        </div>
      </div>

    <div class="topics">
      {{range .topics}}
      <div class="topic topic_line">
        <div class="pull-left avatar">
          <a href="/user/{{.user.Username}}"><img alt="{{.user.Username}}" class="uface" src="{{gravatar .user.Email 48}}" style="width:48px;height:48px;"></a>
        </div>
        <div class="right_info">
          <div class="pull-right replies">
            {{if .reply}}
            <a href="/topics/{{.tid}}#reply{{.reply}}" class="count state_false">{{.reply}}</a>
            {{end}}
          </div>
          <div class="infos">
            <div class="title">
              <a href="/topics/{{.tid}}" title="{{.title}}">{{.title}}</a>
            </div>
            <div class="info">
              <a href="/topics/node{{.nid}}" class="node">{{.node}}</a>
              •
              <a href="/user/{{.user.Username}}" data-name="{{.user.Username}}">{{.user.Username}}</a>
              {{if .lastreplyuid}}
              <em>
              •
                最后由 <a href="/user/{{.lastreplyusername}}" data-name="{{.lastreplyusername}}">{{.lastreplyusername}}</a> 于<abbr class="timeago" title="{{formatTime .lastreplytime}}"></abbr>回复
              </em>
              {{else}}
              <em>
              •
                于<abbr class="timeago" title="{{formatTime .ctime}}"></abbr>发布
              </em>
              {{end}}
            </div>
          </div>
        </div>
      </div>
      {{else}}
      <p style="text-align:center;">暂时没有任何帖子</p>
      {{end}}
    </div>
    {{if .page}}
    <div class="pagination"><ul>{{.page}}</ul></div>
    {{end}}
  </div>
</div>
  <div class="sidebar">
    <div class="box" style="text-align:center;">
      <h2><a href="/topics/node{{.node.nid}}">{{.node.name}}</a></h2>
      <div class="content">
        <a href="/topics/new?nid={{.node.nid}}" class="btn btn-success">发布新帖</a>
      </div>
    </div>
    <div class="hot_nodes nodes box clearfix">
      <h2>热门节点</h2>
      <ul>
          <li> <a href="/topics/node2" title="基础">基础</a></li>
          <li> <a href="/topics/node6" title="新手问题">新手问题</a></li>
          <li> <a href="/topics/node3" title="标准库">标准库</a></li>
          <li> <a href="/topics/node10" title="Web框架">Web框架</a></li>
          <li> <a href="/topics/node12" title="代码分享">代码分享</a></li>
          <li> <a href="/topics/node8" title="开发工具">开发工具</a></li>
          <li> <a href="/topics/node5" title="Web开发">Web开发</a></li>
          <li> <a href="/topics/node4" title="源码">源码</a></li>
          <li> <a href="/topics/node13" title="资料">资料</a></li>
      </ul>
    </div>
  </div>
  </div>
  </div>
{{end}}
{{define "title"}}{{.node.name}} {{end}}
{{define "css"}}<link href="/static/css/topics.css" media="screen" rel="stylesheet" type="text/css">{{end}}