{{define "querylist"}}
<h4>总数：{{ .total }}</h4><br/>
<table id="logo_table" cellpadding="0" cellspacing="0" border="0" class="stdtable">
	<thead class="center">
		<tr>
			<td width="3%">项目ID</td>
			<td width="5%">项目名</td>
			<td width="5%">项目类别</td>
			<td width="8%">个性uri</td>
			<td width="5%">源码地址</td>
			<td width="5%">作者</td>
			<td width="3%">状态</td>
			<td width="3%">发布人</td>
			<td width="5%">创建时间</td>
			<td width="8%">操作</td>
		</tr>
	</thead>
	<tbody class="center">
		{{range .datalist}}
			<tr>
				<td><a href="/p/{{.Id}}" target="_blank" class="blue">{{.Id}}</a></td>
				<td>{{.Name}}</td>
				<td>{{.Category}}</td>
				<td><a href="/p/{{.Uri}}" target="_blank" class="blue">{{.Uri}}</a></td>
				<td>{{ .Src }}</td>
				<td>{{ .Author }}</td>
				<td class="status">{{.Status}}</td>
				<td>{{.Username}}</td>
				<td>{{ .Ctime }}</td>
				<td class="actions">
					{{if eq .Status 1}}
					<a data-type="ajax-submit" href="#" submit-redirect="#"
						ajax-action="/admin/community/project/update_status?status=2" 
						data-id="{{.Id}}"
						ajax-hint="是否确定要下线?"
						success-hint="下线成功">下线</a>
					{{else}}
					<a data-type="ajax-submit" href="#" submit-redirect="#"
						ajax-action="/admin/community/project/update_status?status=1" 
						data-id="{{.Id}}"
						ajax-hint="是否确定要上线?"
						success-hint="上线成功">上线</a>
					{{end}}
				</td>
			</tr>
		{{end}}
	</tbody>
</table>

<div class="gigantic pagination">
	<a href="#" class="first" data-action="first">&laquo;</a>
	<a href="#" class="previous" data-action="previous">&lsaquo;</a>
	<input type="text" readonly="readonly" data-max-page="40" />
	<a href="#" class="next" data-action="next">&rsaquo;</a>
	<a href="#" class="last" data-action="last">&raquo;</a>
</div>

<input type="hidden" id="totalPages" value="{{ .totalPages }}"/>
<input type="hidden" id="cur_page" value="{{ .page }}"/>
<input type="hidden" id="limit" value="{{ .limit }}"/>

{{end}}