{{define "querylist"}}
<h4>总数：{{ .total }}</h4><br/>
<table id="logo_table" cellpadding="0" cellspacing="0" border="0" class="stdtable">
	<thead class="center">
		<tr>
			<td width="3%">帖子tid</td>
			<td width="8%">标题</td>
			<td width="15%">内容</td>
			<td width="3%">节点ID</td>
			<td width="5%">作者UID</td>
			<td width="5%">创建时间</td>
			<td width="5%">更新时间</td>
			<td width="5%">操作</td>
		</tr>
	</thead>
	<tbody class="center">
		{{range .datalist}}
			<tr>
				<td>{{ .Tid }}</td>
				<td class="newline">{{ .Title }}</td>
				<td class="newline">{{substring .Content 40 "..."}}</td>
				<td>{{ .Nid }}</td>
				<td>{{ .Uid }}</td>
				<td>{{ .Ctime }}</td>
				<td>{{ .Mtime }}</td>
				<td class="actions">
					<a href="/admin/community/topic/modify?tid={{ .Tid }}" target="_blank">修改</a>
				</td>
			</tr>
		{{end}}
	</tbody>
</table>

<div class="gigantic pagination">
	<a href="#" class="first" data-action="first">&laquo;</a>
	<a href="#" class="previous" data-action="previous">&lsaquo;</a>
	<input type="text" readonly="readonly" data-max-page="40" />
	<a href="#" class="next" data-action="next">&rsaquo;</a>
	<a href="#" class="last" data-action="last">&raquo;</a>
</div>

<input type="hidden" id="totalPages" value="{{ .totalPages }}"/>
<input type="hidden" id="cur_page" value="{{ .page }}"/>
<input type="hidden" id="limit" value="{{ .limit }}"/>

{{end}}