{{define "querylist"}}
<h4>总数：{{ .total }}</h4><br/>
<table id="logo_table" cellpadding="0" cellspacing="0" border="0" class="stdtable">
	<thead class="center">
		<tr>
			<td width="3%">规则ID</td>
			<td width="5%">来源域名</td>
			<td width="5%">来源名称</td>
			<td width="5%">网站语言</td>
			<td width="5%">标题规则</td>
			<td width="5%">作者是否在链接中</td>
			<td width="5%">作者规则</td>
			<td width="5%">发布时间规则</td>
			<td width="5%">内容规则</td>
			<td width="5%">创建时间</td>
			<td width="8%">操作</td>
		</tr>
	</thead>
	<tbody class="center">
		{{range .datalist}}
			<tr>
				<td>{{ .Id }}</td>
				<td>{{ .Domain }}{{if .Subpath}}/{{.Subpath}}{{end}}</td>
				<td>{{ .Name }}</td>
				<td>{{ .Lang }}</td>
				<td>{{ .Title }}</td>
				<td>{{ .InUrl }}</td>
				<td>{{ .Author }}</td>
				<td>{{ .PubDate }}</td>
				<td>{{ .Content }}</td>
				<td>{{ .Ctime }}</td>
				<td class="actions">
					<a href="/admin/crawl/rule/modify?id={{ .Id }}" target="_blank">修改</a>
					<a data-type="ajax-submit" href="#"
						ajax-action="/admin/crawl/rule/del?id={{ .Id }}" 
						ajax-hint="是否确定要删除?"
						success-hint="删除成功"
						callback="delCallback">删除</a>
				</td>
			</tr>
		{{end}}
	</tbody>
</table>

<div class="gigantic pagination">
	<a href="#" class="first" data-action="first">&laquo;</a>
	<a href="#" class="previous" data-action="previous">&lsaquo;</a>
	<input type="text" readonly="readonly" data-max-page="40" />
	<a href="#" class="next" data-action="next">&rsaquo;</a>
	<a href="#" class="last" data-action="last">&raquo;</a>
</div>

<input type="hidden" id="totalPages" value="{{ .totalPages }}"/>
<input type="hidden" id="cur_page" value="{{ .page }}"/>
<input type="hidden" id="limit" value="{{ .limit }}"/>

{{end}}