<div class="box_white sidebar">
    <div class="top">
        <h3 class="title"><i class="glyphicon glyphicon-qrcode"></i>&nbsp;&nbsp;关注我们的微信</h3>
    </div>
    <div class="sb-content">
        <div>
            <ul class="list-unstyled">
                <li><img src="{{.static_domain}}/static/img/wx_sg_qrcode.jpg?imageView2/2/w/280" alt="关注微信" class="img-responsive"></li>
                <li class="text-center">加入我们的 QQ 群：192706294（已满） 2群：731990104（已满） 3群：798786647</li>
                <li class="text-center">也欢迎加入我们的知识星球 <a href="https://t.zsxq.com/r7AUN3B" target="_blank">Go粉丝们（免费）</a></li>
            </ul>
        </div>
    </div>
</div>
