<div class="box_white sidebar">
    <div class="top">
        <h3 class="title"><i class="glyphicon glyphicon-qrcode"></i>&nbsp;&nbsp;关注我</h3>
    </div>
    <div class="sb-content">
        <div>
            <ul class="list-unstyled">
                <li class="text-center">
                    扫码关注<span style="color: red;">领全套学习资料</span>
                    <img src="{{.static_domain}}/static/img/wx_sg_qrcode.jpg?imageView2/2/w/280" alt="关注微信" class="img-responsive">
                </li>
                <li class="text-center">
                    加入 QQ 群：
                    <ul class="list-unstyled">
                        <li>192706294（已满）</li>
                        <li>731990104（已满）</li>
                        <li>798786647</li>
                    </ul>
                    <br>
                </li>
                <li class="text-center">
                    加入微信群：274768166 ，备注入群
                </li>
                <li class="text-center">也欢迎加入知识星球 <a href="https://t.zsxq.com/r7AUN3B" target="_blank">Go粉丝们（免费）</a></li>
            </ul>
        </div>
    </div>
</div>
