{{define "topnav"}}
<li class="first"><a href="/">首页</a><span class="divider">/</span></li>
<li><a href="/message/system" itemprop="url"><span itemprop="title">消息</span></a><span class="divider">/</span></li>
<li class="last active"><a href="/message/{{.msgtype}}" itemprop="url"><span itemprop="title">{{if eq .msgtype "system"}}系统消息{{else}}{{if eq .msgtype "inbox"}}收件箱{{else}}发件箱{{end}}{{end}}</span></a></li>
{{end}}
{{define "content"}}
<div id="main" class="container-fluid">
  <div id="message" class="box">
    <div class="box">
      <div class="tabbable" style="margin: 0 10px 9px;">
        <ul class="nav nav-tabs">
          <li {{if eq .msgtype "system"}}class="active"{{end}}><a href="/message/system">系统消息</a></li>
          <li {{if eq .msgtype "inbox"}}class="active"{{end}}><a href="/message/inbox">收件箱</a></li>
          <li {{if eq .msgtype "outbox"}}class="active"{{end}}><a href="/message/outbox">发件箱</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active">
            <ul class="unstyled">
            {{with $dot := .}}
            {{range .messages}}
              <li>
                <h3>
                  <a href="/user/{{.user.Username}}" title="{{.user.Username}}"><img src="{{gravatar .user.Email 48}}" width="48" height="48" alt="{{.user.Username}}"></a>
                  <span class="user">{{if eq $dot.msgtype "outbox"}}你对 {{end}}<a href="/user/{{.user.Username}}" title="{{.user.Username}}">{{.user.Username}}</a> {{if eq $dot.msgtype "outbox"}}说:{{else}}{{.title}}{{end}}</span>
                  {{if .objtitle}}<a href="{{.objurl}}" title="{{.objtitle}}">{{.objtitle}}</a>{{end}}
                  {{if eq .hasread "未读"}}
                  {{if eq $dot.msgtype "outbox"}}
                  <span class="new label label-warning">对方未查看</span>
                  {{else}}
                  <span class="new label label-warning">新</span>
                  {{end}}
                  {{end}}
                  <span style="margin-left:10px;">（{{.ctime}}）</span>
                </h3>
                <div class="info">{{.content}}</div>
                <p class="cmd"><a href="/message/delete.json" data-type="{{$dot.msgtype}}" data-id="{{.id}}" data-cmd="delete" class="label delete">删除</a></p>
              </li>
            {{else}}
              <li class="alert alert-info center">暂无消息</li>
            {{end}}
            {{end}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
{{define "title"}}用户消息{{end}}
{{define "css"}}
<link href="/static/css/topics.css" media="screen" rel="stylesheet" type="text/css">
{{end}}
{{define "js"}}
<script type="text/javascript">
$(function(){
    $('.cmd a.delete').on("click", function(env){
        env.preventDefault();
        var self = $(this),
            msgtype = self.data("type"),
            id = self.data("id"),
            url = self.attr("href");
        $.post(url, {"id":id,"msgtype":msgtype}, function(data){
            if (data.errno) {
                alert(data.error);
            } else {
                self.parents("li").remove();
            }
        });
        return false;
    });
});
</script>
{{end}}