{{define "topnav"}}
<li class="first"><a href="/">首页</a><span class="divider">/</span></li>
<li class=""><a href="/resources/cat/{{.resource.catid}}" itemprop="url"><span itemprop="title">{{.resource.catname}}</span></a><span class="divider">/</span></li>
<li class="last active"><a href="/resources/{{.resource.id}}" itemprop="url"><span itemprop="title">浏览资源</span></a></li>
{{end}}
{{define "content"}}
<div id="main" class="container-fluid">
  <div class="content">
    <div class="box">
      <div class="ulitem">
        <div class="">
          <div class="ulinfo">
            <a class="avatar a-pop-info" href="/user/{{.resource.user.Username}}"><img src="{{gravatar .resource.user.Email 32}}"></a>
            <a class="link-url" href="{{.resource.url}}" target="_blank">{{.resource.title}}</a>
            {{if .resource.host}}
            <span class="host">({{.resource.host}})</span>
            {{end}}
            <p class="ino">
              <i class="icon-user"></i><a class="a-pop-info" href="/user/{{.resource.user.Username}}" title="{{.resource.user.Username}}">{{.resource.user.Username}}</a> 于
              <em><abbr class="timeago" title="{{formatTime .resource.ctime}}"></abbr></em> 分享
            </p>
            <p class="edi">
              <a href="/resources/{{.resource.id}}">
                <i class="icon-comment"></i>{{if .comments}}{{len .comments}}条评论{{else}}暂无评论{{end}}
              </a>
              <!--<a href="javascript:" class="do-fav "><i class="icon-heart"></i><span>收藏</span></a>-->
            </p>
          </div>
        </div>
        <div class=""></div>
      </div>
      <div class="comment-top">
        <div class="t"></div>
      </div>
      {{if .resource.content}}
      <div class="body entry-content">{{.resource.content}}</div>
      <!--
      <div class="tools pull-right">
        <a href="#" data-followed="false" data-id="{{.topic.tid}}" onclick="return Topics.follow(this);" rel="twipsy" data-original-title=""><i class="icon small_follow"></i> 关注</a>
        <a href="#" class="likeable" data-count="1" data-id="{{.topic.tid}}" data-state="" data-type="Topic" onclick="return App.likeable(this);" rel="twipsy" data-original-title="喜欢"><i class="icon small_like"></i> <span>1人喜欢</span></a>
        <a href="#" class="icon small_bookmark" data-id="{{.topic.tid}}" onclick="return Topics.favorite(this);" rel="twipsy" data-original-title="收藏"></a>
        <a href="/topics/9274/edit" class="icon small_edit" title="修改本帖"></a>
      </div>
      -->
      <div class="social-share-button" data-title="{{.resource.title}} | Golang China | Golang中文社区 | Go语言学习园地 via: @studygolang " data-img="" data-url="">
        <a href="#" class="social-share-button-weibo" data-site="weibo" onclick="return SocialShareButton.share(this);" rel="nofollow " title="分享到新浪微博"></a>
        <a href="#" class="social-share-button-tqq" data-site="tqq" onclick="return SocialShareButton.share(this);" rel="nofollow " title="分享到腾讯微博"></a>
        <a href="#" class="social-share-button-douban" data-site="douban" onclick="return SocialShareButton.share(this);" rel="nofollow " title="分享到豆瓣"></a>
        <a href="#" class="social-share-button-renren" data-site="renren" onclick="return SocialShareButton.share(this);" rel="nofollow " title="分享到人人"></a>
        <a href="#" class="social-share-button-baidu" data-site="baidu" onclick="return SocialShareButton.share(this);" rel="nofollow " title="分享到百度空间"></a>
      </div>
      {{end}}
      {{if .me}}
      <div class="alert alert-block alert-error" id="alert_info" style="display:none;"></div>
      <div id="reply" class="form box">
        <form accept-charset="UTF-8" action="/comment/{{.resource.id}}.json" class="new_reply" data-remote="true" id="new_reply" method="post">
          <div style="margin:0;padding:0;display:inline">
            <input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="akaN6qrCyNOili4mgo2qBZrdEWqX6DzoDABRpFoQWC4=">
            <input name="objtype" type="hidden" value="2">
            <input name="objname" type="hidden" value="resource">
          </div>
          <div class="wmd-panel cell_comments_new">
            <div id="wmd-button-bar"></div>
            <textarea class="wmd-input" id="wmd-input" name="content" style="height:82px;"></textarea>
          </div>
          <div>预览</div>
          <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
          <div class="submit_buttons" style="right:1px;">
            <button type="submit" id="btn_reply" class="btn btn-primary" tabindex="2" data-loading-text="提交中...">提交回复</button><br>
            <span class="help-inline">Ctrl+Enter</span>
          </div>
        </form>
      </div>
      {{else}}
      <div id="reply" class="form box">
          <div style="padding:20px;">
          需要 <a href="/account/login" class="btn btn-primary">登录</a> 后方可回复, 如果你还没有账号你可以 <a href="/account/register" class="btn btn-danger">注册</a> 一个帐号。
          </div>
      </div>
      {{end}}
      <div id="replies">
        <div class="t" style="margin-bottom:10px;">
            <b>共 <a href="/resources/{{.resource.id}}">{{len .comments}}</a> 条评论</b>
        </div>
        <div class="items">
          {{range .comments}}
          <div class="reply" id="reply{{.floor}}">
            <div class="pull-left face"><a href="/user/{{.user.Username}}"><img alt="{{.user.Username}}" class="uface" src="{{gravatar .user.Email 48}}" style="width:48px;height:48px;"></a></div>
            <div class="infos">
              <div class="info">
                <span class="name">
                  <a href="/user/{{.user.Username}}" data-name="{{.user.Name}}" title="{{.user.Name}}">{{.user.Username}}</a>
                  {{.floor}}楼, <abbr class="timeago" title="{{formatTime .ctime}}"></abbr>
                </span>
                <!--
                <span class="opts">
                  <a href="/topics/9173/replies/86742/edit" class="edit icon small_edit" data-uid="744" title="修改回帖"></a>
                  <a href="#" class="icon small_reply" data-floor="{{.floor}}" data-login="{{.user.Username}}" title="回复此楼"></a>
                </span>
                -->
              </div>
              <div class="body reply-content">{{.content}}</div>
            </div>
          </div>
          {{else}}
          <div id="no-comment-yet" class="alert alert-block center">还没有任何评论，期待你的高见</div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar">
    <div class="box center">
      <h2><a href="/resources/cat/{{.resource.catid}}">{{.resource.catname}}</a></h2>
      <div class="content">
        <a href="/resources/new?catid={{.resource.catid}}" class="btn btn-success">分享资源</a>
      </div>
    </div>
    <div class="box">
      <h2 class="title">小贴士</h2>
      <div class="content">
        Go中空接口有点类似于Java的Object，不同之处在于，int、float和string也符合空接口，Go并不需要一个实际的类，因为Go里没有类的概念，所有东西都是统一的，这有点像void*，只不过void*是针对指针而不是值。
      </div>
    </div>
  </div>
  
  </div>
</div>
{{end}}
{{define "title"}}{{.resource.title}} {{end}}
{{define "css"}}
<link href="/static/css/markdown.css" media="screen" rel="stylesheet" type="text/css">
<link href="/static/css/topics.css" media="screen" rel="stylesheet" type="text/css">
{{end}}
{{define "js"}}
<script type="text/javascript" src="/static/js/topics.js"></script>
<script type="text/javascript" src="/static/js/Markdown.Converter.js"></script>
<script type="text/javascript" src="/static/js/Markdown.Sanitizer.js"></script>
<script type="text/javascript" src="/static/js/Markdown.Editor.js"></script>
<script type="text/javascript" src="/static/js/social-share-button.js"></script>
<script type="text/javascript">
(function () {
    {{if .me}}
    // 评论框
    var topicConverter = Markdown.getSanitizingConverter();
    
    topicConverter.hooks.chain("preBlockGamut", function (text, rbg) {
        return text.replace(/^ {0,3}""" *\n((?:.*?\n)+?) {0,3}""" *$/gm, function (whole, inner) {
            return "<blockquote>" + rbg(inner) + "</blockquote>\n";
        });
    });
    
    var topicEditor = new Markdown.Editor(topicConverter);
    
    topicEditor.run();
    {{end}}
    // 转换主帖
    var converter = new Markdown.Converter();
    {{if .resource.content}}
    $('.entry-content').html(converter.makeHtml($('.entry-content').html()));
    {{end}}

    // 转换回复
    $('.reply-content').each(function(i){
        $(this).html(converter.makeHtml($(this).html()));
     });
})();

$(function(){
    // 表单提交
    $('#new_reply').submit(function(env){
        env.preventDefault()
        var self = $(this);
        $.post(self.attr('action'), self.serialize(), function(data){
            if (data.errno) {
                $('#alert_info').html(data.error).show()
            } else {
                /*
                var content = $('#wmd-input').val(),
                    floor = parseInt($('.small_reply').last().data('floor')) + 1;
                var replyHtml = '<div class="reply" id="reply1">'+
                '<div class="pull-left face"><a href="/user/{{.me.username}}"><img alt="{{.me.username}}" class="uface" src="{{gravatar .me.email 48}}" style="width:48px;height:48px;"></a></div>'+
              '<div class="infos">'+
                '<div class="info">'+
                  '<span class="name">'+
                    '<a href="/user/{{.me.username}}" data-name="{{.me.username}}">{{.me.username}}</a>'+floor+'楼, <abbr class="timeago" title="">'+$.timeago(new Date())+'</abbr>'+
                  '</span>'+
                  '<span class="opts">'+
                    '<a href="/topics/9173/replies/86742/edit" class="edit icon small_edit" data-uid="744" title="修改回帖"></a>'+
                    '<a href="#" class="icon small_reply" data-floor="1" data-login="{{.me.username}}" title="回复此楼"></a>'+
                  '</span>'+
                '</div>'+
                '<div class="body reply-content"><p>'+content+'</p></div>'+
              '</div>'+
            '</div>';
              $('.items').append(replyHtml);
              */
              // TODO:
              location.reload();
            }
        }, 'json');
        return false;
    });
})
</script>
{{end}}