{{define "title"}}{{.article.Title}} {{end}}
{{define "seo"}}<meta name="keywords" content="{{.article.Title}} Go语言博客文章, Go语言博文, Go语言, Golang, Go中文社区,Golang中文社区, Go语言社区, Go语言学习园地">
<meta name="description" content="{{substring .article.Txt 200 ""}}">{{end}}
{{define "content"}}
<div class="row header_title">
	<div class="col-lg-12 col-md-12 col-sm-12">
	</div>
</div>
<div class="row">
	<div class="col-lg-9 col-md-8 col-sm-7">
		<div class="page box_white">
			<div class="title text-center">
				<h1>{{.article.Title}}</h1>
			</div>
			<div class="meta">
				<div class="p-author">
					<i class="glyphicon glyphicon-calendar"></i>
					<span title="发布日期">{{.article.PubDate}}</span>&nbsp;
					<i class="glyphicon glyphicon-user"></i>
					{{noescape .article.Author}}
				</div>
				<!-- p-author END -->
				
				<div class="p-comment text-right">
					<span class="view" title="阅读数">
						<i class="glyphicon glyphicon-eye-open"></i>
						阅读 <span>{{.article.Viewnum}}</span> 次&nbsp;
					</span>
					<a href="/articles/{{.article.Id}}#commentForm"><i class="glyphicon glyphicon-comment"></i> <span class="cmtnum">{{.article.Cmtnum}}</span> <span>条评论</span></a>
				</div>
				<!-- p-comment END -->
			</div>
			<div class="tags">
				{{if .article.Tags}}
				{{$tags := explode .article.Tags ","}}
				<ul class="list-inline">
					{{range $tag := $tags}}
					<li><a href="/" title="{{$tag}}">{{$tag}}</a></li>
					{{end}}
				</ul>
				{{end}}
			</div>
			<!-- tags -->
			<div class="content">
				{{noescape .article.Content}}
			</div>
			<!-- content END -->
			<div class="row orig-info">
				<p>本文来自：<a href="http://{{.article.Domain}}" target="_blank" title="{{.article.Name}}">{{.article.Name}}</a></p>
				<p>查看原文：<a href="{{.article.Url}}" target="_blank" title="{{.article.Title}}">{{.article.Title}}</a></p>
			</div>
			<!--<div class="active row">-->
				<!--
				<div class="mark-like-btn col-md-6">
					<a class="share-btn like-btn" href="javascript:;">
						<i class="glyphicon glyphicon-heart-empty"></i><span>5</span>个人喜欢
					</a>
					<a class="share-btn collect collect-no" href="javascript:;">
						<i class="glyphicon glyphicon-star-empty"></i><span>0</span>人收藏
					</a>
				</div>
				-->
				<!-- share BEGIN -->
				<!--
				<div id="bdshare" class="col-md-6">
					<a class="bds_tsina weibo-btn share-btn" href="#"><i></i>分享到微博</a>
					<a class="bds_weixin weixin-btn share-btn" href="#"><i></i>分享到朋友圈</a>
				</div>
				-->
			<!--</div>-->
			<div class="row prev-next">
				{{if .prev}}<div><a href="/articles/{{.prev.Id}}" title="{{.prev.Title}}">« </a>上一篇: <a href="/articles/{{.prev.Id}}" title="{{.prev.Title}}">{{.prev.Title}}</a></div>{{end}}
				{{if .next}}<div><a href="/articles/{{.next.Id}}" title="{{.next.Title}}">» </a>下一篇: <a href="/articles/{{.next.Id}}" title="{{.next.Title}}">{{.next.Title}}</a></div>{{end}}
			</div>
			<!-- 评论 -->
			<div class="page-comment" data-objid="{{.article.Id}}" data-objtype="1" {{if .me}}data-username="{{.me.username}}" data-avatar="{{if .me.avatar}}{{.me.avatar}}{{else}}{{gravatar .me.email 48}}{{end}}"{{end}}>
				<div class="comment-title">
					<h2>文章点评：</h2>
					{{if .me}}
					<input type="hidden" id="is_login_status" value="1" />
					{{else}}
					<input type="hidden" id="is_login_status" value="0" />
					<span class="h2-tip">
					（您需要 <a class="c-log" href="javascript:openPop('#login-pop');">登录</a> 后才能评论 <a href="/user/register" class="c-reg"> 没有账号</a> ？）</span>
					{{end}}
				</div>
				<div class="submit" id="commentForm">
					<div class="text">
						<textarea name="content" placeholder="我有话要说……"></textarea>
					</div>
					<div class="sub text-right">
						<button type="submit" title="提交" class="btn btn-danger">提交</button>
					</div>
				</div>
				<div class="words hide">
					<h3><span class="cmtnum">{{.article.Cmtnum}}</span>条评论</h3>
					<ul class="list-unstyled">
					</ul>
				</div>
			</div>
			<!-- 评论 -->
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-5">
		<div class="row box_white sidebar">
			<div class="top">
				<ul class="list-inline text-center">
					<li class="first"><a href="/topics" target="_blank" class="cur" title="点击更多">最新帖子</a>|</li>
					<li class="second"><a href="/resources" target="_blank" title="点击更多">最新资源</a>|</li>
					<li class="last"><a href="javascript:;">最新评论</a></li>
				</ul>
				<p class="bar"></p>
			</div>
			<div class="sb-content">
				<div class="topic-list first">
					<ul class="list-unstyled">
						<img src="/static/img/loaders/loader7.gif" alt="加载中" />
					</ul>
				</div>
				<div class="resource-list second hidden">
					<ul class="list-unstyled">
					</ul>
				</div>
				<div class="cmt-list last hidden">
					<ul class="list-unstyled">
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="pop login-pop" id="login-pop">
	<div class="thirdparty">
		<h5>第三方账号登录</h5>
		<div class="thirdparty-btns">
			<a class="btn-qq btn" href="#">
				<i></i>
				<span>Q&nbsp;Q&nbsp;登&nbsp;录</span>
			</a>
			<a class="btn-weibo btn" href="#">
				<i></i>
				<span>微&nbsp;博&nbsp;登&nbsp;录</span>
			</a>
		</div>
	</div>
	<div class="login-form">
		<div class="error text-center"></div>
		<form action="#" method="post" class="form-horizontal" role="form">
			<div class="form-group">
				<label for="username" class="col-sm-3 control-label">用户名</label>
				<div class="col-sm-9 form-input">
					<input type="text" class="form-control" id="username" name="username" placeholder="请填写用户名或邮箱">
				</div>
			</div>
			<div class="form-group">
				<label for="passwd" class="col-sm-3 control-label">密码</label>
				<div class="col-sm-9 form-input">
					<input type="password" class="form-control" id="passwd" name="passwd" placeholder="密码">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
						<label>
							<input id="user_remember_me" name="remember_me" type="checkbox" value="1" checked="checked" />	记住登录状态
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" id="login-btn" class="btn btn-default pull-left">登录</button>
					<div class="forget">
						<a href="/account/forgetpwd" title="点击找回密码">忘记密码？</a>
					</div>
					<div class="register">
						<span>还不是会员</span><a href="/account/register">现在注册</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<div id="sg-overlay"></div>
{{end}}
{{define "js"}}
<script type="text/javascript">
// 需要加载的侧边栏
SG.SIDE_BARS = [
	"/topics/recent.json",
	"/resources/recent.json",
	"/comments/recent.json",
];

$(function(){
	loadComments();
});
</script>
{{end}}