{{define "content"}}
<div class="row header_title">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<h3>网友博文</h3>
	</div>
</div>
<div class="row">
	<div class="col-lg-9 col-md-8 col-sm-7">
		{{range .articles}}
		<article class="article box_white">
			<div class="row">
				<div>
					<h2><a href="/articles/{{.Id}}" target="_blank">{{.Title}}</a></h2>
					<p class="text">{{substring .Txt 500 "..."}}<a href="/articles/{{.Id}}" target="_blank">阅读全文</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 metatag">
					<i class="glyphicon glyphicon-calendar"></i>
					<span class="date" title="发布日期">{{.PubDate}}</span>
					<i class="glyphicon glyphicon-user"></i>
					<span class="author" title="作者">{{.Author}}</span>
					{{if .Tags}}
					{{$tags := explode .Tags ","}}
					<ul class="list-inline">
						<i class="glyphicon glyphicon-tags"></i>
						{{range $tag := $tags}}
						<li>
							<a href="/" title="{{$tag}}" target="_blank">
								{{$tag}}
							</a>
						</li>
						{{end}}
					</ul>
					{{end}}
				</div>
				<div class="col-md-4 metatag text-right">
					<a href="/" class="cmt" target="_blank" title="评论">
						<i class="glyphicon glyphicon-comment"></i>
						<span>42</span>
					</a>
					<a href="#" class="like" title="赞">
						<i class="glyphicon glyphicon-heart-empty"></i>
						<span>24</span>
					</a>
				</div>
			</div>
		</article>
		{{end}}
		<ul class="pager">
			<li class="previous"><a href="#">&larr; 上一页</a></li>
			<li class="next"><a href="#">下一页 &rarr;</a></li>
		</ul>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-5">
		<div class="row box_white sidebar">
			<div class="top">
				<ul class="list-inline text-center">
						<li class="first"><a href="http://www.leiphone.com/category/t" target="_blank" class="cur" title="点击更多">最新帖子</a>|</li>
						<li class="second"><a href="javascript:;">最新博文</a>|</li>
						<li class="last"><a href="http://www.leiphone.com/specials" target="_blank" title="点击更多" class="">精彩评论</a></li>
				</ul>
				<p class="bar"></p>
			</div>
			<div class="sb-content">
				<div class="article-list first">
					<ul>
						<li>
							<a href="http://www.leiphone.com/news/201409/QAMUTkKPawiRaJ8Z.html">好嚣张的黑客：入侵比特币之父邮箱欲出售其秘密</a>
						</li>
						<li>
								<a href="http://www.leiphone.com/news/201409/3WQBrtTZgJ3eku94.html">在英国地区PS4销量突破100万台</a>
						</li>
						<li>
							<a href="http://www.leiphone.com/news/201409/NXL8FCOiCJK5AMDe.html">苹果 2014 新品发布会图文直播</a>
						</li>
						<li>
								<a href="http://www.leiphone.com/news/201409/t9e0TzME5w2BqueR.html">新版iPad Air采用内外屏幕一体式，有土豪金版本</a>
						</li>
						<li>
								<a href="http://www.leiphone.com/news/201409/PwTVTea9GLPiUNiD.html">可以买iPhone 6了，苏宁宣布可以旧换新</a>
						</li>
					</ul>
				</div>
				<div class="article-list second hidden">
					<ul>
						<li>
							<a href="http://www.leiphone.com/news/201409/QAMUTkKPawiRaJ8Z.html">在英国地区PS4销量突破100万台</a>
						</li>
						<li>
								<a href="http://www.leiphone.com/news/201409/3WQBrtTZgJ3eku94.html">好嚣张的黑客：入侵比特币之父邮箱欲出售其秘密</a>
						</li>
						<li>
							<a href="http://www.leiphone.com/news/201409/NXL8FCOiCJK5AMDe.html">新版iPad Air采用内外屏幕一体式，有土豪金版本</a>
						</li>
						<li>
								<a href="http://www.leiphone.com/news/201409/t9e0TzME5w2BqueR.html">苹果 2014 新品发布会图文直播</a>
						</li>
						<li>
								<a href="http://www.leiphone.com/news/201409/PwTVTea9GLPiUNiD.html">可以买iPhone 6了，苏宁宣布可以旧换新</a>
						</li>
					</ul>
				</div>
				<div class="cmt-list last hidden">
					<ul class="list-unstyled">
						<li>
							<div class="pic">
								<a href="http://home.leiphone.com/uprofile/1021" target="_blank">
									<img src="http://www.leiphone.com/uploads/new/avatar/00/00/10/21_avatar_pic_40_40.jpg">
								</a>
							</div>
							<div class="word">
										<div class="w-name">
												<a href="http://home.leiphone.com/uprofile/1021" target="_blank">蓝天</a>
												<span>19分钟前</span>
										</div>
										<div class="w-page">
												<span>在<a href="http://www.leiphone.com/news/201409/8xaRlXLv9fbwZ7pI.html">近几年，从微软离职的技术大牛们  </a>中评论</span>
										</div>
										<div class="w-comment">
												<span title="一个微软拯救了中国的几大互联网巨头，国内哪个公司有这样的积淀呢？">一个微软拯救了中国的几大互联网巨头，国内哪个公司有这样的积淀呢？</span>
										</div>
								</div>
						</li>
						<li>
							<div class="pic">
								<a href="http://home.leiphone.com/uprofile/5882" target="_blank">
									<img src="http://www.leiphone.com/uploads/new/avatar/defaultAvatar/pic_40_40.jpg">
								</a>
							</div>
							<div class="word">
								<div class="w-name">
										<a href="http://home.leiphone.com/uprofile/5882" target="_blank">圆林</a>
										<span>21分钟前</span>
								</div>
								<div class="w-page">
										<span>在<a href="http://www.leiphone.com/news/201409/fVsVEP23uwfWYlU9.html">百加手机与一加手机到底谁抄袭谁  </a>中评论</span>
								</div>
								<div class="w-comment">
										<span title="百加手机在渠道方面也更加广泛一些">百加手机在渠道方面也更加广泛一些</span>
								</div>
							</div>
						</li>
						<li class="clr">
							<div class="pic">
								<a href="http://home.leiphone.com/uprofile/5881" target="_blank">
										<img src="http://www.leiphone.com/uploads/new/avatar/defaultAvatar/pic_40_40.jpg">
								</a>
							</div>
							<div class="word">
								<div class="w-name">
										<a href="http://home.leiphone.com/uprofile/5881" target="_blank">风气派</a>
										<span>21分钟前</span>
								</div>
								<div class="w-page">
										<span>在<a href="http://www.leiphone.com/news/201409/fVsVEP23uwfWYlU9.html">百加手机与一加手机到底谁抄袭谁  </a>中评论</span>
								</div>
								<div class="w-comment">
										<span title="百加手机真的可以有，我喜欢">百加手机真的可以有，我喜欢</span>
								</div>
							</div>
						</li>
						<li class="clr">
							<div class="pic">
								<a href="http://home.leiphone.com/uprofile/5880" target="_blank">
										<img src="http://www.leiphone.com/uploads/new/avatar/defaultAvatar/pic_40_40.jpg">
								</a>
							</div>
							<div class="word">
								<div class="w-name">
										<a href="http://home.leiphone.com/uprofile/5880" target="_blank">红白西</a>
										<span>22分钟前</span>
								</div>
								<div class="w-page">
										<span>在<a href="http://www.leiphone.com/news/201409/fVsVEP23uwfWYlU9.html">百加手机与一加手机到底谁抄袭谁  </a>中评论</span>
								</div>
								<div class="w-comment">
										<span title="百加手机如此受大家推崇，亲们还记得它的独特魅力吗？">百加手机如此受大家推崇，亲们还记得它的独特魅力吗？</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{{end}}
{{define "title"}}网友博文{{end}}