{
	"domain": "dev.studygolang.com",
	"host": "127.0.0.1:8080",
	"wshost": "127.0.0.1:6090",
	"drive_name": "mysql",
	"dsn": "root:@tcp(localhost:3306)/studygolang?charset=utf8",
	"cookie_secret": "2fwefefwf",
	"smtp_username": "example_username",
	"smtp_password": "example_password",
	"smtp_host": "smtp.example.com",
	"smtp_addr": "smtp.example.com:25",
	"from_email": "example@example.com",
	"data": "data/max_online_num",
	"pid": "pid/studygolang.pid",

	"unsubscribe_token_key": "xxxxx",

	"qiniu_access_key": "xxxxxxxxxxxxx",
	"qiniu_secret_key": "xxxxxxxxxxxxxx",
	"qiniu_bucket_name": "xxxxxxxxx",

	"engine_url": "xxxx",

	"crawl_host": ":7070",
	"crawl_spec": "0 0 */1 * * ?",

	"iframe_deny": "github.com,robbinfan.com,www.zhihu.com,google.com,golang.org,evernote.com,blogspot.com"
}