{{define "content"}}
<div id="main" class="container-fluid">
      <div class="subnav">
<ul class="nav nav-tabs"><li class="first active"><a href="./polaris_files/polaris.htm">个人信息</a></li><li><a href="http://ruby-china.org/polaris/topics">帖子</a></li><li><a href="http://ruby-china.org/polaris/favorites">收藏</a></li><li class="last"><a href="http://ruby-china.org/polaris/notes">记事本</a></li></ul>
</div>


<div class="content">
  <div class="box">
  <div class="userinfo vcard">
    <div class="pull-right" style="text-align:center;">
      <a href="./polaris_files/polaris.htm"><img alt="137a6441739bcd90f727e3656107f14b" class="uface" src="./polaris_files/137a6441739bcd90f727e3656107f14b.png" style="width:120px;height:120px;"></a>
    </div>
    <span class="label role">普通会员</span>
    <ul>
      <li class="with_nbsp">
        <label>&nbsp;</label>
        <span class="title">第 5908 位会员</span>
      </li>
      <li>
        <label>ID:</label>
        <strong class="fn">polaris</strong>
      </li>



      <li>
        <label>Email:</label>
        <span><a href="mailto:studygolang@gmail.com">studygolang@gmail.com</a></span>
      </li>




      <li>
        <label>Since:</label>
        <span>2013年3月02日</span>
      </li>

    </ul>
  </div>


</div>



  <div class="recent_topics box">
    <h2 class="title">最近发布的帖子</h2>
    <ul>
        <li>
          <span class="node"><a href="http://ruby-china.org/topics/node54" class="node">JRuby</a></span>
          <a href="http://ruby-china.org/topics/9274" title="JRuby 用的多么？">JRuby 用的多么？</a>
          <span class="info">at <abbr class="timeago" title="2013-03-09T14:06:09+08:00">2天前</abbr></span>
        </li>
    </ul>
  </div>
  <div class="box">
    <h2 class="title">最近回复的帖子</h2>
    <ul class="recent_replies">
</ul>
  </div>



</div>
<div class="sidebar">
  <div class="box" id="user_github_repos">
      未设置 Github 信息.
  </div>
</div>

    </div>
  </div>
{{end}}
{{define "title"}}Golang China | {{.username}}的个人首页 {{end}}
{{define "css"}}{{end}}
{{define "js"}}{{end}}