{{define "topnav"}}
<li class="first"><a href="/">首页</a><span class="divider">/</span></li>
<li class=""><a href="/users" itemprop="url"><span itemprop="title">会员</span></a><span class="divider">/</span></li>
<li class="last active"><a href="/user/{{.user.Username}}" itemprop="url"><span itemprop="title">个人信息</span></a></li>
{{end}}
{{define "content"}}
<div id="main" class="container-fluid">
  <div class="subnav">
    <ul class="nav nav-tabs"><li class="first active"><a href="/user/{{.user.Username}}">个人信息</a></li><li class="last"><a href="/{{.user.Username}}/favorites">收藏</a></li></ul>
  </div>

  <div class="content">
    <div class="box">
      <div class="userinfo vcard">
        <div class="pull-right center" style="width:120px;">
          <a href="/user/{{.user.Username}}" title="{{.user.Username}}"><img alt="{{.user.Username}}" class="uface" src="{{gravatar .user.Email 120}}" style="width:120px;height:120px;"></a>
          {{if .me.username}}
          {{if ne .user.Username .me.username}}
          <a class="btn btn-info" href="/message/send?username={{.user.Username}}" style="margin:10px;">发送消息</a>
          {{end}}
          {{end}}
        </div>
        <span class="label role">{{range .user.Rolenames}}{{.}} {{end}}</span>
        <ul>
          <li class="with_nbsp">
            <label>&nbsp;</label>
            <span class="title">第 {{.user.Uid}} 位会员</span>
          </li>
          <li>
            <label>ID:</label>
            <strong class="fn">{{.user.Username}}</strong>
          </li>
          {{if .user.Name}}
          <li>
            <label>名字:</label>
            <span>{{.user.Name}}</span>
          </li>
          {{end}}
          {{if .user.Open}}
          <li>
            <label>Email:</label>
            <span><a href="mailto:{{.user.Email}}">{{.user.Email}}</a></span>
          </li>
          {{end}}
          <li>
            <label>注册时间:</label>
            <span>{{.user.Ctime}}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="recent_topics box">
      <h2 class="title">最近发布的帖子</h2>
      <ul>
        {{range .topics}}
        <li>
          <span class="node"><a href="/topics/node{{.Nid}}" class="node">{{.Node}}</a></span>
          <a href="/topics/{{.Tid}}" title="{{.Title}}">{{substring .Title 60 "..."}}</a>
          <span class="info">at <abbr class="timeago" title="{{formatTime .Ctime}}"></abbr></span>
        </li>
        {{else}}
        <li class="alert alert-info center">暂无</li>
        {{end}}
      </ul>
    </div>
    <div class="box">
      <h2 class="title">最近回复的帖子</h2>
      <ul class="recent_replies">
        {{range .replies}}
        <li>
          <div class="title">
            <a href="/topics/{{.Objinfo.tid}}" title="{{.Objinfo.title}}">{{substring .Objinfo.title 60 "..."}}</a>
            <span class="info">at <abbr class="timeago" title="{{formatTime .Ctime}}"></abbr></span>
          </div>
          <div class="body">
            {{noescape .Content}}
          </div>
        </li>
        {{else}}
        <li class="alert alert-info center">暂无</li>
        {{end}}
      </ul>
    </div>
  </div>
  <div class="sidebar">
    <div class="box" id="user_github_repos">
        未设置 Github 信息.
    </div>
  </div>
 </div>
</div>
{{end}}
{{define "title"}}{{.user.Username}}的个人首页 {{end}}
{{define "css"}}<link href="/static/css/users.css" media="screen" rel="stylesheet" type="text/css">{{end}}