{{define "title"}}{{if .subject.id}}修改{{else}}发布{{end}}专题 {{end}}
{{define "content"}}
<div class="row">
	<div class="col-md-9 col-sm-6">
		<div class="sep20"></div>

		<ol class="breadcrumb">
			<li><a href="/">首页</a></li>
			<li><a href="/subjects">专题</a></li>
			<li class="active">{{if .subject.id}}编辑{{else}}发布{{end}}</li>
		</ol>
		<div class="page box_white">
			<form class="form-horizontal validate-form" method="post" role="form" action="{{if .subject.id}}/subject/modify{{else}}/subject/new{{end}}" data-redirect="/subject{{if .subject.id}}/{{.subject.id}}?r={{timestamp}}{{end}}">
				{{if .subject.id}}
				<input type="hidden" name="sid" value="{{.subject.id}}" />
				{{end}}
				<div class="form-group form-group-sm">
					<label class="col-sm-1 control-label" for="title"><abbr>*</abbr>名称</label>
					<div class="col-sm-11">
						<textarea id="name" name="name" class="form-control required" style="resize: none;" rows="1" maxlength="120" autofocus="autofocus" placeholder="请输入专题标题(最多32个字）">{{.subject.Name}}</textarea>
					</div>
				</div>
				<div class="form-group form-group-sm">
					<label class="col-sm-1 control-label" for="content">描述</label>
					<div class="col-sm-11">
						<textarea id="description" name="description" class="form-control" style="min-height: 15em;" rows="10" tabindex="0"
                                  placeholder="请输入专题描述(最多1000个字）">{{.subject.Description}}</textarea>
					</div>
				</div>

				<div class="form-group form-group-sm">
					<label class="control-label col-md-1" for="upload-img">封面</label>
					<div class="col-md-11">
                        <div class="col-md-2" id="img-preview" class="form-group dn">
                            <div class="col-md-offset-2 col-md-10">
                                <img src="" alt="" width="80px" height="80px">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button id="upload-img" class="btn btn-default btn-sm">选择图片文件</button>
                            <span class="help-block">支持500K以内的jpg/png文件</span>
						</div>

					</div>

					<input id="cover" name="cover" type="hidden" value="">
				</div>

				<div class="form-group form-group-sm ">
					<label class="col-sm-1 control-label" for="contribute"><abbr>*</abbr>投稿</label>
					<div class="col-sm-11">
						<label class="radio-inline">
							<input type="radio" name="contribute" value="1" checked>
                            允许
						</label>
						<label class="radio-inline">
							<input type="radio" name="contribute" value="0">
                            不允许
						</label>
					</div>
				</div>
				<div class="form-group form-group-sm ">
					<label class="col-sm-1 control-label" for="audit"><abbr>*</abbr>审核</label>
					<div class="col-sm-11">
						<label class="radio-inline">
							<input type="radio" name="audit" value="1" checked>
							需要
						</label>
						<label class="radio-inline">
							<input type="radio" name="audit" value="0" >
							不需要
						</label>
					</div>
				</div>
				<div class="form-group form-group-sm cell">
					<div class="col-sm-6 col-sm-offset-5">
						<button type="submit" class="btn btn-default btn-sm" id="submit">{{if .subject.id}}提交修改{{else}}发布专题{{end}}</button>
					</div>
				</div>

			</form>
		</div>
	</div>

</div>
{{end}}
{{define "css"}}
<link href="//cdn.bootcss.com/select2/4.0.3/css/select2.min.css" rel="stylesheet">
<link href="/static/css/jquery.atwho.min.css" rel="stylesheet">
<link href="/static/css/highlight/default.css" media="screen" rel="stylesheet" type="text/css">
<link href="/static/css/md_toolbar.css?v=0.1" media="screen" rel="stylesheet" type="text/css">
{{end}}
{{define "js"}}
<script type="text/javascript" src="//cdn.bootcss.com/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/static/js/libs/jquery.autogrowtextarea.min.js"></script>
<script type="text/javascript" src="/static/js/libs/jquery.validate.min.js"></script>
<script type="text/javascript" src="/static/js/libs/jquery.metadata.js"></script>
<script type="text/javascript" src="/static/js/libs/jquery.validate.msg.cn.js"></script>
<script type="text/javascript" src="/static/js/libs/marked.min.js"></script>
<script type="text/javascript" src="/static/js/libs/highlight.min.js"></script>
<script type="text/javascript" src="/static/js/libs/jquery.caret.min.js"></script>
<script type="text/javascript" src="/static/js/libs/jquery.atwho.min.js"></script>
<script type="text/javascript" src="/static/js/libs/emojify.min.js"></script>
<script type="text/javascript" src="/static/js/libs/emojis.js"></script>
<script type="text/javascript" src="/static/js/libs/plupload.full.min.js"></script>
<script type="text/javascript" src="/static/js/md_toolbar.js?v=0.1"></script>
<script type="text/javascript" src="/static/js/subject.js"></script>

{{end}}