.tip { margin: 15px 0px; padding: 5px; text-align: center; height:28px;overflow:hidden; }
.tip ul {margin: 0px; color: #d54f4b;}
.tip ul li {height:28px;line-height:28px;}
.tip ul li a { color: #db6d4c; }
.tip ul li a:hover { color: #CC0000; }

.recent-list {}
.article-list { margin-top: 20px; margin-bottom: 20px;}

.recent-list .title, .article-list .title {position: relative; border-bottom: 1px solid #ccc;}
.recent-list .title h3, .article-list .title h3 { line-height: 24px;font-size: 14px; font-weight: bold; display: inline-block; margin-bottom: 4px; margin-top: 10px;}
.recent-list .title h3 a, .article-list .title h3 a {text-decoration: none;color: #666;}
.recent-list .title .more, .article-list .title .more { position: absolute; right: 3px;top: 16px;font-size: 10pt; text-decoration: none;}
.recent-list ul {padding-top: 5px;}
.recent-list ul li {height: 22px;line-height: 22px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;border-bottom: 1px #c2d5e3 dashed;margin-bottom: 5px;padding-bottom: 5px;}
.recent-list ul li i {float: left;width: 4px;height: 4px;background: #858585;margin-top: 10px;margin-right: 7px;}
.recent-list ul li a {text-decoration: none;}
.recent-list ul li a:hover {text-decoration: underline; color: #d54f4b;}

.article-list .title {margin-left: 15px; margin-right: 15px;}

.learn-info {}
.learn-info h3 {line-height: 24px;font-size: 14px; font-weight: bold; margin-bottom: 6px; margin-top: 10px; border-bottom: 1px solid #ccc; margin-left: 15px; margin-right: 15px;}
.learn-info h3 a {text-decoration: none;color: #666;}
.learn-info .infolist ul li a.video {text-decoration: none;color: #3366CC;}
.learn-info .infolist ul li { height: 23px; line-height: 23px; margin-bottom: 5px;}
.learn-info .infolist ul li a.video:hover {text-decoration: underline; color: #F37A55;}
.learn-info .infolist ul li a.learn {text-decoration: underline;color: #F37A55;}
.learn-info .infolist ul li a.learn:hover {text-decoration: none;color: #FF0000;}
.learn-info  ul li i {float: left;width: 4px;height: 4px;background: #858585;margin-top: 10px;margin-right: 7px;}

.sidebar {margin-left: 0px;}
.sidebar .box {padding: 10px;margin: 0 0 20px 0;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;-webkit-box-shadow: 0 0px 2px rgba(0,0,0,0.05);-moz-box-shadow: 0 0px 2px rgba(0,0,0,0.1);box-shadow: 0 0px 2px rgba(0,0,0,0.05); clear:both;}
.sidebar .avatar-area, .sidebar .profile-show { margin-left: 20px; }
.sidebar .top .title { line-height: 24px;font-size: 14px;font-weight: bold;display: inline-block;margin-bottom: 4px;margin-top: 10px; margin-left: 10px;}

.sidebar .sb-content .login .col-sm-10 {margin-left:10px;}