#pages .tools{text-align:right;margin-bottom:10px}#pages .tools a{margin-left:10px}#page_show .info{text-align:right;padding:0 10px 10px 10px;border-bottom:1px solid #ddd;margin:0 -10px;margin-bottom:20px}#page_show .editors{padding:10px 10px 0px 10px;border-top:1px solid #ddd;margin:0 -10px;margin-top:20px}#page_show .editors h3{font-size:14px;color:#999}#preview{width:670px;height:400px;border:1px solid #CCCCCC;border-radius:3px 3px 3px 3px;-moz-border-radius:3px 3px 3px 3px;display:none;overflow:scroll}
.tabbable .ulitem {
	border-top: solid 1px #eee;
	margin-bottom: 2px;
	padding: 5px 0;
}
.ulitem .ulinfo {
	overflow: hidden;
	opacity: 1;
	margin-left: 30px;
}
.ulitem .ino {
	margin: 5px 0;
	color: #888;
	font-size: 13px;
}
.ulitem .avatar {
	float: right;
	border: solid 1px #eee;
}
.ulitem .link-url {
	font-size: 16px;
	font-weight: bold;
	color: #259;
}
.ulitem .edi a {
	margin-right: 8px;
	color: #777;
}
.ulitem .host {
	color: #888;
}
.box .desc{
	margin: 10px 0;
}
