.box_white .desc {margin-left: 10px;margin-right: 10px;padding-top: 10px;padding-bottom: 10px;
border-bottom: 1px solid #DDD;}
.resources {padding: 0 8px;}
.resources .resource {margin-left: 0;padding-top: 10px;padding-bottom: 10px;border-bottom: 1px dashed #CCC;}
.resources .resource:hover {background: #F5F5F5;}
.resources .resource .rinfo {margin-left: 30px;}
.resources .resource .rinfo .avatar {width:48px; margin-right:10px;}
.resources .resource .rinfo .link-url {font-size: 16px;font-weight: bold;color: #259;}
.resources .resource .rinfo .host {color: #888;}
.resources .resource .rinfo .ino {margin: 5px 0;color: #888;font-size: 13px;}
.resources .resource .rinfo .edi {margin: 0 0 9px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 13px;line-height: 18px;}
.resources .resource .rinfo .edi a, .resources .resource .rinfo .edi span {margin-right: 8px;color: #777;}
