{{define "content"}}
<div class="pageheader notab">
	<h1 class="pagetitle">修改文章</h1>
</div><!--pageheader-->

<div id="contentwraapper" class="contentwrapper">
	<div id="tooltip" class="red"></div>
	<form method="POST" action="/admin/crawl/article/modify" class="stdform_q">
		<input type="hidden" id="id" name="id" value="{{.article.Id}}" />
		<div class="contenttitle2">
			<h3>基本信息</h3>
		</div>
		<div>
			<p>
				<label>文章ID</label>
				<span class="field txt">
					{{.article.Id}}
				</span>
			</p>
		</div>
		<div>
			<p>
				<label for="title">标题</label>
				<span class="field">
					<input id="title" type="text" name="title" class="smallinput required" value="{{.article.Title}}" />
				</span>
			</p>
		</div>
		<div>
			<p>
				<label>内容</label>
				<span class="field">
					<textarea>{{.article.Content}}</textarea>
				</span>
			</p>
		</div>
		<div>
			<p>
				<label>状态</label>
				<span class="field">
					<select name="status" class="uniformselect">
						<option value="0">未上线</option>
						<option value="1">已上线</option>
						<option value="2">已下线</option>
					</select>
				</span>
			</p>
		</div>
		<div>
			<p>
				<label>最后操作人</label>
				<span class="field txt">
					<a class="normal" href="/admin/user/user/detail?username={{.article.OpUser}}" target="_blank">{{.article.OpUser}}</a>
				</span>
			</p>
		</div>
		<div>
			<p>
				<label>最后修改时间</label>
				<span class="field txt">
					{{.article.Ctime}}
				</span>
			</p>
		</div>
		<div class="contenttitle2">
			<h3>操作</h3>
		</div>
		<div>
			<p> 
				<label>&nbsp;</label>
				<input type="submit" class="submit radius2" value="提交" />
			</p>
		</div>
	</form>
	<img id="loaders" src="/static/img/loaders/loader7.gif" alt="" class="hide">
	<div id="toast"></div>
	<br/>
	<br/>
</div><!--contentwrapper-->
{{end}}

{{define "css"}}
<link href="/static/css/jquery.cftoaster.1.0.1.css" media="screen" rel="stylesheet" type="text/css">
{{end}}

{{define "js"}}
<script	type="text/javascript" src="/static/js/libs/jquery.validate.min.js"></script>
<script	type="text/javascript" src="/static/js/libs/jquery.validate.msg.cn.js"></script>
<script type="text/javascript" src="/static/js/libs/jquery.cftoaster.1.0.1.js"></script>
<script	type="text/javascript" src="/static/js/admin/forms.js"></script>
<script type="text/javascript" src="/static/js/admin/topic/modify.js"></script>
{{end}}