{{define "querylist"}}
<h4>总数：{{ .total }}</h4><br/>
<table id="logo_table" cellpadding="0" cellspacing="0" border="0" class="stdtable">
	<thead class="center">
		<tr>
			<td width="3%">序号</td>
			<td width="5%">名称</td>
			<td width="3%">一级菜单</td>
			<td width="3%">二级菜单</td>
			<td width="5%">权限(路由)</td>
			<td width="5%">操作人员</td>
			<td width="10%">创建时间</td>
			<td width="10%">更新时间</td>
			<td width="8%">操作</td>
		</tr>
	</thead>
	<tbody class="center">
		{{range .datalist}}
			<tr>
				<td>{{ .Aid }}</td>
				<td>{{ .Name }}</td>
				<td>{{if eq .Menu1 0}}是{{else}}否{{end}}</td>
				<td>
					{{if ne .Menu1 0}}
						{{if eq .Menu2 0}}是{{else}}否{{end}}
					{{end}}
					</td>
				<td>{{ .Route }}</td>
				<td>{{ .OpUser }}</td>
				<td>{{ .Ctime }}</td>
				<td>{{ .Mtime }}</td>
				<td class="actions">
					<a href="/admin/user/auth/modify?aid={{ .Aid }}">修改</a>
					<a data-type="ajax-submit" href="#"
						ajax-action="/admin/user/auth/del?aid={{ .Aid }}" 
						ajax-hint="是否确定要删除?"
						success-hint="删除成功"
						callback="delCallback">删除</a>
				</td>
			</tr>
		{{end}}
	</tbody>
</table>

<div class="gigantic pagination">
	<a href="#" class="first" data-action="first">&laquo;</a>
	<a href="#" class="previous" data-action="previous">&lsaquo;</a>
	<input type="text" readonly="readonly" data-max-page="40" />
	<a href="#" class="next" data-action="next">&rsaquo;</a>
	<a href="#" class="last" data-action="last">&raquo;</a>
</div>

<input type="hidden" id="totalPages" value="{{ .totalPages }}"/>
<input type="hidden" id="cur_page" value="{{ .page }}"/>
<input type="hidden" id="limit" value="{{ .limit }}"/>

{{end}}