{{define "topnav"}}
<li class="first"><a href="/">首页</a><span class="divider">/</span></li>
<li class="last active"><a href="/wiki" itemprop="url"><span itemprop="title">Wiki索引</span></a></li>
{{end}}
{{define "content"}}
<div id="main" class="container-fluid">
  <div id="pages">
    {{if .me.isadmin}}
    <div class="tools">
      <a href="/wiki/new">新建Wiki页</a>
    </div>
    {{end}}
    <div class="box">
      <ul>
        {{range .wikis}}
        <li><a href="/wiki/{{.Uri}}" title="{{.Title}}" class="page">{{.Title}}</a></li>
        {{end}}
      </ul>
    </div>
  </div>
</div>
{{end}}
{{define "title"}}Wiki索引{{end}}
{{define "css"}}<link href="/static/css/pages.css" media="screen" rel="stylesheet" type="text/css">{{end}}