{{define "topnav"}}
<li class="first"><a href="/">首页</a><span class="divider">/</span></li>
<li class=""><a href="/wiki" itemprop="url"><span itemprop="title">Wiki</span></a><span class="divider">/</span></li>
<li class="last active"><a href="/wiki/new" itemprop="url"><span itemprop="title">新建Wiki页</span></a></li>
{{end}}
{{define "content"}}
<div id="main" class="container-fluid">
  <div class="content">
    <div class="box">
      <form accept-charset="UTF-8" action="/wiki/new.json" class="simple_form form-horizontal new_page" id="new_page" method="post" novalidate="novalidate">
        <div style="margin:0;padding:0;display:inline">
          <input name="authenticity_token" type="hidden" value="akaN6qrCyNOili4mgo2qBZrdEWqX6DzoDABRpFoQWC4=">
        </div>
        <fieldset>
          <legend>新建Wiki页</legend>
          <div class="control-group string required">
            <label class="string required control-label" for="wiki_title"><abbr title="required">*</abbr> 标题</label>
            <div class="controls">
              <input class="span4" id="wiki_title" name="title" size="30" placeholder="Wiki页面标题" type="text"/>
            </div>
          </div>
          <div class="control-group string required">
            <label class="string required control-label" for="wiki_uri"><abbr title="required">*</abbr> URL</label>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on">http://studygolang.com/wiki/</span>
                <input class="small" id="wiki_uri" name="uri" placeholder="Wiki页面访问地址" size="30" type="text"/>
              </div>
            </div>
          </div>
          <div class="control-group text required">
            <label class="text required control-label" for="wmd-input"><abbr title="required">*</abbr> 正文</label>
            <div class="controls">
              <div class="wmd-panel">
                <div id="wmd-button-bar"></div>
                <textarea class="wmd-input" id="wmd-input" name="content"></textarea>
              </div>
              <div>预览</div>
              <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
            </div>
          </div>
          <div class="form-actions">
            <input class="btn btn-primary" data-disable-with="正在保存" name="commit" type="submit" value="保存">
            <a href="/wiki" class="btn reset">取消</a>
          </div>
        </fieldset>
      </form>
  </div>
</div>

<div class="sidebar">
  <div id="topic_new_tip" class="box">
    <h2>发帖说明</h2>
    <span class="body help-block">
      <ul>
        <li>支持 Markdown 格式, <strong>**粗体**</strong>、~~删除线~~、<code>`单行代码`</code></li>
        <!--<li>支持表情，见 <a href="http://www.emoji-cheat-sheet.com/" target="_blank" rel="nofollow">Emoji cheat sheet</a></li>-->
        <li>按“M”键查看更多 <a href="/topics/new#markdown_help_tip_modal" data-toggle="modal" data-keyboard="true" data-backdrop="true">帮助</a>。</li>
      </ul>
      <div id="markdown_help_tip_modal" class="modal hide fade">
        <div class="modal-header">
          <a href="/topics/new#" class="close" data-dismiss="modal">×</a>
          <h4>格式说明</h4>
        </div>
        <div class="modal-body">
          <ul>
            <li>支持 Markdown 格式</li>
            <li><strong>**粗体**</strong>、~~删除线~~、<code>`单行代码`</code></li>
            <li>http://example.org 自动加链接</li>
            <li>@name  会链接到用户页面，并会通知他</li>
            <li>![Alt text here](http://foo.com/bar.jpg) 显示图片</li>
          </ul>
        </div>
      </div>

    </span>
  </div>
</div>
{{end}}

{{define "title"}}新建Wiki页{{end}}
{{define "css"}}
<link href="/static/css/markdown.css" media="screen" rel="stylesheet" type="text/css">
<link href="/static/css/pages.css" media="screen" rel="stylesheet" type="text/css">
{{end}}
{{define "js"}}
<script type="text/javascript" src="/static/js/pages.js"></script>
<script type="text/javascript" src="/static/js/Markdown.Converter.js"></script>
<script type="text/javascript" src="/static/js/Markdown.Sanitizer.js"></script>
<script type="text/javascript" src="/static/js/Markdown.Editor.js"></script>
<script type="text/javascript">
(function () {
    var wikiConverter = Markdown.getSanitizingConverter();
    
    wikiConverter.hooks.chain("preBlockGamut", function (text, rbg) {
        return text.replace(/^ {0,3}""" *\n((?:.*?\n)+?) {0,3}""" *$/gm, function (whole, inner) {
            return "<blockquote>" + rbg(inner) + "</blockquote>\n";
        });
    });
    
    var wikiEditor = new Markdown.Editor(wikiConverter);
    
    wikiEditor.run();
})();

$(function(){
    // 表单提交
    $('#new_page').submit(function(){
        var self = $(this);
        $.post(self.attr('action'), self.serialize(), function(data){
            if (data.errno) {
                //$('#alert_info').html(data.error).show()
                alert(data.error);
            } else {
                location.href = "/wiki/" + data.data.uri;
            }
        });
        return false;
    });
})
</script>
{{end}}
