{{define "content"}}
<div class="pageheader notab">
		<h1 class="pagetitle">用户管理</h1>
		<span class="pagedesc">管理所有线上用户的信息</span>
</div><!--pageheader-->

<div id="contentwrapper" class="contentwrapper">
	<form id="queryform" class="stdform_q" action="" method="get">
		<div>
			<p>
				<label>UID</label>
				<span class="field"><input type="text" id="q_uid" name="uid" class="smallinput" value=""/></span>
			</p>
			<p>
				<label>用户名</label>
				<span class="field"><input type="text" id="q_username" name="username" class="smallinput" value=""/></span>
			</p>
			<p>
				<label>电子邮箱</label>
				<span class="field"><input type="text" id="q_email" name="email" class="smallinput" value=""/></span>
			</p>
		</div>
		<div>
			<p>
				<label>创建时间</label>
				<span class="field">
					<input type="text" id="create_time_min" name="create_time_min" class="smallinput date_time" style="width:80px;" value=""/> ～ 
					<input type="text" id="create_time_max" name="create_time_max" class="smallinput date_time" style="width:80px;" value=""/>
				</span>
		</p>
		</div>
		<div>
			<p> 
				<label>&nbsp;</label>
				<span class="field"><button id="queryform_sub" class="submit radius2">查询</button></span>
			</p>
		</div>
	</form>
		<div class="contenttitle2">
				<h3>数据列表</h3>
		</div>
		<div id="query_result">
			{{template "querylist" .}}
		</div>
		<img id="loaders" src="/static/img/loaders/loader7.gif" alt="" class="hide">
			
</div><!--contentwrapper-->

<br clear="all" />
{{end}}
{{define "js"}}
<script	type="text/javascript" src="/static/js/admin/jquery.jqpagination.min.js"></script>
<script type="text/javascript">
// 需要传入下面js的变量定义
var GLOBAL_CONF = {
    "action_query" : "/admin/user/user/query.html",
    "query_params" : {
	    	'uid' : '#q_uid',
	    	'username' : '#q_username',
	    	'email' : '#q_email',
	    	'create_time_min' : '#create_time_min',
	    	'create_time_max' : '#create_time_max'
    }
};
</script>
<script	type="text/javascript" src="/static/js/admin/datalist.js"></script>
{{end}}