{{define "title"}}{{.article.Title}} {{end}}
{{define "seo"}}<meta name="keywords" content="{{.setting.SeoKeywords}}">
<meta name="description" content="{{substring .article.Txt 200 ""}}">{{end}}
{{define "content"}}
<div class="row">
	<div class="col-md-9 col-sm-6">
		<div class="sep20"></div>
		<ol class="breadcrumb">
			<li><a href="/">首页</a></li>
			<li><a href="/articles">文章</a></li>
		</ol>
		<div class="page">
			<div class="box_white">
				<div class="title">
					{{if .article.IsSelf}}
					<div class="pull-right">
						<a href="/user/{{.article.User.Username}}" title="{{.article.User.Username}}">
							<img src="{{gravatar .article.User.Avatar .article.User.Email 62 .is_https}}" alt="{{if .article.User.Name}}{{.article.User.Name}}{{else}}{{.article.User.Username}}{{end}}" width="62px" height="62px">
						</a>
					</div>
					{{end}}
					<h1>
						{{.article.Title}}
					</h1>
					<small class="gray">
						{{if .article.IsSelf}}
						<a href="/user/{{.article.User.Username}}">{{.article.User.Username}}</a>
						{{else}}
						<span>{{.article.AuthorTxt}}</span>
						{{end}}
						 · <span title="{{.article.Ctime}}" class="timeago"></span> · {{.article.Viewnum}} 次点击 &nbsp; &nbsp;
						{{if canEdit .me .article}}
						<a id="edit" class="op" href="javascript:" title="编辑">编辑</a>
						{{end}}
					</small>
					<small class="gray" style="margin-left: 20px;"><span class="timeago" title="{{.cur_time}}"></span> 开始浏览</small>
				</div>
				{{if gt (distanceDay .article.Ctime) 100 }}
				<div class="outdated">这是一个创建于 <span title="{{.article.Ctime}}" class="timeago"></span> 的文章，其中的信息可能已经有所发展或是发生改变。</div>
				{{end}}
				<div class="cell">
					<div id="myeditor" class="content article-entry">
						{{noescape .article.Content}}
					</div>

					{{if not .article.IsSelf}}
					<div class="row orig-info">
						<p>本文来自：<a href="/wr?u=http://{{.article.Domain}}" target="_blank" title="{{.article.Name}}">{{.article.Name}}</a></p>
						<p>感谢作者：{{noescape .article.AuthorTxt}}</p>
						<p>查看原文：<a href="/wr?u={{.article.Url}}" target="_blank" title="{{.article.Title}}">{{.article.Title}}</a></p>
					</div>
					{{end}}
				</div>
				
				<div class="content-buttons">
					<div class="pull-right gray f11" style="line-height: 12px; padding-top: 3px; text-shadow: 0px 1px 0px #fff;">{{.article.Viewnum}} 次点击 &nbsp;{{if .article.Likenum}}∙&nbsp; {{.article.Likenum}} 赞 &nbsp; {{end}}</div>
					<a class="tb collect" href="javascript:;" title="{{if .hadcollect}}取消收藏{{else}}加入收藏{{end}}" data-objid="{{.article.Id}}" data-objtype="1" data-collect="{{.hadcollect}}">{{if .hadcollect}}取消收藏{{else}}加入收藏{{end}}</a> &nbsp;
					<div id="content-thank">
						<a class="tb" href="javascript:;" title="{{if .likeflag}}取消赞{{else}}赞{{end}}" data-objid="{{.article.Id}}" data-objtype="1" data-flag="{{.likeflag}}">{{if .likeflag}}取消赞{{else}}赞{{end}}</a>
					</div>
				</div>
			</div>
			<!-- content END -->
			<div class="sep20"></div>

			<!-- 评论列表 -->
			<div id="replies" class="box_white">
				<div class="cell">
					<div class="pull-right" style="margin: -3px -5px 0px 0px;">
					{{if .article.Tags}}
						{{$tags := explode .article.Tags ","}}
						{{range $tags}}
						<a href="/tag/{{.}}" class="tag"><li class="fa fa-tag"></li> {{.}}</a>
						{{end}}
					{{end}}
					</div>
					<span class="gray"><span class="cmtnum">{{.article.Cmtnum}}</span> 回复 {{if .article.Cmtnum}}&nbsp;<strong class="snow">|</strong> &nbsp;直到 {{end}}</span>
				</div>
				<div class="comment-list cell" data-objid="{{.article.Id}}" data-objtype="1" {{if .me.Uid}}data-username="{{.me.Username}}" data-uid="{{.me.Uid}}" data-avatar="{{gravatar .me.Avatar .me.Email 48 .is_https}}"{{end}}>
					<div class="words hide"><div class="text-center">暂无回复</div></div>
				</div>
			</div>

			<!-- 评论框 -->
			{{template "comment" .}}
			
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="sep20"></div>
		{{include "common/my_info.html" .}}

		{{if .pos_ad.right1}}
		<div class="box_white sidebar" id="ad-right1">
			{{if eq .pos_ad.right1.AdType 0}}
				{{noescape .pos_ad.right1.Code}}
			{{end}}
		</div>
		{{end}}

		<div class="box_white sidebar">
			<div class="top">
				<ul class="list-inline text-center">
					<li class="first"><a href="/topics" target="_blank" class="cur" title="点击更多">最新主题</a>|</li>
					<li class="second"><a href="/resources" target="_blank" title="点击更多">最新资源</a>|</li>
					<li class="last"><a href="/articles" target="_blank" title="点击更多">最新博文</a></li>
				</ul>
				<p class="bar"></p>
			</div>
			<div class="sb-content">
				<div class="topic-list first">
					<ul class="list-unstyled">
						<img src="/static/img/loaders/loader7.gif" alt="加载中" />
					</ul>
				</div>
				<div class="resource-list second hidden">
					<ul class="list-unstyled">
					</ul>
				</div>
				<div class="article-list last hidden">
					<ul class="list-unstyled">
					</ul>
				</div>
			</div>
		</div>
		
		{{if .pos_ad.right2}}
		<div class="box_white sidebar" id="ad-right2">
			{{if eq .pos_ad.right2.AdType 0}}
				{{noescape .pos_ad.right2.Code}}
			{{end}}
		</div>
		{{end}}
		
	</div>
</div>

<template id="content_tpl">
{{noescape .article.Content}}
</template>

{{end}}
{{define "css"}}
<link href="/static/css/highlight/default.css" media="screen" rel="stylesheet" type="text/css">
<link href="/static/css/syntax_highlight/shCore.css" media="screen" rel="stylesheet" type="text/css">
<link href="/static/css/syntax_highlight/shCoreDefault.css" media="screen" rel="stylesheet" type="text/css">
{{if .article.Css}}
<link href="{{.article.Css}}" media="screen" rel="stylesheet" type="text/css">
{{end}}
{{if .article.IsSelf}}
<link href="/static/css/prism.css" media="screen" rel="stylesheet" type="text/css">
{{end}}
<link href="/static/css/jquery.atwho.min.css" media="screen" rel="stylesheet" type="text/css">
{{end}}
{{define "js"}}
<script type="text/javascript" src="//cdn.ckeditor.com/4.6.2/standard-all/ckeditor.js"></script>
<script	type="text/javascript" src="/static/js/libs/jquery.autogrowtextarea.min.js"></script>
<script type="text/javascript" src="/static/js/libs/marked.min.js"></script>
<script type="text/javascript" src="/static/js/libs/highlight.min.js"></script>
<script type="text/javascript" src="/static/js/libs/jquery.caret.min.js"></script>
<script type="text/javascript" src="/static/js/libs/jquery.atwho.min.js"></script>
<script type="text/javascript" src="/static/js/libs/emojify.min.js"></script>
<script type="text/javascript" src="/static/js/libs/emojis.js"></script>
<!-- <script type="text/javascript" src="//twemoji.maxcdn.com/twemoji.min.js"></script>
<script type="text/javascript" src="/static/js/libs/twemojis.js"></script> -->
<script type="text/javascript" src="/static/js/libs/plupload.full.min.js"></script>
<script type="text/javascript" src="/static/js/comment.js?v=1.3"></script>
<script type="text/javascript" src="/static/js/puploader.js?v=1.1"></script>
{{if .article.IsSelf}}
<script type="text/javascript">
$('code[class*="language-"]').parent('pre').addClass('line-numbers');
</script>
<script type="text/javascript" src="/static/js/prism.js"></script>
{{end}}
<script type="text/javascript">
// 需要加载的侧边栏
SG.SIDE_BARS = [
	"/topics/recent",
	"/resources/recent",
	"/comments/recent",
	"/projects/recent",
	"/rank/view",
];

$(function(){
	// 文本框自动伸缩
	$('.need-autogrow').autoGrow();
	
	loadComments();

	// 文章链接，在本站的 iframe 中打开
	$('#wrapper .content').on('mousedown', 'a', function(evt){
		var url = $(this).attr('href');
		// $(this).attr('href', '/wr?u='+url);
		$(this).attr('href', url);
		$(this).attr('target', '_blank');
	});
});
</script>
<script type="text/javascript" src="/static/ckeditor/config.js"></script>
<script type="text/javascript">
$(function(){
	CKEDITOR.plugins.addExternal('prism', '/static/ckeditor/plugins/prism/', 'plugin.js');
	$('#edit').on('click', function(){
		var txt = $(this).text();
		if (txt == '编辑') {
			$('#myeditor').attr('contenteditable', true);
			$('#myeditor').html($('#content_tpl').html());
			if (!CKEDITOR.instances.myeditor) {
				MyEditorConfig.extraPlugins = MyEditorExtraPlugins+',prism,sourcedialog';
				MyEditorConfig.toolbarGroups = [
					{ name: 'undo' },
					{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
					{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align' ] },
					{ name: 'links' },
					{ name: 'insert' },
					{ name: 'styles' },
					{ name: 'document', groups: [ 'mode', 'document' ] }
				];
				MyEditorConfig.removeButtons = 'Anchor,SpecialChar,HorizontalRule,Table,Styles,Subscript,Superscript';
				CKEDITOR.inline( 'myeditor', MyEditorConfig );
			}

			$(this).text('完成');
		} else {
			if (CKEDITOR.instances.myeditor) {
				var content = CKEDITOR.instances.myeditor.getData();
				modify(content);

				CKEDITOR.instances.myeditor.destroy();

				Prism.highlightAll();
			}

			$('#myeditor').attr('contenteditable', false);
			$(this).text('编辑');
		}
	});

	CKEDITOR.on('instanceReady', function(evt, editor) {
		$('#myeditor').find('.cke_widget_element').each(function(){
			$(this).addClass('line-numbers').css('background-color', '#000');
		});
	});

	function modify(content)
	{
		var url = '/articles/modify',
			data = { id: $('#title').data('id'), content:content };

		$.ajax({
			type: "post",
			url: url,
			data: data,
			dataType: 'json',
			success: function(data){
				if(data.ok){
					if (typeof data.msg != "undefined") {
						comTip(data.msg);
					} else {
						comTip("修改成功！");
					}
				}else{
					comTip(data.error);
				}
			},
			complete:function(xmlReq, textStatus){
			},
			error:function(xmlReq, textStatus, errorThrown){
				if (xmlReq.status == 403) {
					comTip("没有修改权限");
				}
			}
		});
	}
});

</script>

{{if .pos_ad.right1}}
	{{if eq .pos_ad.right1.AdType 1}}
		{{noescape .pos_ad.right1.Code}}
	{{end}}
{{end}}

<script>
var baiduImagePlus = {
noLogo:true,
  unionId:'u2368846',
  formList:[{formId:10}]
};
</script>
<script src="//cpro.baidustatic.com/cpro/ui/i.js"></script>
{{end}}
